html, body {
  margin: 0;
  padding: 0;
  background: #000;
  min-height: 100%;
}

#content {
  font-family: Lucida Grande, Helvetica, sans-serif;
  background: #fff;
  margin: 0;
  height: 100%;
  padding: 0px;
  padding-top: 2em;
  padding-bottom: 2em;
}

#footer {
  margin: 0;
  background: #222;
  color: #999;
  height: 3em;
}

#footer p {
  margin: 0;
  padding: 10px;
  text-align: right;
}

.form-error {
  color: #dc3545;
  font-size: 0.75em;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.table td {
  vertical-align: middle;
}

label.error {
  font-size: 0.8em;
  color: #dc3545;
}

input.error
{
    border: 1px solid #dc3545 !important; 
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #333333; /* Blue */
    border-radius: 90%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.border-3 {
    border-width:3px !important;
}

.btn-not {
  background-color: #007bff;
  color: #fff;
}

button:focus {outline:0;}
