html, body {
  margin: 0;
  padding: 0;
  background: #000;
  min-height: 100%;
}

#content {
  font-family: Lucida Grande, Helvetica, sans-serif;
  background: #fff;
  margin: 0;
  height: 100%;
  padding: 0px;
  padding-top: 2em;
  padding-bottom: 2em;
}

#footer {
  margin: 0;
  background: #222;
  color: #999;
  height: 3em;
}

#footer p {
  margin: 0;
  padding: 10px;
  text-align: right;
}
