.btn-delete {
  font-family: "Material Icons";
}

.btn-evaluate {
  font-family: "Material Icons";
}

input:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}