{% load static %}

<div>
  <div id="properties_data" 
    data-appraisal_id="{{appraisal.id}}"
    data-ajax_load_sidebar_url="{% url 'ajax_load_sidebar_url' %}"
    data-ajax_load_realestate_url="{% url 'ajax_load_realestate_url' %}"
    data-ajax_edit_address_modal_url="{% url 'ajax_edit_address_modal_url' %}",
    data-ajax_edit_address_url="{% url 'ajax_edit_address_url' %}",
    data-ajax_edit_property_modal_url="{% url 'ajax_edit_property_modal_url' %}"
    data-ajax_show_property_url="{% url 'ajax_show_property_url' %}"
    data-ajax_add_property_modal_url="{% url 'ajax_add_property_modal_url' %}"
    data-ajax_add_apartment_modal_url="{% url 'ajax_add_apartment_modal_url' %}"
    data-ajax_add_property_url="{% url 'ajax_add_property_url' %}",
    data-ajax_edit_property_url="{% url 'ajax_edit_property_url' %}",
    data-ajax_remove_property_url="{% url 'ajax_remove_property_url' %}",
    data-ajax_add_apartment_url="{% url 'ajax_add_apartment_url' %}",
    data-ajax_add_rol_url="{% url 'ajax_add_rol_url' %}",
    data-ajax_save_property_url="{% url 'ajax_save_property_url' %}",
    data-ajax_add_rol_modal_url="{% url 'ajax_add_rol_modal_url' %}",
    data-ajax_edit_rol_modal_url="{% url 'ajax_edit_rol_modal_url' %}"
    data-ajax_edit_rol_url="{% url 'ajax_edit_rol_url' %}",
    data-ajax_add_property_comparable_modal_url="{% url 'ajax_add_property_comparable_modal_url' %}",
    data-ajax_remove_rol_url="{% url 'ajax_remove_rol_url' %}">
  </div>
    
  <div class="row mt-4 ml-0 mr-0">

    <!-- Sidebar -->
    <div class="col-3 border-right" id="sidebar">
      {% include "appraisal/properties/sidebar/sidebar.html" %}
    </div>

    <!-- Main -->
    <div class="col-9">
      <form class="needs-validation" action="" method="post" id="form_property" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div id="property_info" class="mt-3" style="padding-left:2em;">
        </div>
      </form>
    </div>

  </div>
</div>

<script src="{% static 'appraisal/js/properties.js' %}" type="text/javascript"></script>

<script>
  $(document).ready(function(){
    load_sidebar()
  })
</script>