{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyDgwKrK7tfcd9kCtS9RKSBsM5wYkTuuc7E&libraries=places"></script>
        <script src="{% static 'home/js/google-maps-autocomplete.js' %}"></script>
    </head>
    <h1>Tasador</h1>
    <h2>Búsqueda</h2>
    <form action="/search/" method="get">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Buscar">
    </form>
    <h2>Tasaciones</h2>
</html>
