{% extends "list/base.html" %}

{% load static %}

{% block content %}

<div class="jumbotron">	
	<div class="row">
		<div class="col-1">
		</div>
			<div class="col-7">
			<h1 class="display-4 mt-5">Tasaciones centralizadas</h1>
			<p class="lead"> Tasador es una plataforma para realizar tasaciones. Encuentre los datos que necesita, realize sus informes y exporte en los formatos que requiera. </p>
		</div>
		<div class="col-3">
			{% include "login_form.html" %}
		</div>
		<div class="col-1">
		</div>
	</div>
</div>

{% endblock %}
