{% load custom_tags %}

<thead>
  {% with state=4 %}
    {% include 'main/appraisals_table_header.html' %}
  {% endwith %}
</thead>
<tbody>
  <tr>
    {% with state=2 %}
      {% include 'main/appraisals_table_search.html' %}
    {% endwith %}
  </tr>
  {% for appraisal in appraisals_sent %}
  {% has_notification_appraisal appraisal.id notifications_appraisal_ids as hna %}
  <tr class="appraisal sent {{hna|yesno:"notification,"}}" id="tr_table_sent-{{appraisal.id}}">
    {% include 'main/appraisals_table_sent_tr.html' %}
  </tr>
  {% endfor %}
</tbody>