{% load custom_tags %}

<thead>
  <tr>
    <th scope="col" style="width:20px">ID</th>
    <th scope="col" style="width:100px">Cliente</th>
    <th scope="col" style="width:80px">Código</th>
    <th scope="col" style="width:20px;text-align:center;">T.</th>
    <th scope="col" style="width:420px;">Dirección</th>
    <th scope="col" style="width:120px;">Tasador</th>
    <th scope="col" style="width:200px;">Entregada</th>
    <th scope="col" style="width:60px;"></th>
  </tr>
</thead>
<tbody>
  {% for appraisal in appraisals_finished %}
  <tr class="finished {{appraisal.tasadorUser.id}}" id="app2-{{appraisal.tasadorUser.id}}">
    <td class="id">
      <small>{{ appraisal.id }}</small>
    </td>
    <td class="solicitante">
      {{ appraisal.solicitanteVerbose }}
    </td>
    <td class="solicitanteCodigo">
      <small>{{ appraisal.solicitanteCodigo }}</small>
    </td>
    <td style="text-align:center;">
      <i class="{{ appraisal.real_estates.first.get_propertyTypeIcon }}"></i>
    </td>
    <td class="address">
      <a href={{appraisal.url}}>
        {{ appraisal.address_no_region }}
      </a>
    </td>
    <td>
      <span style="vertical-align: middle;" class="tasador">
        {% if appraisal.tasadorUser %}
          {{ appraisal.tasadorUser.first_name.0 }}. {{ appraisal.tasadorUser.last_name }}
        {% else %}
        -
        {% endif %}
      </span>
    </td>
    <!--
    <td>
      {{appraisal.timeCreated | date:"D d M, H:i"}}
    </td>
    -->
    <td>
      {{appraisal.timeFinished | date:"d/m/Y G:i" }}
    </td>
    <td style="text-align:right;">
      {% include 'main/btn_logbook.html' %}
      {% if perms.appraisal.assign_visador %}
      {% include 'main/btn_evaluate.html' %}
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>