<td style="width:30px;padding:0em 0.5em 0em 0em;">
  <input class="form-control form-control-sm search" placeholder="" id="buscar_id"></input>
</td>
<td style="width:100px;padding:0em 0.5em 0em 0em;">
  <input class="form-control form-control-sm search" placeholder="" id="buscar_solicitante"></input>
</td>
<td style="width:80px;padding:0em 0.5em 0em 0em;">
  <input class="form-control form-control-sm search" placeholder="" id="buscar_solicitanteCodigo"></input>
</td>
<td style="width:20px;padding:0em 0.5em 0em 0em;">
  <input class="form-control form-control-sm search" placeholder="" id="buscar_tipo"></input>
</td>
<td style="width:200px;padding:0em 0.5em 0em 0em;">
  <input class="form-control form-control-sm search" placeholder="" id="buscar_address"></input>
</td>
<td style="padding:0em 0.5em 0em 0em;">
  <input class="form-control form-control-sm search" placeholder="" id="buscar_tasador"></input>
</td>
<td style="padding:0em 0.5em 0em 0em;">
  <input class="form-control form-control-sm search" placeholder="" id="buscar_visador"></input>
</td>
<td>
</td>
<td>
</td>
<td>
</td>
<td>
</td>