<td>
  <small>
    <span class="id">{{ appraisal.id }}</span>
  </small>
</td>
<td>
  <span class="solicitante">{{ appraisal.solicitanteVerboseShort }}</span>
</td>
<td>
  <small>
    <span class="solicitanteCodigo">{{ appraisal.solicitanteCodigo }}</span>
  </small>
</td>
<td style="text-align:center;">
  <span class="propertyType">{% include 'main/td_property_type_icon.html' %}</span>
</td>
<td>
  <a class="address" href="{{appraisal.url}}">
    {{ appraisal.address_no_region }}
  </a>
</td>
<td>
  <div class="row">
    <div class="col-auto">
      <span style="vertical-align: middle;" class="tasadorUser">
      {% if appraisal.tasadorUser %}
        {{ appraisal.tasadorUser.first_name.0 }}. {{ appraisal.tasadorUser.last_name.strip }}
      {% else %}
      -
      {% endif %}
      </span>
    </div>
    {% if perms.appraisal.assign_tasador %}
    {% if appraisal.in_appraisal %}
    <div class="col text-right">
      <button type="button" class="btn btn-sm btn-light btn_unassign_tasador_modal" data-toggle="modal" data-target="#modal_unassign_tasador" value="{{appraisal.id}}" style="font-family:Material Icons;font-size:1.0em;margin-bottom:1px;border:0px;">
        remove_circle_outline
      </button>
    </div>
    {% endif %}
    {% endif %}
  </div>
</td>
<td>
  <div class="row">
    <div class="col-auto">
      <span style="vertical-align: middle;" class="visadorUser">
      {% if appraisal.visadorUser %}
        {{ appraisal.visadorUser.first_name.0 }}. {{ appraisal.visadorUser.last_name.strip }}
      {% else %}
      -
      {% endif %}
      </span>
    </div>
    {% if perms.appraisal.assign_visador %}
    {% if appraisal.in_appraisal %}
    <div class="col text-right">
      {% with class="btn_assign_visador_modal" %}
        {% include 'main/btn_assign_user.html' %}
      {% endwith %}
    </div>
    {% endif %}
    {% endif %}
  </div>
</td>
{% include 'main/appraisals_table_td_date_created.html' %}
<td class="dateDue">
  {% if appraisal.daysLeft > 3 %}
    <p style="margin-bottom:0em;" class="font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
  {% elif appraisal.daysLeft > 1 %}
    <p style="margin-bottom:0em;" class="text-warning font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
  {% else %}
    <p style="margin-bottom:0em;" class="text-danger font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
  {% endif %}
</td>
<td style="text-align:right;">
  {% with table="in_appraisal" %}
    {% include 'main/btn_logbook.html' %}
  {% endwith %}
</td>