{% extends "main/base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
<div class="card mb-4 ml-4 mr-4" id="div_imported" style="font-size:0.8em;">
  <div class="card-body">
    <h5 class="card-title">Tasaciones importadas</h5>
    <div class="alert alert-primary" role="alert" id="div_alert_imported" style="display: none;">
      No hay tasaciones importadas
    </div>
    <table class="table table-sm table-borderless" id="table_imported" >
      <div class="container" style="max-width:100%">


        <thead>
          <tr>
            <th scope="col" style="width:1em">ID</th>
            <th scope="col" style="width:8em">Cliente</th>
            <th scope="col" style="width:8em">Código</th>
            <th scope="col" style="width:1em;text-align:center;">T.</th>
            <th scope="col" style="width:19em">Dirección</th>
            <th scope="col" style="width:11em">Tasador</th>
            <!--<th scope="col">Fecha creación</th>-->
            <th scope="col" style="width:11em">Entregada</th>
            <th scope="col" style="width:17em"></th>
            <th scope="col" style="width:5em"></th>
          </tr>
        </thead>

        <tbody>
          {% for appraisal in appraisals_imported %}
          <tr class="previas {{appraisal.tasadorUser.id}}" id="app2-{{appraisal.tasadorUser.id}}">
            <td>
              <small>{{ appraisal.id }}</small>
            </td>
            <td>
              {{ appraisal.solicitanteVerbose }}
            </td>
            <td>
              <small>{{ appraisal.solicitanteCodigo }}</small>
            </td>
            <td style="text-align:center;">
              <i class="{{ appraisal.real_estates.first.get_propertyTypeIcon }}"></i>
            </td>
            <td>
              <a href={{appraisal.url}}>
                {{ appraisal.address_no_region }}
              </a>
            </td>
            <td>
              <span style="vertical-align: middle;">
                {% if appraisal.tasadorUser %}
                  {{ appraisal.tasadorUser.first_name.0 }}. {{ appraisal.tasadorUser.last_name }}
                {% else %}
                -
                {% endif %}
              </span>
            </td>
            <!--
            <td>
              {{appraisal.timeCreated | date:"D d M, H:i"}}
            </td>
            -->
            <td>
              {{appraisal.timeFinished | date }}
            </td>
            <td>
            </td>
            <td style="text-align:right;">
              <button id='btn-vis' onclick="location.href='{{appraisal.url}}'" type="button" class="btn btn-dark btn-sm btn-delete" style="font-family:Material Icons;font-size:1.0em;margin-bottom:1px;border:0px;">
                visibility
              </button>
              {% if perms.appraisal.assign_visador %}
              <button type="button" id="{{appraisal.tasadorUser.id}}"
                      value="{{appraisal.id}}"
                      class="btn btn-dark btn-sm btn-evaluate evaluateAppraisal"
                      data-toggle="modal"
                      data-target="#evaluateAppraisal"
                      data-ontime="{{appraisal.appraisalevaluation.onTime}}"
                      data-completeness="{{appraisal.appraisalevaluation.completeness}}"
                      data-correctsurface = "{{appraisal.appraisalevaluation.correctSurface}}"
                      data-completenormative = "{{appraisal.appraisalevaluation.completeNormative}}"
                      data-homologatedreferences = "{{appraisal.appraisalevaluation.homologatedReferences}}"
                      data-commenttext="{{appraisal.appraisalevaluation.commentText}}"
                      data-generalquality="{{appraisal.appraisalevaluation.generalQuality}}"
                      data-commentfeedback="{{appraisal.appraisalevaluation.commentFeedback}}"
                      style="font-family:Material Icons;font-size:1.0em;margin-bottom:1px;border:0px;">
                assessment
              </button>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>



        </div>
    </table>
  </div>
</div>
{% include "main/modals.html" %}
{% endblock %}

<script>

  var comment = function () {
    var form = document.getElementById('form_comment');
    var formData = new FormData(form);
    var url = $("#form_comment").attr("data-comment-url");
    $('#logbook').find('#loading').toggle()
    $.ajax({
        url: url,
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
        error: function () {
          $('#logbook').find('#loading').toggle()
          alert("Error al comentar.");
          return false;
        },
        success: function (data) {
          $('#logbook').find('#historial').html($.trim(data))
          $('#logbook').find('#loading').toggle()
        },
        complete: function (data) {
          registerCommentDeleteButtons();
        }
    });
    return false;
  }

  var registerCommentDeleteButtons = function() {
    $(".delete_comment").on('click',function() {
      var comment_id = $(this).data('id');
      var appraisal_id = $(this).data('appraisal-id');
      var url = $(this).data('delete-comment-url');
      $.ajax({
        url: url,
        type: 'get',
        data: {'comment_id':comment_id,'appraisal_id':appraisal_id},
        error: function () {
          alert("Error al eliminar comentario.");
          return false;
        },
        success: function (data) {
          $('#comment_'+data.comment_id).fadeOut()
        }
      });
    })
  }

  var assignTableActions = function() {

    $(".btn_logbook").unbind()
    $(".btn_logbook").off()
    $(".btn_logbook").on("click", function (event) {
      // Opens logbook modal, and gets the data of the comments
      // from an AJAX request. Also changes a hidden input to
      // the appraisal id to have at the post request.
      event.preventDefault();
      id = $(this).val(); // button has id of appraisal
      btn = $(this)
      $("#in_appraisal_id").val(id); // hidden input
      // remove notification style, if there.
      btn.removeClass('btn-not');
      btn.find('.ld').toggle();
      btn.find('#icon').toggle();
      btn.prop('disabled', true);
      // ajax
      var url = $(this).attr("data-logbook-url");
      $.ajax({
        url: url,
        type: 'get',
        data: {'id':id},
        error: function () {
            alert("Error al abrir la bitacora.");
            return false;
        },
        success: function (data) {
          $('#logbook').find('.modal-body').html($.trim(data));
          $('#logbook').modal('show');
        },
        complete: function (data) {
          registerCommentDeleteButtons();
          btn.find('.ld').toggle();
          btn.find('#icon').toggle();
          btn.prop('disabled', false);
        }
      });
    });

    $(".btn_delete_appraisal_modal").unbind()
    $(".btn_delete_appraisal_modal").off()
    $(".btn_delete_appraisal_modal").on("click", function (event) {
      // Called on click of delete button in the active table.
      var id = $(this).data('id');
      $('#modal_delete').modal('show');
      $('#modal_delete').find('#appraisal_id').val(id);
    });

    $("#btn_delete_appraisal").unbind()
    $("#btn_delete_appraisal").off()
    $("#btn_delete_appraisal").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var appraisal_id = $('#appraisal_id').val();
      var url = "{% url 'ajax_delete_appraisal_url' %}";
      btn = $(this);
      btn.addClass('running');
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al borrar tasación.");
            return false;
        },
        success: function (data) {
          btn.removeClass('running');
          btn.prop('disabled', false);
          removeRow("active",appraisal_id)
          assignTableActions()
          $("#modal_delete").modal('hide')
        }
      });
    });

    // --------------------------------------------------------------------------------------------
    // Assign functions are called in the 'not_assigned' table, when
    // the corresponding buttons are clicked.

    $(".btn_assign_tasador_modal").unbind()
    $(".btn_assign_tasador_modal").off()
    $(".btn_assign_tasador_modal").on("click", function (event) {
      // Assigns to a hidden input in the tasador modal the value of the
      // appraisal, to have in the post request.
      var url = "{% url 'ajax_assign_tasador_modal_url' %}";
      var appraisal_id = $(this).val();
      $("#modal_assign_tasador").find("#ld-alert").show();
      $("#modal_assign_tasador").find("#table").hide();
      $("#modal_assign_tasador").modal('show');
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
          alert("Error al desplegar modal de tasador.");
          $("#modal_assign_tasador").modal('hide');
          return false;
        },
        success: function (data) {
          $("#modal_assign_tasador").html(data)
          $("#modal_assign_tasador").find("#ld-alert").hide();
          $("#modal_assign_tasador").find("#table").show();
          $('#modal_assign_tasador_appraisal_id').val(appraisal_id);
          assignTableActions();
        }
      });
    });

    $("#btn_assign_tasador").unbind()
    $("#btn_assign_tasador").off()
    $("#btn_assign_tasador").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to assign a tasador
      // to the appraisal, and returns the 'not_accepted' table back,
      // to be replaced.
      var url = "{% url 'ajax_assign_tasador_url' %}";
      var appraisal_id = $('#modal_assign_tasador_appraisal_id').val();
      var formData = $('#form_assign_tasador').serialize();
      btn = $(this)
      btn.addClass('running')
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'post',
        data: formData,
        error: function () {
          alert("Error al asignar tasador.");
          return false;
        },
        success: function (data) {
          removeRow("not_assigned",appraisal_id)
          replaceTable("not_accepted",data)
          assignTableActions()
          $("#modal_assign_tasador").modal('hide')
          btn.removeClass('running')
          btn.prop('disabled', false);
        }
      });
    });

    $(".btn_assign_visador_modal").unbind()
    $(".btn_assign_visador_modal").off()
    $(".btn_assign_visador_modal").on("click", function (event) {
      // Assigns to a hidden input in the tasador modal the value of the
      // appraisal, to have in the post request.
      var url = "{% url 'ajax_assign_visador_modal_url' %}";
      var appraisal_id = $(this).val();
      var source_table = $(this).closest('table').attr('id');
      $("#modal_assign_visador").find("#ld-alert").show();
      $("#modal_assign_visador").find("#table").hide();
      $("#modal_assign_visador").modal('show');
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
          alert("Error al desplegar modal de visador.");
          $("#modal_assign_visador").modal('hide');
          return false;
        },
        success: function (data) {
          $("#modal_assign_visador").html(data)
          $("#modal_assign_visador").find("#ld-alert").hide();
          $("#modal_assign_visador").find("#table").show();
          $('#modal_assign_visador_appraisal_id').val(appraisal_id);
          $('#modal_assign_visador_source_table').val(source_table);
          assignTableActions();
        }
      });
    });

    $("#btn_assign_visador").unbind()
    $("#btn_assign_visador").off()
    $("#btn_assign_visador").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to assign a visador
      // to the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var source_table = $('#modal_assign_visador_source_table').val();
      var url = "{% url 'ajax_assign_visador_url' %}";
      var formData = $('#form_assign_visador').serialize();
      $(this).addClass('running')
      $(this).prop('disabled', true);
      $.ajax({
        url: url,
        type: 'post',
        data: formData,
        error: function () {
          alert("Error al asignar visador.");
          $(this).removeClass('running')
          $(this).prop('disabled', false);
          return false;
        },
        success: function (data) {
          if (source_table == "table_not_assigned") {
            replaceTable("not_assigned",data)
          } else if (source_table == "table_active") {
            replaceTable("active",data)
          }
          assignTableActions()
          $("#modal_assign_visador").modal('hide')
          $("#modal_assign_visador").find("#btn_assign_visador").removeClass('running')
          $("#modal_assign_visador").find("#btn_assign_visador").prop('disabled', false);
        }
      });
    });

    // --------------------------------------------------------------------------------------------
    // Unassign functions are available in the 'active' table, to unassign
    // the current tasador or visador, and therefore put back the appraisal
    // in the 'not_assigned' table.

    $(".btn_unassign_tasador_modal").unbind()
    $(".btn_unassign_tasador_modal").off()
    $(".btn_unassign_tasador_modal").on("click", function (event) {
      // Show the modal (via bootsrap), and set the corresponding variable inside the modal
      // to the appraisal id, which is the value of the button clicked.
      var id = $(this).val();
      $('#modal_unassign_tasador_appraisal_id').val(id);
    });

    $(".btn_unassign_visador_modal").unbind()
    $(".btn_unassign_visador_modal").off()
    $(".btn_unassign_visador_modal").on("click", function (event) {
      // Show the modal (via bootsrap), and set the corresponding variable inside the modal
      // to the appraisal id, which is the value of the button clicked.
      var id = $(this).val();
      $('#modal_unassign_visador_appraisal_id').val(id);
    });

    $("#btn_unassign_tasador").unbind()
    $("#btn_unassign_tasador").off()
    $("#btn_unassign_tasador").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var appraisal_id = $('#modal_unassign_tasador_appraisal_id').val();
      var url = "{% url 'ajax_unassign_tasador_url' %}";
      btn = $(this);
      btn.addClass('running');
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al desasignar tasador.");
            return false;
        },
        success: function (data) {
          btn.removeClass('running');
          btn.prop('disabled', false);
          removeRow("active",appraisal_id)
          replaceTable("not_assigned",data)
          assignTableActions()
          $("#modal_unassign_tasador").modal('hide')
        }
      });
    });

    $("#btn_unassign_visador").unbind()
    $("#btn_unassign_visador").off()
    $("#btn_unassign_visador").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var appraisal_id = $('#modal_unassign_visador_appraisal_id').val();
      var url = "{% url 'ajax_unassign_visador_url' %}";
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al desasignar visador.");
            return false;
        },
        success: function (data) {
          replaceTable("active",data)
          assignTableActions()
          $("#modal_unassign_visador").modal('hide')
        }
      });
    });

    $(".btn-accept").unbind()
    $(".btn-accept").off()
    $(".btn-accept").on("click", function (event) {
      // Button to accept an appraisals that has been requested.
      event.preventDefault();
      appraisal_id = $(this).val(); // button has id of appraisal
      url = "{% url 'ajax_accept_appraisal_url' %}"
      rows = $('#table_not_accepted tr').length;
      btn = $(this)
      btn.find('.ld').toggle();
      btn.find('#icon').toggle();
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        dataType: 'html',
        error: function() {
          alert("Error al aceptar tasación.");
          return false;
        },
        success: function (data) {
          removeRow("not_accepted",appraisal_id)
          replaceTable("active",data)
          assignTableActions();
        },
        complete: function (data) {
          btn.find('.ld').toggle();
          btn.find('#icon').toggle();
          btn.prop('disabled', false);
        }
      })
    });

    $(".btn-reject").unbind()
    $(".btn-reject").off()
    $(".btn-reject").on("click", function (event) {
      // Button to reject an appraisals that has been requested.
      event.preventDefault();
      appraisal_id = $(this).val(); // button has id of appraisal
      url = "{% url 'ajax_reject_appraisal_url' %}"
      rows_not_accepted = $('#table_not_accepted tr').length;
      rows_not_assigned = $('#table_not_assigned tr').length;
      btn = $(this)
      btn.find('.ld').toggle();
      btn.find('#icon').toggle();
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        dataType: 'html',
        error: function() {
          alert("Error al rechazar tasación.");
          return false;
        },
        success: function (data) {
          if (rows_not_accepted > 2) {
            $("#tr_not_accepted-"+appraisal_id).fadeOut()
          } else {
            $("#table_not_accepted").fadeOut()
            $("#div_alert_not_accepted").fadeToggle()
          }
          $("#table_not_assigned").html($.trim(data))
          if (rows_not_assigned <= 2) {
            $("#table_not_assigned").fadeToggle()
            $("#div_alert_not_assigned").fadeToggle()
          }
          assignTableActions();
        },
        complete: function (data) {
          btn.find('.ld').toggle();
          btn.find('#icon').toggle();
          btn.prop('disabled', false);
        }
      })
    });
  }

  var removeRow = function(table_name,appraisal_id) {
    // Remove row from table. Takes into account if this is
    // the last row remaining, in that case it hides the whole
    // table and shows the no elements alert div.
    var nrows = $("#table_"+table_name+" tr").length;
    if (nrows > 2) {
      $("#tr_"+table_name+"-"+appraisal_id).fadeOut()
    } else {
      $("#table_"+table_name).fadeOut()
      $("#div_alert_"+table_name).fadeToggle()
    }
  }

  var replaceTable = function(table_name,data) {
    // Replaces a table, usuallhy from data from AJAX. Takes
    // into account the size of the table and hides the
    // alert of no elements if the table returned has elements.
    $("#table_"+table_name).html($.trim(data))
    var nrows = $("#table_"+table_name+" tr").length;
    if (nrows == 1) {
      $("#table_"+table_name).fadeToggle()
      $("#div_alert_"+table_name).fadeToggle()
    }
  }

  $(document).ready(function($) {

    // Show or hide tables or empty warnings

    appraisals_not_assigned_n = {{appraisals_not_assigned|length}}
    if (appraisals_not_assigned_n > 0) {
      $("#table_not_assigned").toggle()
    } else {
      $("#div_alert_not_assigned").toggle()
    }

    appraisals_not_accepted_n = {{appraisals_not_accepted|length}}
    if (appraisals_not_accepted_n > 0) {
      $("#table_not_accepted").toggle()
    } else {
      $("#div_alert_not_accepted").toggle()
    }

    appraisals_active_n = {{appraisals_active|length}}
    if (appraisals_active_n > 0) {
      $("#table_active").toggle()
    } else {
      $("#div_alert_active").toggle()
    }

    appraisals_finished_n = {{appraisals_finished|length}}
    if (appraisals_finished_n > 0) {
      $("#table_finished").toggle()
    } else {
      $("#div_alert_finished").toggle()
    }

    appraisals_imported_n = {{appraisals_imported|length}}
    if (appraisals_imported_n > 0) {
      $("#table_imported").toggle()
    } else {
      $("#div_alert_imported").toggle()
    }

    // Tooltips.

    $('.btn-evaluate').tooltip({'title':'Evaluar'})

    $('.btn_delete_appraisal').tooltip({'title':'Borrar'})

    $('.btn_logbook').tooltip({'title':'Bitácora'})

    $('.btn_assign_tasador_modal').tooltip({'title':'Desasignar'})

    $('.btn_unassign_tasador_modal').tooltip({'title':'Desasignar'})

    $('.btn_assign_visador_modal').tooltip({'title':'Desasignar'})

    $('.btn_unassign_visador_modal').tooltip({'title':'Desasignar'})


    // Actions.

    assignTableActions()

    $("#comment").on("click", function (event) {
      // Click of comment button in comment form.
      event.preventDefault();
      comment();
    });

    $('#logbook').on('hidden.bs.modal', function (e) {
      // When the logbook modal is closed, we delete the notifications
      // related to this appraisal. For that we need AJAX
      var appraisal_id = $("#in_appraisal_id").val();
      var url = "{% url 'ajax_logbook_close_url' %}";
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al cerrar la bitacora.");
            return false;
        },
        success: function (data) {
          // everything is done in the view
        },
        complete: function (data) {
          // everything is done in the view
        }
      });
      return false;
    })

    $("#id_event").on('change', function (e) {
      console.log(e)
      var url = "{% url 'ajax_logbook_change_event_url' %}";
      $("#id_text").text('hola')
    });

  });

  function getLogbookData(id) {
    var btn = $('#logbook_'+id);
    var url = btn.attr("data-logbook-url");
    $.ajax({
      url: url,
      type: 'get',
      data: {'id':id},
      error: function () {
          alert("Error al abrir la bitacora.");
          return false;
      },
      success: function (data) {
        $('#logbook').find('#historial').html($.trim(data));
        $('#logbook').modal('show');
      },
      complete: function (data) {
        registerCommentDeleteButtons();
      }
    });
    return false;
  }

</script>

<script>
     //Handles the click true/false value of the appraisal evaluation form

  $('#evaluateAppraisal input').on('click',function(){
      var id = $(this).val();
      if (id == 'False'){
      $(this).val('True');
      }
      else {
      $(this).val('False');
      }
  });
</script>

<script>
    //Loads database values of the appraisal evaluation

    //gives appraisal and appraiser id to the input so the view knows wich appraisal and appraiser is receiving

  $(document).on('click','.evaluateAppraisal',function(){
      var id = $(this).val();
      var id2 = $(this).attr('id');
      $('#evaluadorAppraisal_id').val(id);
      $('#evaluador_id').val(id2);


      //takes the value of the data base in the data tags of the input and paste it in the corresponding appraisal evaluation
      var ontime = $(this).data('ontime');
      $('#id_onTime').val(ontime);
      var completeness = $(this).data('completeness');
      $('#id_completeness').val(completeness);
      var generalQ = $(this).data('generalquality');
      $('#id_generalQuality').val(generalQ);
      var correctS = $(this).data('correctsurface');
      $('#id_correctSurface').val(correctS);
      var completeN = $(this).data('completenormative');
      $('#id_completeNormative').val(completeN);
      var homologatedR = $(this).data('homologatedreferences');
      $('#id_homologatedReferences').val(homologatedR);
      var comment = $(this).data('commenttext');
      $('#id_commentText').val(comment);
      var feedback = $(this).data('commentfeedback');
      $('#id_commentFeedback').val(feedback);

      //this section makes the True values shows as checked and the false value as unchecked
      $( '#evaluateAppraisal input' ).each(function( index ) {
        var v = $(this).val();
          if (v == "False"){
            $(this).removeAttr('checked');
          }
          else{
            $('#evaluateAppraisal input').attr('checked');
          }
        });
      });
</script>





