        <script>
          function timeCreated(string) {
            var s = moment(string).format("D MMM HH:MM");
            document.write(s)
          }
        </script>

        <script>
          function timeLeft(string) {
            var m = moment(string);
            document.write(m.fromNow());
          }
        </script>

<div class="container" style="max-width:100%">

<div class="card mb-4">

  <div class="card-body">

  <h5 class="card-title">Tasaciones activas</h5>

  <table class="table table-sm table-borderless">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Cliente</th>
        <th scope="col" style="text-align:center;">T.</th>
        <th scope="col">Dirección</th>
        <th scope="col">Tasador</th>
        <th scope="col">Visador</th>
        <th scope="col" style="text-align:center;">E.</th>
        <th scope="col">Creada</th>
        <th scope="col">Entrega</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for appraisal in appraisals_active %}
      <tr class="clickable-row">
        <td>
          {{ appraisal.id }}
        </td>
        <td>
          {{ appraisal.solicitanteVerbose }}
        </td>
        <td style="text-align:center;">
          <i class="{{ appraisal.realEstate.get_propertyTypeIcon }}"></i>
        </td>
        <td>
          <a href="{{appraisal.url}}">
            {{ appraisal.realEstate.addressVerboseNoRegion }}
          </a>
        </td>
        <td>
          <div class="row">
            <div class="col-auto">
              <span style="vertical-align: middle;">
              {% if appraisal.tasadorUser %}
                {{ appraisal.tasadorUser.first_name.0 }}. {{ appraisal.tasadorUser.last_name }}
              {% else %}
              -
              {% endif %}
              </span>
            </div>
            {% if perms.appraisal.assign_tasador %}
            {% if appraisal.active %}
            <div class="col text-right">
              <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#asignarTasador" style="font-family:Material Icons;font-size:1.0em;margin-bottom:1px;border:0px;">
                person_add
              </button>
            </div>
            {% endif %}
            {% endif %}
          </div>
        </td>
        <td>
          <div class="row">
            <div class="col-auto">
              <span style="vertical-align: middle;">
              {% if appraisal.visadorUser %}
                {{ appraisal.visadorUser.first_name.0 }}. {{ appraisal.visadorUser.last_name }}
              {% else %}
              -
              {% endif %}
              </span>
            </div>
            {% if perms.appraisal.assign_visador %}
            {% if appraisal.active %}
            <div class="col text-right">
              <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#asignarVisador" style="font-family:Material Icons;font-size:1.0em;margin-bottom:1px;border:0px;">
                person_add
              </button>
            </div>
            {% endif %}
            {% endif %}
          </div>
        </td>
        <td style="text-align:center;">
          {% if appraisal.active %}
          <i class="fas fa-play"></i>
          {% elif appraisal.paused %}
          <i class="fas fa-pause"></i>
          {% endif %}
        </td>
        <td class="Creada">
          <script>timeCreated("{{appraisal.timeCreated | date:"c"}}");</script>
        </td>
        <td>
        {% if appraisal.daysLeft > 3 %}
          <p style="margin-bottom:0em;" class="font-weight-bold"><script>timeLeft("{{appraisal.timeDue|date:"c"}}");</script></p>
        {% elif appraisal.daysLeft > 1 %}
          <p style="margin-bottom:0em;" class="text-warning font-weight-bold"><script>timeLeft("{{appraisal.timeDue|date:"c"}}");</script></p>
        {% else %}
          <p style="margin-bottom:0em;" class="text-danger font-weight-bold"><script>timeLeft("{{appraisal.timeDue|date:"c"}}");</script></p>
        {% endif %}
        </td>
        <td>
        <button type="button" data-id="{{appraisal.id}}" class="btn btn-dark btn-sm delete_appraisal" style="font-family:Material Icons;font-size:1.0em;margin-bottom:1px;border:0px;">
          delete
        </button>
        <button onclick="location.href='{{appraisal.url}}?tab=logbook'" type="button" id="button_delete" class="btn btn-dark btn-sm" style="font-family:Material Icons;font-size:1.0em;margin-bottom:1px;border:0px;">
          comment
        </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

<div class="card mb-4">

  <div class="card-body">

  <h5 class="card-title">Tasaciones previas</h5>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Tipo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Tasador</th>
        <th scope="col">Fecha creación</th>
        <th scope="col">Fecha término</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for appraisal in appraisals_finished %}
      <tr class="previas">
        <td>
          {{ appraisal.id }}
        </td>
        <td>
          {{ appraisal.realEstate.get_propertyType_display }}
        </td>
        <td>
          <a class="text-dark" href={{appraisal.url}}>
            {{ appraisal.realEstate.address }}
          </a>
        </td>
        <td>
          {{ appraisal.tasadorUser.first_name }} {{ appraisal.tasadorUser.last_name }}
        </td>
        <td>
          {{appraisal.timeCreated | date:"D d M, H:i"}}
        </td>
        <td>
          {{appraisal.timeFinished | date:"D d M, H:i"}}
        </td>
        <td>
        <button onclick="location.href='{{appraisal.url}}?tab=logbook'" type="button" id="button_delete" class="btn btn-dark btn-sm">
          visibility
        </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

</div>

{% include "main/modals.html" %}

<script>

  $(document).ready(function($) {
    $(".clickable-row").hover(
      function() {
        $(this).addClass('table-secondary')
      },
      function() {
        $(this).removeClass('table-secondary')
      }
    );
  });

  $(document).on('click','.delete_appraisal',function(){
      var id = $(this).data('id');
      $.ajax({
          url:'',
          type:'POST',
          data:{
              'id':id,
              'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
          },
          success:function(data){
              $('#appraisal_id').val(id);
              $('#modalDelete').modal('show');
          },
          error:function(){
              console.log('error')
          },
      });
  });
</script>

<script>
  $(document).on('click','.asignar_Tasador',function(){
      var id = $(this).data('id');
      console.log(id);
      $('#tasadorAppraisal_id').val(id);
      });
</script>

