{% load custom_tags %}

<thead>
  {% include 'main/appraisals_table_header.html' %}
</thead>
<tbody>
  <tr>
    {% include 'main/appraisals_table_search.html' %}
  </tr>
  {% for appraisal in appraisals_not_accepted %}
  <tr class='not_accepted {{appraisal.tasadorUser.id}}' id="tr_table_not_accepted-{{appraisal.id}}">
    <td class="id">
      <small>{{ appraisal.id }}</small>
    </td>
    <td class="solicitante">
      {{ appraisal.solicitanteVerboseShort }}
    </td>
    <td class="solicitanteCodigo">
      <small>{{ appraisal.solicitanteCodigo }}</small>
    </td>
    <td style="text-align:center;">
        {% include 'main/td_property_type_icon.html' %}
    </td>
    <td>
      <a href="{{appraisal.url}}" class="address" style="{{appraisal.in_conflict|yesno:"font-weight:800;color:red;,"}}">
        {{ appraisal.address_no_region }}
      </a>
    </td>
    <td>
      <div class="row">
        <div class="col-auto">
          <span style="vertical-align: middle;" class="tasador">
          {% if appraisal.tasadorUser %}
            {{ appraisal.tasadorUser.first_name.0 }}. {{ appraisal.tasadorUser.last_name.strip }}
          {% else %}
            -
          {% endif %}
          </span>
        </div>
      </div>
    </td>
    <td>
      <div class="row">
        <div class="col-auto">
          <span style="vertical-align: middle;" class="visador">
          {% if appraisal.visadorUser %}
            {{ appraisal.visadorUser.first_name.0 }}. {{ appraisal.visadorUser.last_name.strip }}
          {% else %}
            -
          {% endif %}
          </span>
        </div>
      </div>
    </td>
    <td class="Creada">
      {{appraisal.timeCreated | date:"d/m/Y"}}
    </td>
    <td>
    {% if appraisal.daysLeft > 3 %}
      <p style="margin-bottom:0em;" class="font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
    {% elif appraisal.daysLeft > 1 %}
      <p style="margin-bottom:0em;" class="text-warning font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
    {% else %}
      <p style="margin-bottom:0em;" class="text-danger font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
    {% endif %}
    </td>
    <td style="text-align:right;">
      {% with table="not_accepted" %}
        {% include 'main/btn_logbook.html' %}
      {% endwith %}
    </td>
  </tr>
  {% endfor %}
</tbody>