
{% load static %}

<script src="{% static "main/js/modal_assign_tasador.js" %}" type="text/javascript"></script>
<script src="{% static "main/js/modal_assign_visador.js" %}" type="text/javascript"></script>

{% load custom_tags %}

<div class="container" style="max-width:100%">

<!-- SEARCH -->

<div class="card mb-4" id="div_not_assigned" style="font-size:0.8em;">
  <div class="card-body">

    <h5 class="card-title">Buscar</h5>

    <table class="table table-sm table-borderless">
      <thead>
        <tr>
          <th scope="col" style="width:2em">
          </th>
          <th scope="col" style="width:8em">
            <input class="form-control form-control-sm mb-2" placeholder="Cliente" id="buscar_solicitante"></input>
          </th>
          <th scope="col" style="width:6.5em">
            <input class="form-control form-control-sm mb-2" placeholder="Código" id="buscar_solicitanteCodigo"></input>
          </th>
          <th scope="col" style="width:1em;text-align:center;">
          </th>
          <th scope="col" style="width:19em;">
            <input class="form-control form-control-sm mb-2" placeholder="Dirección" id="buscar_address"></input>
          </th>
          <th scope="col" style="width:11em;">
            <input class="form-control form-control-sm mb-2" placeholder="Tasador" id="buscar_tasador"></input>
          </th>
          <th scope="col" style="width:11em;">
            <input class="form-control form-control-sm mb-2" placeholder="Visador" id="buscar_visador"></input>
          </th>
          <th scope="col" style="width:8em;">
          </th>
          <th scope="col" style="width:8em;">
          </th>
          <th scope="col" style="width:4em;"></th>
        </tr>
      </thead>
    </table>

  </div>
</div>

<!-- NOT ASSIGNED -->

{% if request.user|has_group:"asignador" or user.is_superuser %} 

<div class="card mb-4" id="div_not_assigned" style="font-size:0.8em;">
  <div class="card-body">
    <h5 class="card-title">Tasaciones por asignar</h5>
    <div class="alert alert-primary mb-0" role="alert" id="div_alert_table_not_assigned" style="display:none;">
      No hay tasaciones por asignar
    </div>
    <table class="table table-sm table-borderless" id="table_not_assigned" style="display:none;">
      {% include 'main/appraisals_not_assigned.html' %}
    </table>
  </div>
</div>

{% endif %}

<!-- NOT ACCEPTED -->

<div class="card mb-4" id="div_not_accepted" style="font-size:0.8em;">
  <div class="card-body">
    <h5 class="card-title">Tasaciones por aceptar</h5>
    <div class="alert alert-primary mb-0" role="alert" id="div_alert_table_not_accepted" style="display:none;">
      No tiene tasaciones por aceptar
    </div>
    <table class="table table-sm table-borderless" id="table_not_accepted" style="display:none;">
      {% include 'main/appraisals_not_accepted.html' %}      
    </table>
  </div>
</div>

<!-- ACTIVE -->

<div class="card mb-4" id="div_active" style="font-size:0.8em;">
  <div class="card-body">
    <h5 class="card-title">Tasaciones activas</h5>
    <div class="alert alert-primary" role="alert" id="div_alert_table_active" style="display: none;">
      No hay tasaciones activas
    </div>
    <table class="table table-sm table-borderless" id="table_active" style="display:none;">
      {% include 'main/appraisals_active.html' %}
    </table>
  </div>
</div>

<!-- FINISHED -->

<div class="card mb-4" id="div_finished" style="font-size:0.8em;">
  <div class="card-body">
    <h5 class="card-title">Tasaciones finalizadas</h5>
    <div class="alert alert-primary" role="alert" id="div_alert_table_finished" style="display: none;">
      No hay tasaciones finalizadas
    </div>
    <table class="table table-sm table-borderless" id="table_finished" style="display: none;">
      {% include 'main/appraisals_finished.html' %}
    </table>
  </div>
</div>

{% include "main/modals.html" %}

</div>

<script>

  var assignLogbookModalActions = function() {
    
    $("#id_event").unbind()
    $("#id_event").off()
    $("#id_event").on("change", function (event) {
      console.log('change')
      console.log($(this).val())
      if ($(this).val() == 3) {
        $("#div_datetime").slideDown()
      } else {
        $("#div_datetime").slideUp()
      }
    })

    $("#btn_comment").unbind()
    $("#btn_comment").off()
    $("#btn_comment").on("click", function (event) {
      // Click of comment button in comment form.
      event.preventDefault();
      var form = document.getElementById('form_comment');
      var formData = new FormData(form);
      var url = $("#form_comment").attr("data-comment-url");
      var appraisal_id = $("#in_appraisal_id").val()
      $('#logbook').find('#loading').show()
      $.ajax({
        url: url,
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
        error: function () {
          $('#logbook').find('#loading').hide()
          alert("Error al comentar.");
          return false;
        },
        success: function (data) {
          $('#logbook').find('.modal-body').html($.trim(data));
          $("#in_appraisal_id").val(appraisal_id); // hidden input
        },
        complete: function (data) {
          assignLogbookModalActions();
        }
      });
    });
    
    $(".delete_comment").unbind()
    $(".delete_comment").off()
    $(".delete_comment").on('click',function() {
      var comment_id = $(this).data('id');
      var appraisal_id = $(this).data('appraisal-id');
      var url = $(this).data('delete-comment-url');
      $.ajax({
        url: url,
        type: 'get',
        data: {'comment_id':comment_id,'appraisal_id':appraisal_id},
        error: function () {
          alert("Error al eliminar comentario.");
          return false;
        },
        success: function (data) {
          $('#id_event').empty()
          for (var i=0; i<data.choices.length; i++) {
            $('#id_event').append($("<option></option>")
                    .attr("value",data.choices[i][0])
                    .text(data.choices[i][1]));
          }
          $('#comment_'+data.comment_id).fadeOut()
        }
      });
    })

    $(".btn_accept").unbind()
    $(".btn_accept").off()
    $(".btn_accept").on("click", function (event) {
      // Button to accept an appraisals that has been requested.
      var appraisal_id = $(this).val(); // button has id of appraisal
      var url = "{% url 'ajax_accept_appraisal_url' %}"
      var btn = $(this)
      var form = document.getElementById('form_comment');
      var formData = new FormData(form);
      btn.find('.ld').toggle();
      btn.find('#icon').toggle();
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
        error: function() {
          alert("Error al aceptar tasación.");
          btn.find('.ld').toggle();
          btn.find('#icon').toggle();
          btn.prop('disabled',false);
          return false;
        },
        success: function (data) {
          removeRow("table_not_accepted",appraisal_id)
          replaceTable("table_active",data)
          assignTableActions();
        },
        complete: function (data) {
          btn.find('.ld').toggle();
          btn.find('#icon').toggle();
          btn.prop('disabled', false);
          $('#logbook').modal('hide');
        }
      })
    });

    $(".btn_reject").unbind()
    $(".btn_reject").off()
    $(".btn_reject").on("click", function (event) {
      // Button to reject an appraisals that has been requested.
      var appraisal_id = $(this).val(); // button has id of appraisal
      var url = "{% url 'ajax_reject_appraisal_url' %}"
      var btn = $(this)
      var form = document.getElementById('form_comment');
      var formData = new FormData(form);
      event.preventDefault();
      btn.find('.ld').toggle();
      btn.find('#icon').toggle();
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'post',
        data: formData,
        processData: false,
        contentType: false,
        error: function() {
          alert("Error al rechazar tasación.");
          btn.find('.ld').toggle();
          btn.find('#icon').toggle();
          btn.prop('disabled', false);
          return false;
        },
        success: function (data) {
          removeRow("table_not_accepted",appraisal_id)
          replaceTable("table_not_assigned",data)
          assignTableActions();
        },
        complete: function (data) {
          btn.find('.ld').toggle();
          btn.find('#icon').toggle();
          btn.prop('disabled', false);
          $('#logbook').modal('hide');
        }
      })
    });
  }

  var assignTableActions = function() {

    $(".btn_logbook").unbind()
    $(".btn_logbook").off()
    $(".btn_logbook").on("click", function (event) {
      // Opens logbook modal, and gets the data of the comments
      // from an AJAX request. Also changes a hidden input to
      // the appraisal id to have at the post request.
      event.preventDefault();
      btn = $(this)
      table = btn.closest('table').attr('id')
      id = btn.val(); // button has id of appraisal
      btn.removeClass('btn-not');
      btn.find('.ld').toggle();
      btn.find('#icon').toggle();
      btn.prop('disabled', true);
      // ajax
      var url = $(this).attr("data-logbook-url");
      $.ajax({
        url: url,
        type: 'get',
        data: {'id':id},
        error: function () {
            alert("Error al abrir la bitacora.");
            return false;
        },
        success: function (data) {
          $('#logbook').find('.modal-body').html($.trim(data));
          $("#in_appraisal_id").val(id); // hidden input
          $('#logbook').modal('show');
          if (table == "table_not_accepted") {
            $('#logbook').find('#div_event').hide()
            $('#logbook').find('#div_comment_btn').hide()
            $('#logbook').find('#div_accept_reject').show()
          }
        },
        complete: function (data) {
          btn.find('.ld').toggle();
          btn.find('#icon').toggle();
          btn.prop('disabled', false);
          assignLogbookModalActions();
        }
      });
    });

    $(".btn_delete_appraisal_modal").unbind()
    $(".btn_delete_appraisal_modal").off()
    $(".btn_delete_appraisal_modal").on("click", function (event) {
      // Called on click of delete button in the active table.
      var appraisal_id = $(this).data('id');
      var source_table = $(this).closest('table').attr('id');
      $('#modal_delete').find('#appraisal_id').val(appraisal_id);
      $('#modal_delete').find('#source_table').val(source_table);
      $('#modal_delete').modal('show');
    });

    $("#btn_delete_appraisal").unbind()
    $("#btn_delete_appraisal").off()
    $("#btn_delete_appraisal").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var appraisal_id = $(this).closest('#modal_delete').find('#appraisal_id').val();
      var source_table = $(this).closest('#modal_delete').find('#source_table').val();
      var url = "{% url 'ajax_delete_appraisal_url' %}";
      btn = $(this);
      btn.addClass('running');
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al borrar tasación.");
            btn.removeClass('running');
            btn.prop('disabled', false);
            return false;
        },
        success: function (data) {
          btn.removeClass('running');
          btn.prop('disabled', false);
          console.log(source_table)
          removeRow(source_table,appraisal_id)
          assignTableActions()
          $("#modal_delete").modal('hide')
        }
      });
    });

    // --------------------------------------------------------------------------------------------
    // Assign functions are called in the 'not_assigned' table, when
    // the corresponding buttons are clicked.
    ajax_assign_tasador_modal_url = "{% url 'ajax_assign_tasador_modal_url' %}";
    ajax_assign_visador_modal_url = "{% url 'ajax_assign_visador_modal_url' %}";
    ajax_assign_tasador_url = "{% url 'ajax_assign_tasador_url' %}";
    ajax_assign_visador_url = "{% url 'ajax_assign_visador_url' %}";
    btn_assign_tasador_modal();
    btn_assign_visador_modal();
    btn_assign_tasador();
    btn_assign_visador();

    $(".visador_radio").on( "click", function() {
      $("#modal_assign_visador").find("#alert_already_chosen").hide()
    })

    // --------------------------------------------------------------------------------------------
    // Unassign functions are available in the 'active' table, to unassign
    // the current tasador or visador, and therefore put back the appraisal
    // in the 'not_assigned' table.

    $(".btn_unassign_tasador_modal").unbind()
    $(".btn_unassign_tasador_modal").off()
    $(".btn_unassign_tasador_modal").on("click", function (event) {
      // Show the modal (via bootsrap), and set the corresponding variable inside the modal
      // to the appraisal id, which is the value of the button clicked.
      var id = $(this).val();
      $('#modal_unassign_tasador_appraisal_id').val(id);
    });

    $(".btn_unassign_visador_modal").unbind()
    $(".btn_unassign_visador_modal").off()
    $(".btn_unassign_visador_modal").on("click", function (event) {
      // Show the modal (via bootsrap), and set the corresponding variable inside the modal
      // to the appraisal id, which is the value of the button clicked.
      var id = $(this).val();
      $('#modal_unassign_visador_appraisal_id').val(id);
    });

    $("#btn_unassign_tasador").unbind()
    $("#btn_unassign_tasador").off()
    $("#btn_unassign_tasador").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var appraisal_id = $('#modal_unassign_tasador_appraisal_id').val();
      var url = "{% url 'ajax_unassign_tasador_url' %}";
      btn = $(this);
      btn.addClass('running');
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al desasignar tasador.");
            btn.removeClass('running');
            btn.prop('disabled', false);
            return false;
        },
        success: function (data) {
          btn.removeClass('running');
          btn.prop('disabled', false);
          removeRow("table_active",appraisal_id)
          replaceTable("table_not_assigned",data)
          assignTableActions()
          $("#modal_unassign_tasador").modal('hide')
        }
      });
    });

    $("#btn_unassign_visador").unbind()
    $("#btn_unassign_visador").off()
    $("#btn_unassign_visador").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var appraisal_id = $('#modal_unassign_visador_appraisal_id').val();
      var url = "{% url 'ajax_unassign_visador_url' %}";
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al desasignar visador.");
            return false;
        },
        success: function (data) {
          replaceTable("table_active",data)
          assignTableActions()
          $("#modal_unassign_visador").modal('hide')
        }
      });
    });
  }

  var removeRow = function(table_name,appraisal_id) {
    // Remove row from table. Takes into account if this is
    // the last row remaining, in that case it hides the whole
    // table and shows the no elements alert div.
    var nrows = $("#"+table_name+" tr").length;
    if (nrows > 2) {
      $("#tr_"+table_name+"-"+appraisal_id).fadeOut()
    } else {
      $("#"+table_name).fadeOut()
      $("#div_alert_"+table_name).fadeToggle()
    }
  }

  var replaceTable = function(table_name,data) {
    // Replaces a table, usuallhy from data from AJAX. Takes
    // into account the size of the table and hides the 
    // alert of no elements if the table returned has elements.
    $("#"+table_name).html($.trim(data))
    var nrows = $("#"+table_name+" tr").length;
    if (nrows == 0) {
      $("#"+table_name).fadeOut()
      $("#div_alert_"+table_name).fadeIn()
    } else {
      $("#"+table_name).fadeIn()
      $("#div_alert_"+table_name).fadeOut()
    }
  }

  $(document).ready(function($) {

    // Show or hide tables or empty warnings

    appraisals_not_assigned_n = {{appraisals_not_assigned|length}}
    if (appraisals_not_assigned_n > 0) {
      $("#table_not_assigned").toggle()
    } else {
      $("#div_alert_table_not_assigned").show()
    }

    appraisals_not_accepted_n = {{appraisals_not_accepted|length}}
    if (appraisals_not_accepted_n > 0) {
      $("#table_not_accepted").toggle()
    } else {
      $("#div_alert_table_not_accepted").toggle()
    }

    appraisals_active_n = {{appraisals_active|length}}
    if (appraisals_active_n > 0) {
      $("#table_active").toggle()
    } else {
      $("#div_alert_table_active").toggle()
    }

    appraisals_finished_n = {{appraisals_finished|length}}
    if (appraisals_finished_n > 0) {
      $("#table_finished").toggle()
    } else {
      $("#div_alert_table_finished").toggle()
    }

    appraisals_imported_n = {{appraisals_imported|length}}
    if (appraisals_imported_n > 0) {
      $("#table_imported").toggle()
    } else {
      $("#div_alert_table_imported").toggle()
    }

    // Actions.

    assignTableActions()

    $('#logbook').on('hidden.bs.modal', function (e) {
      // When the logbook modal is closed, we delete the notifications
      // related to this appraisal. For that we need AJAX
      var appraisal_id = $("#in_appraisal_id").val();
      var url = "{% url 'ajax_logbook_close_url' %}";
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al cerrar la bitacora.");
            return false;
        },
        success: function (data) {
          // everything is done in the view
        },
        complete: function (data) {
          // everything is done in the view
        }
      });
      return false;
    })

    $("#id_event").on('change', function (e) {
      var url = "{% url 'ajax_logbook_change_event_url' %}";
      $("#id_text").text('hola')
    });

  });

</script>

<script>
     //Handles the click true/false value of the appraisal evaluation form

  $('#evaluateAppraisal input').on('click',function(){
      var id = $(this).val();
      if (id == 'False'){
      $(this).val('True');
      }
      else {
      $(this).val('False');
      }
  });
</script>

<script>
    //Loads database values of the appraisal evaluation

    //gives appraisal and appraiser id to the input so the view knows wich appraisal and appraiser is receiving

  $(document).on('click','.evaluateAppraisal',function(){
      var id = $(this).val();
      var id2 = $(this).attr('id');
      $('#evaluadorAppraisal_id').val(id);
      $('#evaluador_id').val(id2);


      //takes the value of the data base in the data tags of the input and paste it in the corresponding appraisal evaluation
      var ontime = $(this).data('ontime');
      $('#id_onTime').val(ontime);
      var completeness = $(this).data('completeness');
      $('#id_completeness').val(completeness);
      var generalQ = $(this).data('generalquality');
      $('#id_generalQuality').val(generalQ);
      var correctS = $(this).data('correctsurface');
      $('#id_correctSurface').val(correctS);
      var completeN = $(this).data('completenormative');
      $('#id_completeNormative').val(completeN);
      var homologatedR = $(this).data('homologatedreferences');
      $('#id_homologatedReferences').val(homologatedR);
      var comment = $(this).data('commenttext');
      $('#id_commentText').val(comment);
      var feedback = $(this).data('commentfeedback');
      $('#id_commentFeedback').val(feedback);

      //this section makes the True values shows as checked and the false value as unchecked
      $( '#evaluateAppraisal input' ).each(function( index ) {
        var v = $(this).val();
          if (v == "False"){
            $(this).removeAttr('checked');
          }
          else{
            $('#evaluateAppraisal input').attr('checked');
          }
        });
      });
</script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<script>
  var search_appraisals = function(field,val) {
    val = val.toLowerCase()
    if (!val) {
      return
    }
    var row_class = ["tr.not_assigned","tr.not_accepted","tr.active"];
    for (var i=0; i<row_class.length; i++) {
      $(row_class[i]).each(function() {
        var field_value = $(this).find("."+field).html().trim();
        field_value = field_value.toLowerCase()
        if (field_value.indexOf(val) < 0) {
          $(this).hide()
        }
      });
    }
  }
  var search_all = function() {
    $("tr.not_assigned").each(function() {
      $(this).show()
    })
    $("tr.not_accepted").each(function() {
      $(this).show()
    })
    $("tr.active").each(function() {
      $(this).show()
    })
    val = $("#buscar_solicitante").val()
    search_appraisals('solicitante',val)
    val = $("#buscar_solicitanteCodigo").val()
    search_appraisals('solicitanteCodigo',val)
    val = $("#buscar_address").val()
    search_appraisals('address',val)
    val = $("#buscar_tasador").val()
    search_appraisals('tasador',val)
    val = $("#buscar_visador").val()
    search_appraisals('visador',val)
  }
  $("#buscar_solicitante").on('keyup',function() {
    search_all()
  })
  $("#buscar_solicitante").on('change',function() {
    search_all()
  })
  $("#buscar_solicitanteCodigo").on('keyup',function() {
    search_all()
  })
  $("#buscar_solicitanteCodigo").on('change',function() {
    search_all()
  })
  $("#buscar_address").on('keyup',function() {
    search_all()
  })
  $("#buscar_address").on('change',function() {
    search_all()
  })
  $("#buscar_tasador").on('keyup',function() {
    search_all()
  })
  $("#buscar_tasador").on('change',function() {
    search_all()
  })
  $("#buscar_visador").on('keyup',function() {
    search_all()
  })
  $("#buscar_visador").on('change',function() {
    search_all()
  })
</script>