<div class="row">
  <div class="col-12">


    {% if appraisal.active or appraisal.paused %}
    <form id="form_comment" data-comment-url="{% url 'ajax_comment_url' %}">
      {% csrf_token %}
      <input name="appraisal_id" type="hidden" value="{{appraisal.id}}">
      <div class="form-group">
        {{ form.event.label_tag}}
        {{ form.event }}
      </div>
      <div class="form-group">
        {{ form.text.label_tag }}
        {{ form.text }}
      </div>
      <div class="form-group row">
        <div class="col-12">
          <button class="btn btn-dark btn-block" name="btn_comment" id="comment">Comentar</button>
        </div>
      </div>
    </form>
    {% endif %}

    <hr/>

    {% for comment in appraisal.comments.all %}
    {% if comment.conflict %}
    <div class="card mb-1 border-danger">
    {% else %}
    <div class="card mb-1">
    {% endif %}
      {% if comment.conflict %}
      <div class="card-header bg-danger">
      {% else %}
      <div class="card-header">
      {% endif %}
        <span class="font-weight-bold">{{comment.get_event_display}}</span>
        {{comment.user.first_name}} {{comment.user.last_name}}
        <small class="card-subtitle mb-2">{{comment.timeCreated}}</small>
      </div>
      <div class="card-body">
        <small>{{comment.text}}</small>
      </div>
    </div>
    {% endfor %}

  </div>
</div>