{% load custom_tags %}
{% for comment in comments %}
{% has_notification_comment request.user comment.id as hnc %}
{% if hnc %}
<div class="card mb-1 border-primary border-3" id="comment_{{comment.id}}">
{% else %}
<div class="card mb-1" id="comment_{{comment.id}}">
{% endif %}
  <div class="card-header">
    <div class="row">
      <div class="col-7">
        <p style="margin-bottom:0em;">
          <span class="badge badge-secondary" style="font-size: 1em;">{{comment.get_event_display}}</span>
          {{comment.user.first_name}} {{comment.user.last_name}}
        </p>
      </div>
      <div class="col-5 text-right">
        <small>{{comment.timeCreated}}</small>
        <button type="button" data-appraisal-id={{appraisal.id}} data-delete-comment-url="{% url 'ajax_delete_comment_url' %}" data-id="{{comment.id}}" class="btn btn-dark btn-sm delete_comment ml-3" style="
        padding-top:0em;
        padding-bottom:0em;
        font-family:Material Icons;font-size:1.0em;margin-bottom:1px;border:0px;">
          delete
        </button>
      </div>
    </div>
  </div>
  {% if comment.hasText %}
  <div class="card-body">
    <small>{{comment.text}}</small>
  </div>
  {% endif %}
</div>
{% endfor %}