{% load custom_tags %}
{% load mathfilters %}

  <div class="row mb-2">
    <div class="col-8">
      <a href="{{appraisal.url}}">
        <p style="display:inline-block;vertical-align:-webkit-baseline-middle;margin-bottom:0em;">
          {{appraisal.real_estates.first.address}}
          {% if appraisal.real_estates.all|length > 1 %}
          (+{{appraisal.real_estates.all|length|sub:1}})
          {% endif %}
        </p>
      </a>
    </div>
    <div class="col-4" style="text-align:right;">
      {% if appraisal.orderFile %}
      <div class="btn btn-light">
        <a href="{{appraisal.orderFile.url}}">
          <div style="vertical-align:middle;display:inline-block;font-size:0.8em;">Solicitud</div>
          <div style="vertical-align:middle;display:inline-block;font-size:1.2em;" class="material-icons" style="font-size: 1em;">save_alt</div>
        </a>
      </div>
      {% endif %}
      {% if appraisal.orderFile %}
      <div class="btn btn-light">
        <a href="{{appraisal.orderFile.url}}">
          <div style="vertical-align:middle;display:inline-block;font-size:0.8em;">Informe</div>
          <div style="vertical-align:middle;display:inline-block;font-size:1.2em;" class="material-icons" style="font-size: 1em;">save_alt</div>
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-9">
      <p style="font-size:0.9em;margin-bottom:0em;">
        {{appraisal.solicitanteVerbose}} ({{appraisal.solicitanteCodigo}})
         | <span style='font-weight: 800; color:#000;'>{{appraisal.get_tipoTasacion_display}}</span>
      </p> 
    </div>
    <div class="col-3" style="text-align:right;">

    </div>
  </div>

  <hr/>

  <!--<h6> Contactos </h6>-->
  <div class="row mt-2" style="font-size:0.8em;">
    <div class="col-2">
      <p class="text-right"><b>Pedido</b></p>
    </div>
    <div class="col-3">
      <p class="text-left">{{appraisal.timeCreated|date:"d/m/Y G:i"}}</p>
    </div>
    <div class="col-2">
      <p class="text-right"><b>Tasador</b></p>
    </div>
    <div class="col-4">
      {% if appraisal.tasadorUser %}
      <p>
      {{ appraisal.tasadorUser.first_name }} {{ appraisal.tasadorUser.last_name.strip }}
      </p>
      {% else %}
      <p>
      <em>No asignado</em>
      </p>
      {% endif %}
    </div>
  </div>
  <div class="row" style="font-size:0.8em;">
    <div class="col-2">
      <p class="text-right"><b>Entrega</b></p>
    </div>
    <div class="col-3">
      <p class="text-left">{{appraisal.timeDue|date:"d/m/Y G:i"}}</p>
    </div>
    <div class="col-2">
      <p class="text-right"><b>Visador</b></p>
    </div>
    <div class="col-4">
      {% if appraisal.visadorUser %}
      <p>
      {{ appraisal.visadorUser.first_name }} {{ appraisal.visadorUser.last_name.strip }}
      </p>
      {% else %}
      <p>
      <em>No asignado</em>
      </p>
      {% endif %}
    </div>
    <div class="col-2">
      <p class="text-right"><b>Ejecutivo/a</b></p>
    </div>
    <div class="col-10">
      <p>
      {% if appraisal.solicitanteEjecutivo %}
      {{ appraisal.solicitanteEjecutivo }},
      {% if appraisal.solicitanteEjecutivoEmail %}
      <a href="mailto:{{appraisal.solicitanteEjecutivoEmail}}">{{appraisal.solicitanteEjecutivoEmail}}</a>,
      {% else %}
      -, 
      {% endif %}
      {% if appraisal.solicitanteEjecutivoTelefono %}
      {{ appraisal.solicitanteEjecutivoTelefono }}
      {% else %}
      -
      {% endif %}
      {% else %}
      <em>No hay información</em>
      {% endif %}
      </p>
    </div>
    <div class="col-2">
      <p class="text-right"><b>Cliente</b></p>
    </div>
    <div class="col-10">
      <p>
      {% if appraisal.cliente %}
      {{ appraisal.cliente }},
      {% if appraisal.clienteEmail %}
      <a href="mailto:{{appraisal.solicitanteEjecutivoEmail}}">{{appraisal.clienteEmail}}</a>,
      {% else %}
      -, 
      {% endif %}
      {% if appraisal.clienteTelefono %}
      {{ appraisal.clienteTelefono }}
      {% else %}
      -
      {% endif %}
      {% else %}
      <em>No hay información</em>
      {% endif %}
      </p>
    </div>
    <div class="col-2">
      <p class="text-right"><b>Contacto</b></p>
    </div>
    <div class="col-10">
      <p>
      {% if appraisal.contacto %}
      {{ appraisal.contacto }},
      {% if appraisal.contactoEmail %}
      <a href="mailto:{{appraisal.solicitanteEjecutivoEmail}}">{{appraisal.contactoEmail}}</a>,
      {% else %}
      -, 
      {% endif %}
      {% if appraisal.contactoTelefono %}
      {{ appraisal.contactoTelefono }}
      {% else %}
      -
      {% endif %}
      {% else %}
      <em>No hay información</em>
      {% endif %}
      </p>
    </div>
    <div class="col-2">
      <p class="text-right"><b>Propietario/a</b></p>
    </div>
    <div class="col-10">
      <p>
      {% if appraisal.propietario %}
      {{ appraisal.propietario }},
      {% if appraisal.propietarioEmail %}
      <a href="mailto:{{appraisal.solicitanteEjecutivoEmail}}">{{appraisal.propietarioEmail}}</a>,
      {% else %}
      -, 
      {% endif %}
      {% if appraisal.propietarioTelefono %}
      {{ appraisal.propietarioTelefono }}
      {% else %}
      -
      {% endif %}
      {% else %}
      <em>No hay información</em>
      {% endif %}
      </p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-12">

      <form id="form_comment" data-comment-url="{% url 'ajax_comment_url' %}">

        {% csrf_token %}
        <input id="in_appraisal_id" name="appraisal_id" type="hidden" value=-1>
        <div class="form-group" id="div_event">
          {{ form_comment.event.label_tag}}
          {{ form_comment.event }}
        </div>
        <div class="form-group" id="div_datetime" style="display:none;">
          {{ form_comment.datetime.label_tag }}
          <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
            {{ form_comment.datetime }}
            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
              <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
          </div>
        </div>
        <div class="alert alert-warning" id="div_warning_entregada" style="display:none;">
          La tasación se marcará como finalizada
        </div>
        <script type="text/javascript">
          $(function () {
            $('#datetimepicker1').datetimepicker({
              locale: 'es',
              icons: {
                time: "far fa-clock",
                date: "far fa-calendar-alt",
                up: "fas fa-arrow-up",
                down: "fas fa-arrow-down"
              }
            });
          });
        </script>
        <div class="form-group" id="div_comment">
          {{ form_comment.text.label_tag }}
          {{ form_comment.text }}
        </div>
        <div class="form-group row" id="div_comment_btn">
          <div class="col-12">
            <button type="button" class="btn btn-dark btn-block" name="btn_comment" id="btn_comment">
              <span class="text">Registrar evento</span>
              <div class="ld ld-ring ld-spin" style="display:none;"></div>
            </button>
          </div>
        </div>
        <div class="form-group row" id="div_accept_reject" style="display:none;">
          <div class="col-6">
            <button type="button" class="btn btn-sm btn-dark btn-block btn_accept" value="{{appraisal.id}}" id="accept_{{appraisal.id}}">
              <!--<span id='icon'>thumb_up</span>-->
              Aceptar tasación
              <div class="ld ld-ring ld-spin" style="display:none;"></div>
            </button>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-dark btn-sm btn-block btn_reject" value="{{appraisal.id}}" id="reject_{{appraisal.id}}">
              <!--<span id='icon'>thumb_down</span>-->
              Declinar tasación
              <div class="ld ld-ring ld-spin" style="display:none;"></div>
            </button>
          </div>
        </div>
      </form>

      <hr/>

      <div id="loading" class="mb-3 col-lg-12" style="display:none;">
        <div class="row">
          <div class="col-5"></div>
          <div class="col-2">
            <div class="col loader"></div>
          </div>
          <div class="col-5"></div>
        </div>
      </div>

      <div id="historial">

        <ul class="list-group">
        {% for comment in comments %}
        {% has_notification_comment request.user comment.id as hnc %}
        {% if hnc %}
        <li class="list-group-item list-group-item-warning" id="comment_{{comment.id}}">
        {% else %}
        <li class="list-group-item" id="comment_{{comment.id}}">
        {% endif %}
          <div class="row">
            <div class="col-2">
              <small style="color:#666;">{{comment.timeCreated|date:"d/m G:i"}}</small>
            </div>
            <div class="col-8">
              <span style="font-weight:800;color:#000;">{{comment.get_event_display}}</span>
              <span style="font-size:0.8em;color:#000;">{{comment.user.first_name}} {{comment.user.last_name}}</span>
              {% if request.user|has_group:"asignador" or user.is_superuser %}
            </div>
            <div class="col-2 text-right">
              <button type="button" data-appraisal-id={{appraisal.id}} data-delete-comment-url="{% url 'ajax_delete_comment_url' %}" data-id="{{comment.id}}" data-event="{{comment.event}}" class="btn btn-light btn-sm delete_comment ml-3" style="border:0px;padding: 3px 5px 1px 5px;">
                <i class="icon material-icons" style="font-size:15px;vertical-align: text-top;">delete</i>
                <div class="ld ld-ring ld-spin" style="display:none;"></div>
              </button>
            </div>
          </div>
          {% endif %}
          {% if comment.hasText %}
          <p class="mb-0 mt-2 ml-2" style="color:#333;font-size:0.8em">{{comment.text}}</p>
          {% endif %}
        </li>
        {% endfor %}
        </ul>

      </div>

    </div>
  </div>