<div class="row">
<div class="col-2">
  <p class="text-right">Antecedentes técnico-legales</p>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.mercadoObjetivo.label_tag}}
    {{forms.building.mercadoObjetivo}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.anoConstruccion.label_tag}}
    {{forms.building.anoConstruccion}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.vidaUtilRemanente.label_tag}}
    <div class="input-group">
      {{forms.building.vidaUtilRemanente}}
      <div class="input-group-append">
        <div class="input-group-text">años</div>
      </div>
    </div>
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.avaluoFiscal.label_tag}}
    <div class="input-group">
      {{forms.building.avaluoFiscal}}
      <div class="input-group-append">
        <div class="input-group-text">$</div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.dfl2.label_tag}}
    {{forms.building.dfl2}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.selloVerde.label_tag}}
    {{forms.building.selloVerde}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.copropiedadInmobiliaria.label_tag}}
    {{forms.building.copropiedadInmobiliaria}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.ocupante.label_tag}}
    {{forms.building.ocupante}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.acogidaLey.label_tag}}
    {{forms.building.acogidaLey}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.tipoBien.label_tag}}
    {{forms.building.tipoBien}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.destinoSII.label_tag}}
    {{forms.building.destinoSII}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.usoActual.label_tag}}
    {{forms.building.usoActual}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.permisoEdificacionNo.label_tag}}
    {{forms.building.permisoEdificacionNo}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label>Fecha</label>
    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
        {{forms.building.permisoEdificacionFecha}}
        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
$(function () {
    $('#datetimepicker1').datetimepicker({
    format: 'YYYY-MM-DD'
  });
});
</script>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.recepcionFinalNo.label_tag}}
    {{forms.building.recepcionFinalNo}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    <label>Fecha</label>
    <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
        {{forms.building.recepcionFinalFecha}}
        <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
      </div>
    </div>
  </div>
</div>
</div>

<script type="text/javascript">
$(function () {
    $('#datetimepicker2').datetimepicker({
    format: 'YYYY-MM-DD'
  });
});
</script>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.expropiacion.label_tag}}
    {{forms.building.expropiacion}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.viviendaSocial.label_tag}}
    {{forms.building.viviendaSocial}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.adobe.label_tag}}
    {{forms.building.adobe}}
  </div>
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.desmontable.label_tag}}
    {{forms.building.desmontable}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
</div>
<div class="col-3">
  <div class="form-group">
    {{forms.building.usoFuturo.label_tag}}
    {{forms.building.usoFuturo}}
  </div>
</div>
</div>