{% extends "list/base.html" %}

{% load static %}

{% block head %}

	{% load static %}

	<link rel="stylesheet" href="{% static 'archive/css/archive.css' %}">
	<link rel="stylesheet" href="{% static 'list/css/table_search.css' %}">

{% endblock %}

{% block content %}

{{form_search.media}}

<div class="container" style="max-width:100%">

	<form id="buscar">
        {% csrf_token %}
		<div class="card mb-2" id="div_not_assigned">
			<div class="card-body">
				<div class="row">
					<div class="col-2">
						{{form_search.state.label_tag}}
						{{form_search.state}}
					</div>
					<div class="col-1">
						{{form_search.code.label_tag}}
						{{form_search.code}}
					</div>
					<div class="col-2">
						{{form_search.solicitante.label_tag}}
						{{form_search.solicitante}}
					</div>
					<div class="col-1">
						{{form_search.solicitanteCodigo.label_tag}}
						{{form_search.solicitanteCodigo}}
					</div>
					<div class="col-4">
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-2">
						{{form_search.addressRegion.label_tag}}
						{{form_search.addressRegion}}
					</div>
					<div class="col-2">
						{{form_search.addressCommune.label_tag}}
						{{form_search.addressCommune}}
					</div>
					<div class="col-3">
						{{form_search.addressStreet.label_tag}}
						{{form_search.addressStreet}}
					</div>
					<div class="col-1">
						{{form_search.addressNumber.label_tag}}
						{{form_search.addressNumber}}
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-2">
						{{form_search.tasador.label_tag}}
						{{form_search.tasador}}
					</div>
					<div class="col-2">
						{{form_search.visador.label_tag}}
						{{form_search.visador}}
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-3">
						{{form_search.timeCreatedFrom.label_tag}}
						{{form_search.timeCreatedFrom}}
					</div>
					<div class="col-3">
						{{form_search.timeCreatedUntil.label_tag}}
						{{form_search.timeCreatedUntil}}
					</div>
					<div class="col-3">
						{{form_search.timeFinishedFrom.label_tag}}
						{{form_search.timeFinishedFrom}}
					</div>
					<div class="col-3">
						{{form_search.timeFinishedUntil.label_tag}}
						{{form_search.timeFinishedUntil}}
					</div>
				</div>
			</div>
			<button class="btn btn-dark btn-sm" id="btn_search">
				<div class="text">Buscar</div>
				<div class="loading_text" style="display:none;">...</div>
			</button>
		</div>
	</form>

	{% include 'archive/appraisals.html' %}

</div>

{% include 'archive/modals.html' %}

<script src="{% static 'list/js/tools.js' %}" type="text/javascript"></script>

<script>
	$("#btn_search").on('click',function(e) {
		e.preventDefault()
		var btn = $(this)
		btn_loading(btn,hide_text=true)
		var url = "{% url 'ajax_search_url' %}"
    	var form = $('form#buscar')
		$.ajax({
			url: url,
			type: 'post',
			data: form.serialize(),
			error: function() {
				btn_idle(btn)
				alert("Error al buscar.");
			},
			success: function (ret) {
				btn_idle(btn)
				$("table#table_search").html(ret)
				table_actions()
			}
		})
	})

	$(document).ready(function($) {
		table_actions()
	})

	function table_actions() {
		$(".btn_unarchive_appraisal_modal").unbind()
		$(".btn_unarchive_appraisal_modal").off()
		$(".btn_unarchive_appraisal_modal").on("click", function (event) {
			// Called on click of delete button in the active table.
			btn = $(this)
			btn_loading(btn)
			var appraisal_id = $(this).data('appraisal_id');
			var url = "{% url 'ajax_unarchive_appraisal_modal_url' %}";
			$.ajax({
			    url: url,
			    type: 'get',
			    data: {'appraisal_id':appraisal_id},
			    error: function () {
			      btn_idle(btn)
			      alert("Error al mostrar modal para desarchivar.");
			      return false;
			    },
			    success: function (data) {
			    	btn_idle(btn)
			    	$('#modal_unarchive').html(data)
	      			$('#modal_unarchive').modal('show');
	      			modal_actions()
			    }
		  	});
		});

		$(".btn_delete_appraisal_modal").unbind()
		$(".btn_delete_appraisal_modal").off()
		$(".btn_delete_appraisal_modal").on("click", function (event) {
			// Called on click of delete button in the active table.
			btn = $(this)
			btn_loading(btn)
			var appraisal_id = $(this).data('appraisal_id');
			var url = "{% url 'ajax_delete_appraisal_modal_url' %}";
			$.ajax({
			    url: url,
			    type: 'get',
			    data: {'appraisal_id':appraisal_id},
			    error: function () {
			      btn_idle(btn)
			      alert("Error al mostrar modal para eliminar tasación.");
			      return false;
			    },
			    success: function (data) {
			    	btn_idle(btn)
			    	$('#modal_delete').html(data)
	      			$('#modal_delete').modal('show');
	      			modal_actions()
			    }
		  	});
		});
	}

	function modal_actions() {
		$("#btn_unarchive_appraisal").unbind()
		$("#btn_unarchive_appraisal").off()
		$("#btn_unarchive_appraisal").on("click", function (event) {
		  // Button clicked in the modal.
		  event.preventDefault()
		  var appraisal_id = $(this).closest('#modal_unarchive').find('#appraisal_id').val();
		  var url = "{% url 'ajax_unarchive_appraisal_url' %}";
		  btn = $(this);
		  btn_loading(btn);
		  $.ajax({
		    url: url,
		    type: 'get',
		    data: {'appraisal_id':appraisal_id},
		    error: function () {
		      btn_idle(btn)
		      alert("Error al desarchivar tasación.");
		      return false;
		    },
		    success: function (data) {
		      btn_idle(btn)
		      $("#modal_unarchive").modal('hide')
		      removeRow('table_search',appraisal_id,data)
		    }
		  });
		});

		$("#btn_delete_appraisal").unbind()
		$("#btn_delete_appraisal").off()
		$("#btn_delete_appraisal").on("click", function (event) {
		  // Button clicked in the modal.
		  event.preventDefault()
		  var appraisal_id = $(this).closest('#modal_delete').find('#appraisal_id').val();
		  var url = "{% url 'ajax_delete_appraisal_url' %}";
		  btn = $(this);
		  btn_loading(btn);
		  $.ajax({
		    url: url,
		    type: 'get',
		    data: {'appraisal_id':appraisal_id},
		    error: function () {
		      btn_idle(btn)
		      alert("Error al eliminar tasación.");
		      return false;
		    },
		    success: function (data) {
		      btn_idle(btn)
		      $("#modal_delete").modal('hide')
		      removeRow('table_search',appraisal_id,data)
		    }
		  });
		});
	}
</script>

{% endblock %}
