  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Desarchivar tasación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="alert alert-danger text-center">¿Esta seguro que desea desarchivar la tasación?</div>
          <p style="font-size:0.9em;text-align:center;">La tasación volverá a su estado original: {{appraisal.get_state_last_display}}.</p>
      </div>
      <div class="modal-footer">
        <form action="" method="post" id="form">
          {% csrf_token %}
          <input id="appraisal_id" name="appraisal_id" type="hidden" value="{{appraisal.id}}">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button class="btn btn-primary ld-ext-right" id="btn_unarchive_appraisal" name="delete" value="a">
            Desarchivar
            <div class="ld ld-ring ld-spin"></div>
          </button>
        </form>
      </div>
    </div>
  </div>