#value_samples .value_table {
  display: block;
  width: 1000px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

#value_samples .value_table_row p {
  font-size: 14px;
  margin-right: 1em;
  margin-left : 1em;
}

#value_final .value_table {
  display: block;
  width: 600px;
  border: 1px solid #aaa;
  border-radius: 3px;
}

.value_table_row_title {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #0C4B33;
}

.value_table_row {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 40px;
}

.value_table_cell {
  width: 30%;
  float: left;
  padding: 5px;
}

.value_table_cell p {
  margin: 0px;
  padding: 0px;
}

.value_table_cell input[type=number] {
  width: 100%;
}

.table-sm {
  font-size: 0.9rem;
}

#arrow {
  font-family: "Material Icons";
}
