#table_terrains {
	font-size: 0.85em;
}

#table_buildings {
	font-size: 0.85em;
}

#table_assets {
	font-size: 0.85em;
}

#table_totals {
    font-size: 0.85em;
}

.td-center {
	text-align: center;
}

.table_selected_terrains {
    font-size: 0.85rem;
    border-radius: 0.0rem;
    background-color: #fff;
}

.table_selected_buildings {
    font-size: 0.85rem;
    border-radius: 0.0rem;
    background-color: #fff;   
}

.table_selected_apartments {
    font-size: 0.85rem;
    border-radius: 0.0rem;
    background-color: #fff;   
}

#table_terrains .form-control-sm {
	padding: 0rem 0.3rem;
	font-size: 0.7rem;
	border-radius: 0.0rem;
    background-color: #fff;
}

#table_terrains .form-control-sm:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

#table_terrains .form-control-sm:read-only {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

#table_terrains td {
	padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

#table_buildings .form-control-sm {
	padding: 0rem 0.3rem;
	font-size: 0.7rem;
	border-radius: 0.0rem;
}

#table_buildings .form-control-sm:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

#table_buildings .form-control-sm:read-only {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

#table_buildings td {
	padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

#table_assets .form-control-sm {
	padding: 0rem 0.3rem;
	font-size: 0.7rem;
	border-radius: 0.0rem;
}

#table_assets td {
	padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

#table_totals .form-control-sm {
    padding: 0rem 0.3rem;
    font-size: 0.7rem;
    border-radius: 0.0rem;
}

#table_totals td {
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

#table_totals .form-control-sm:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

input[type="text"] {
    border-color: #777;
    background-color: #fff;
}

input[type="number"] {
    border-color: #777;
    background-color: #fff;
}

input[type="url"] {
    border-color: #777;
    background-color: #fff;
}

input[type="file"] {
    border-color: #777;
    background-color: #fff;
}

select.form-control {
    border-color: #777;
}

select.custom-select {
    border-color: #777;
}

textarea.form-control {
    border-color: #777;
}

input[type="text"]:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

input[type="number"]:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

input[type="url"]:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

input[type="file"]:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

select.form-control:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

select.custom-select:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

textarea.form-control:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

#property_info label {
    font-size:0.9em;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.image {
    position:absolute;
    top:-9999px;
    left:-9999px;
    right:-9999px;
    bottom:-9999px;
    margin:auto;
    opacity:1;
    transition:.5s ease;
}