#sidebar {
    padding-left: 0em;
    padding-right: 0em;
}

#sidebar_title {
    padding-left: 1em;
    padding-right: 1em;
}

div .real_estate_address {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9em;
    margin-bottom: 1em;
}

#properties_list {
    min-height:40em;
}

#btn_add_property_modal {
    font-size:0.9em;
}

a:not([href]):not([tabindex]) {
    cursor: pointer;
    color: blue;
}
a:hover,a.hover {
    text-decoration: underline;
}

.list-group-item.loading a {
    color: rgb(201, 201, 201);
}

.property_list_item_active {
    background: #f6f6ff;
}