<td class="search">
  <small>
  <input class="form-control form-control-sm search" data-field="id" placeholder=""></input>
  </small>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="solicitante" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="tasacionCodigo" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="tipoTasacion" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="tasadorUser" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="valorTasacion" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="valorUfTasacion" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="evaluacion" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="gastos" placeholder=""></input>
</td>