{% extends "main/base.html" %}
{% load static %}
{% block head %}
        <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyDgwKrK7tfcd9kCtS9RKSBsM5wYkTuuc7E&libraries=places"></script>
        <script src="{% static 'home/js/google-maps-autocomplete.js' %}"></script>
{% endblock %}

{% block content %}
<h1>Contabilidad de tasaciones</h1>
<form class="needs-validation" action="/accounting/" method="post" id="form" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
    <div class="row">
        <div class="col-md-2 text-right">
                <p class="font-weight-bold">Elegir los parámetros </p>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Tasadores</label>
                <select name="tasador" class="form-control" required="" id="id_tasador">
                    <option value="" selected="">---------</option>
                    <option value="0">Todos los tasadores</option>
                    {% for tasador in tasadores %}
                    <option value="{{tasador.id}}">{{tasador.first_name}} {{tasador.last_name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <div class="form-group">
                   <label for="id_appraisalTimeRequest">Fecha Inicio</label>
                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" name="appraisalTimeRequest" class="form-control datetimepicker-input"
                           data-target="#datetimepicker1" required="" id="id_appraisalTimeRequest">
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
                $(function () {
                  $('#datetimepicker1').datetimepicker({
                    locale: 'es',
                    icons: {
                      time: "far fa-clock",
                      date: "far fa-calendar-alt",
                      up: "fas fa-arrow-up",
                      down: "fas fa-arrow-down"
                    }
                  });
                });
              </script>

              <div class="col-md-2">
                <div class="form-group">
                  <label for="id_appraisalTimeRequest2">Fecha fin</label>
                  <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" name="appraisalTimeRequest2" class="form-control datetimepicker-input"
                           data-target="#datetimepicker1" required="" id="id_appraisalTimeRequest2">
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                      <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                  </div>
                </div>
              </div>
              <script type="text/javascript">
                $(function () {
                  $('#datetimepicker2').datetimepicker({
                    locale: 'es',
                    icons: {
                      time: "far fa-clock",
                      date: "far fa-calendar-alt",
                      up: "fas fa-arrow-up",
                      down: "fas fa-arrow-down"
                    }
                  });
                });
              </script>

    </div>


    <div class="form-group row mt-4">
             <div class="col-md-2">
             </div>
             <div class="col-md-2">
                <button class="btn btn-dark btn-block align-bottom ld-ext-right" id="btn_generate">
                  Generar Archivo
                  <div class="ld ld-ring ld-spin"></div>
                </button>
             </div>
          </div>
</form>

{% endblock %}
