<tr>
    <th scope="col" style="width:40px">ID</th>
    <th scope="col" style="width:60px">Solicitante</th>
    <th scope="col" style="width:80px">Código de Tasación</th>
    <th scope="col" style="width:60px">Tipo de Tasación</th>
    <th scope="col" style="width:80px;">Tasador</th>
    <th scope="col" style="width:60px;">Valor Tasado</th>
    <th scope="col" style="width:80px">Valor UF tasación</th>
    <th scope="col" style="width:60px;">Evaluación</th>
    <th scope="col" style="width:70px;">Gastos Tasador</th>
</tr>