<td class="search">
  <small>
  <input class="form-control form-control-sm search" data-field="id" placeholder="">
  </small>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="solicitante" placeholder="">
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="tasacionCodigo" placeholder="">
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="tipoTasacion" placeholder="">
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="tasadorUser" placeholder="">
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="valorTasacion" placeholder="">
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="valorUfTasacion" placeholder="">
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="evaluacion" placeholder="">
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="gastos" placeholder="">
</td>