{% extends "list/base.html" %}
{% block title %}Tasador • Contabilidad{% endblock %}
{% load static %}


{% block content %}

{{form.media}}
{% load custom_tags %}

<div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-11">
         <h5 class="mb-4">Contabilidad</h5>
      </div>
   </div>

<div class="container" style="max-width:100%">
  <div class="card mb-1">
    <div class="card-body">
        <form class="needs-validation" action="/accounting/" method="post" id="form" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="row mt-4">
          <div class="col-md-2 text-right">
            <p class="font-weight-bold">Búsqueda</p>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Tasador</label>
              <select name="tasador" class="form-control" required="" id="id_tasador">
                <option value="0">Todos los tasadores</option>
                {% for tasador in tasadores %}
                <option value="{{tasador.id}}">{{tasador.first_name}} {{tasador.last_name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>



          <div class="col-md-2">
            <div class="form-group">
              {{form.accountingTimeRequest.label_tag}}
              {{form.accountingTimeRequest}}
            </div>
          </div>

          <div class="col-md-2">
            <div class="form-group">
              {{form.accountingTimeDue.label_tag}}
              {{form.accountingTimeDue}}
            </div>
          </div>


          <div class="col-md-2">
            <label for="id_ajax_list">&nbsp</label>
            <button class="btn btn-dark btn-block align-bottom ld-ext-left" id="btn_see" type="button">
              Buscar
              <div class="ld ld-ring ld-spin"></div>
            </button>
          </div>

          <div class="col-md-2">
            <label for="id_appraisalTimeRequest">&nbsp</label>
            <button class="btn btn-dark btn-block align-bottom ld-ext-right" id="btn_generate" formmethod="post">
              Exportar
              <div class="ld ld-ring ld-spin"></div>
            </button>
          </div>

        </div>
      </form>
    </div>
  </div>


  <div class="card mb-1" id="div_accounting">
    <div class="card-body">
      <p class="card-title">Previsualización</p>
      <table class="table table-sm table-borderless table-appraisals"  style="font-size:0.8em;"  id="table_accounting">
            {% include 'accounting/accounting_table.html' %}
      </table>
    </div>
  </div>





</div>

<script src="{% static 'accounting/js/tools.js' %}" type="text/javascript"></script>

<script src="{% static 'accounting/js/search.js' %}" type="text/javascript"></script>

<script>
   $("#btn_see").on("click", function (event) {
     // Button clicked in the modal. Call an AJAX to load the list
     // for accountability
     var initial = $('#id_accountingTimeRequest').val();
     var end =  $('#id_accountingTimeDue').val();
     var tasador =  $('#id_tasador').val();
     var url = "{% url 'ajax_accountingView_url' %}";
     btn = $(this);
     btn.addClass('running');
     btn.prop('disabled', true);
     $.ajax({
       url: url,
       type: 'get',
       data: {'accountingTimeRequest':initial, 'accountingTimeDue':end, 'tasador':tasador},

       error: function () {
           alert("Recuerde seleccionar una fecha de inicio y/o término.");
           btn.removeClass('running');
           btn.prop('disabled', false);
           return false;
       },
       success: function (data) {
         btn.removeClass('running');
         btn.prop('disabled', false);
         replaceTable("table_accounting",data)
       }
     });
   });
</script>


<script>

  $('#form').on('submit', function(evt) {
    btn = $("#btn_generate");
    btn.addClass('running');
    btn.prop('disabled', true);
    var initial = $('#id_accountingTimeRequest').val();
    var end =  $('#id_accountingTimeDue').val();
    var tasador =  $('#id_tasador').val();

    window.setTimeout(function (){
    if(initial=='' || end ==''){

      alert("Recuerde seleccionar una fecha de inicio y/o término.");
           btn.removeClass('running');
           btn.prop('disabled', false);
    }
    else{
      btn.removeClass('running');
         btn.prop('disabled', false);
         btn.removeClass('running');
       }
  },1000);
});
</script>




{% endblock %}

