
{% extends "main/base.html" %}

{% block content %}
<div class='container'>

<h5>Resumen Chile</h5>

<table class="table table-sm table-borderless">
  <thead>
    <tr>
      <th scope="col">Región</th>
      <th scope="col">Departamentos</th>
      <th scope="col">Casas</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Total</th>
      <th scope="col">{{total.apartment}}</th>
      <th scope="col">0</th>
    </tr>
    {% for region in regions %}
    <tr>
      <td>
        <a href="{{region.code}}">{{ region.name }}</a>
      </td>
      <td>
        {{ region.dataApartmentCount }}
      </td>
      <td>
        0
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
