body {
  margin: 0;
  padding: 0;
  background: #000;
}

h1 {
  font-family: Lucida Grande, Helvetica, sans-serif;
}

h2 {
  font-family: Lucida Grande, Helvetica, sans-serif;
}

#header {
  height:80px;
  background: #0C4B33;
  margin: 0;
}

#header h1 {
  margin: 0;
  padding: 10px;
  padding-top: 20px;
  color: #fff;
}

#header a:link {
  color: #fff;
  text-decoration: none;
}

#header a:visited {
  color: #fff;
  text-decoration: none;
}

#header a:hover, a:active {
  color: #eee;
  outline: 0;
  border: none;
  -moz-outline-style: none;
  text-decoration: none;
}

#content {
  font-family: Lucida Grande, Helvetica, sans-serif;
  background: #fff;
  margin: 0;
  padding: 20px;
}

#content a:link, a:visited, a:active{
  color: #000;
  text-decoration: none;
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

#content a:hover{
  text-decoration: underline;
}

#footer {
  margin: 0;
  background: #222;
  color: #999;
}

#footer p {
  margin: 0;
  padding: 10px;
  text-align: right;
}

h2 {
  margin: 0;
  padding: 0;
}

.section {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1em;
  margin-bottom: 0.2em;
  background: #fff;
  overflow: hidden;
}

.section-title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0em;
  background: #fff;
  overflow: hidden;
}

.section-title h2 {
  font-size: 20px;
}

.subsection {
  border: 1px solid #ccc;
  padding: 0.5em;
  margin-left: -0.2em;
  margin-right: -0.2em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  background: #fafafa;
  overflow: hidden;
}

.subsection h2 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0em;
  margin-bottom: 0.5em;
  font-size: 24px;
}

.subsection h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0em;
  margin-bottom: 0.5em;
  font-size: 20px;
}

.input-group-prepend .input-group-text {
  min-width: 100px;
}
