.appraisals_current {
  margin-bottom: 1em;
  margin-top: 1em;
}

.appraisal {
  border: 1px solid #eee;
  padding: 1em;
  background: #fefefe;
  margin-bottom: 0.2em;
}

.appraisal:hover {
  border: 1px solid #aaa;
  background: #fefefe;
}

.appraisal_date {
  font-size: 10px;
  margin-top: 0.5em;
}

.appraisal_address p {
  margin: 0px;
  margin-bottom: 0.2em;
}
