{% load static %}

<div id="comparable_properties" class="collapse show ml-4 mr-4" aria-labelledby="heading">
    {% for real_estate, property_classes in app_properties.items %}
        <div class="real_estate" data-real_estate_id="{{real_estate.id}}">
            <p class="real_estate_address">{{real_estate.address_no_region}}</p>
            {% for class_type, classes in property_classes.items %}
                {% if class_type == Building.PROPERTY_CLASS_TERRAIN %}
                    {% for class, properties in classes.items %}
                        <div class="property" id="terrain_{{class.id}}" data-property_id="{{class.id}}" data-property_type="{{class.propertyType}}">
                            {% with terrain=class %}
                                {% include 'appraisal/value/comparable/selected_terrains.html' %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% elif class_type == Building.PROPERTY_CLASS_BUILDING %}
                    {% for class, properties in classes.items %}
                        <div id="building_{{class.id}}">
                            {% with building=class %}
                                {% include 'appraisal/value/comparable/selected_buildings.html' %}
                            {% endwith %}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        console.log("a")
        set_table_actions()
    })
</script>