<table class="table table-sm table_selected_terrains mb-4 border-left border-right" data-id="{{terrain.id}}">
  <thead class="thead">
    <tr style="background: #eee;">
      <th scope="col" style="width: 2em;"></th>
      <th scope="col" style="width: 2em;text-align:center;">#</th>
      <th scope="col" style="width: 25em;text-align:left;">Nombre / Dirección</th>
      <th scope="col" style="width: 12em;text-align:left;">Fuente</th>
      <th scope="col" style="width: 9em;text-align:right;">Superficie {{htmlBits.unitSquaredMeter|safe}}</th>
      <th scope="col" style="width: 12em;text-align:right;">Precio Mercado {{htmlBits.unitUF|safe}}</th>
      <th scope="col" style="width: 12em;text-align:right;">PM/m<sup>2</sup></th>
      <th scope="col" style="width: 18em;text-align:right;">
        <a href="#" class="btn_comparable_add_terrain_modal">
          Agregar
        </a>
      </th>
      <th></th>
    </tr>
  </thead>

  <tbody id="table_selected_terrain_{{terrain.id}}">
    <tr class="tr_current">
      <!--<td><small>{{realestate.latlng_verbose}}</small></td>-->
      <td></td>
      <td></td>
      <td>{{terrain.name_or_generic}}</td>
      <td></td>
      <td class="value" name="area" style="text-align:right;">{{terrain.area|default_if_none:"-"}}</td>
      <td class="value" name="market_price" style="text-align:right;"></td>
      <td class="value" name="market_price_density" style="text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    {% for o in terrain.terrain_set.all %}
    <tr class="tr_selected">
      <td></td>
      <td style="text-align:right;"><small>{{forloop.counter}}.</small></td>
      <td class="td_address">{{o.real_estate.addressStreet}} {{o.real_estate.addressNumber}}</td>
      <td><a href="{{o.sourceUrl}}">{{ o.real_estate.sourceNameNice }}</a></td>
      <td class="value" name="area" style="text-align:right;" >{{o.area|default_if_none:"-"}}</td>
      <td class="value" name="market_price" style="text-align:right;">{{ o.marketPrice }}</td>
      <td class="value" name="market_price_density" style="text-align:right;"></td>
      <td style="padding:0em;text-align:right;">
        {% if not appraisal.finished %}
        <button type="button" class="btn btn-sm btn_edit_selected_property_modal" value="{{o.id}}" style="padding:0px; border:0px;">
          <i class="material-icons" style="font-size:16px;">edit</i>
        </button>
        <button type="button" class="btn btn-sm btn_remove_selected_property" value="{{o.id}}" style="padding:0px; border:0px;">
          <i class="material-icons" style="font-size:16px;">delete</i>
        </button>
        {% endif %}
      </td>
      <td></td>
    </tr>
    {% endfor %}

    {% if terrain.terrain_set.all %}

    <tr class="tr_averages border-bottom">
      <td></td>
      <td colspan="3" style="text-align:right;">Promedios</td>
      <td class='value td_area' style="text-align:right;"></td>
      <td class='value td_market_price' style="text-align:right;"></td>
      <td class='value td_market_price_density' style="text-align:right;"></td>
      <td></td>
      <td></td>
    </tr>

    {% else %}

      {% include 'appraisal/value/comparable/selected_tr_no_properties.html' %}

    {% endif %}
  </tbody>
</table>
