{% extends "list/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'create/css/create.css' %}">
{% endblock head %}

{% block content %}
  <div class="container">
    {% csrf_token %}

    <div class="alert alert-danger" role="alert">
    <h4 class="text-center mb-4">ERROR</h4>
    <h5 class="text-center">{{ error_message }}</h5>

    {{ form_create.propertyType_create.errors }}
    {{ form_create.addressRegion_create.errors }}
    {{ form_create.addressCommune_create.errors }}
    {{ form_create.addressStreet_create.errors }}
    {{ form_create.addressNumber_create.errors }}
    {{ form_create.addressNumberFlat_create.errors }}
    {{ form_create.appraisalTimeFrame_create.errors }}

    </div>

    {% if form_create.errors %}
      <h5>Asegurese de que:</h5>
      <ul>
        <li>El plazo esté en el futuro.</li>
        <li>Seleccionar un tipo de propiedad.</li>
        <li>Ingresar una dirección válida.</li>
      </ul>
    {% endif %}

  </div>
{% endblock %}
</html>
