{% extends "main/base.html" %}

{% load static %}

{% block content %}

<div class="container" style="max-width:100%">

   <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
         <h5 class="mb-4">Crear tasación</h5>
      </div>
   </div>
      <form class="needs-validation" action="/create/" method="post" id="form_create" data-commune-url="{% url 'ajax_load_communes' %}" novalidate>
        {% csrf_token %}

         <div class="row mb-4">
            
            <div class="col-md-2 text-right">
               <p class="font-weight-bold">Solicitud</p>
            </div>
            
            <div class="col-md-2" id="petitioner">
               <div class="form-group">
                  <label>Institución</label>
                  {{form_create.solicitante_create}}
               </div>
            </div>
            <div class="col-md-2" id="other" hidden>
               <div class="form-group">
                  {{form_create.solicitanteOther_create.label_tag}}
                  {{form_create.solicitanteOther_create}}
               </div>
            </div>

            <div class="col-md-2">
               <div class="form-group" id="code">
                  <label>Código</label>
                  {{form_create.solicitanteCodigo_create}}
               </div>
            </div>

            <div class="col-md-2">
               <div class="form-group">
                  {{form_create.appraisalTimeFrame_create.label_tag}}
                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                     {{form_create.appraisalTimeFrame_create}}
                     <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                     </div>
                  </div>
               </div>
            </div>
            <script type="text/javascript">
               $(function () {
                  $('#datetimepicker1').datetimepicker({
                     locale: 'es',
                     icons: {
                        time: "far fa-clock",
                        date: "far fa-calendar-alt",
                        up: "fas fa-arrow-up",
                        down: "fas fa-arrow-down"
                     }
                  });
               });
            </script>
         </div>

         <div class="row mb-4">
            <div class="col-md-2 text-right">
               <p class="font-weight-bold">Cliente</p>
            </div>
            <div class="col-md-4">
               <div class="form-group">
                  <label>Nombre</label>
                  {{form_create.cliente_create}}
               </div>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Rut</label>
                  {{form_create.clienteRut_create}}
               </div>
            </div>
         </div>

         <div class="row" id="propertyType">
            <div class="col-md-2 text-right">
               <p class="font-weight-bold">Propiedad</p>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Tipo</label>
                  {{form_create.propertyType_create}}
               </div>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Tasación</label>
                  {{form_create.tipoTasacion_create}}
               </div>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Objetivo Tasación</label>
                  {{form_create.objetivo_create}}
               </div>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Visita</label>
                  {{form_create.visita_create}}
               </div>
            </div>
         </div>

      <div class="row">
         <div class="col-md-2 text-right"></div>
         <div class="col-md-2">
            <div class="form-group">
               {{form_create.addressRegion_create.label_tag}}
               {{form_create.addressRegion_create}}
            </div>
         </div>
         <div class="col-md-2">
            <div class="form-group">
               {{form_create.addressCommune_create.label_tag}}
               {{form_create.addressCommune_create}}
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-2 text-right"></div>
         <div class="col-md-4">
            <div class="form-group">
               {{form_create.addressStreet_create.label_tag}}
               {{form_create.addressStreet_create}}
            </div>
         </div>

         <div class="col-md-1">
            <div class="form-group">
               {{form_create.addressNumber_create.label_tag}}
               {{form_create.addressNumber_create}}
            </div>
         </div>

         <div class="col-md-1" id="div_addressNumber2_create">
            <div class="form-group">
               {{form_create.addressNumber2_create.label_tag}}
               {{form_create.addressNumber2_create}}
            </div>
         </div>
      </div>

      <!--
      <div class="form-group row">
         <div class="col-md-2">
            {{form_create.appraisalPrice_create.label_tag}}
            <div class="input-group">
               {{form_create.appraisalPrice_create}}
               <div class="input-group-append">
                  <div class="input-group-text">UF</div>
               </div>
               <div class="invalid-feedback">
                  Ingresar precio
               </div>
            </div>
         </div>
      </div>
      -->
      
      <div class="form-group row mt-4">
         <div class="col-md-2">
         </div>
         <div class="col-md-8">
            <button class="btn btn-dark btn-block align-bottom">Crear</button>
         </div>
      </div>

   </form>
</div>

<script>
 $("#id_addressRegion_create").change(function () {
    // get the url of the `load_cities` view
    var url = $("#form_create").attr("data-commune-url");
    // get the selected country ID from the HTML input
    var regionId = $(this).val();
    // initialize an AJAX request
    $.ajax({
      // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      url: url,
      // add the country id to the GET parameters
      data: {
       'region': regionId
    },
    success: function (data) {
        // `data` is the return of the `load_cities` view function
        // replace the contents of the city input with the data that came from the server
        console.log(data)
        $("#id_addressCommune_create").html($.trim(data));
     }
  });
 });
</script>

<script>

  function showApartmentNumber() {
    var type = $("#propertyType option:selected");
    if (type.val() == 2) {
      $("#div_addressNumber2_create").find('label').html('Depto.');
    } else {
      $("#div_addressNumber2_create").find('label').html('Lote');
    }
  }

  $('#propertyType').on('change', function() {
    showApartmentNumber();
  });

  $(document).ready(function() {
    showApartmentNumber();
  });

</script>

<script>
  function valid_rut(rut) {
    function dv(T) {
      var M=0,S=1;
      for (;T;T=Math.floor(T/10)) {
        S=(S+T%10*(9-M++%6))%11;
      }
      return S?S-1:'k';
    };
    if (rut.length < 2) return false
    rut = rut.split('.').join("");
    rut = rut.split('-').join("");
    var digv = rut.charAt(rut.length-1);
    n = rut.substring(0,rut.length-1)
    return (dv(n) == digv);
    rut = parseInt(rut);
    if (isNaN(rut)) {
      return false
    }
    return true
  }
  
  jQuery.validator.addMethod("rut",
    function(value, element) {
      return this.optional(element) || valid_rut(value);
    },
    "El rut no es válido"
  );

  $("#form_create").validate({
    rules: {
      "addressStreet_create": "required",
      "addressNumber_create": "required",
      "addressCommune_create": "required",
      "addressRegion_create": "required",
      "cliente_create": "required",
      "clienteRut_create": "rut",
      "solicitanteCodigo_create": "required",
      "appraisalTimeFrame_create": "required"
    },
    groups: {
      "appraisalTimeFrame_create": "date"
    },
    messages: {
      "addressStreet_create": "Campo requerido",
      "addressNumber_create": "Requerido",
      "addressCommune_create": "Campo requerido",
      "addressRegion_create": "Campo requerido",
      "cliente_create": "Campo requerido",
      "solicitanteCodigo_create": "Campo requerido",
      "appraisalTimeFrame_create": "Campo requerido"
    },
    errorPlacement: function(error, element) {
      if (element.attr("id") == "id_appraisalTimeFrame_create") {
        error.insertAfter("#datetimepicker1");
      } else {
        console.log('b')
        error.insertAfter(element);
      }
    }
  });
</script>

<script>
  $('#petitioner').on('change', function() {
  var object = $("#petitioner option:selected");
  if (object.val() == 0 ) {
    $('#other').removeAttr('hidden');
    $('#other').show();
    $('#other').attr('required','required');
    $('#id_solicitanteCodigo_create').removeAttr('data-validation','required');
    $('#code').removeAttr('class', 'form-group has-error');
    $('.help-block').hide();
    $('#id_solicitanteCodigo_create').removeAttr('style');
    $('#code').attr('class', 'form-group');
 } else {
    $('#other').hide();
    $('#other').removeAttr('required');
    $('#other').val('');
    $('#id_solicitanteCodigo_create').attr('data-validation','required');
 }
});
</script>

{% endblock %}
