{% extends "main/base.html" %}

{% load static %}

{% block content %}

<div class="container" style="max-width:100%">

   <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-10">
         <h5 class="mb-4">Crear tasación</h5>
      </div>
   </div>
      <form class="needs-validation" action="/create/" method="post" id="form_create" data-commune-url="{% url 'ajax_load_communes' %}" novalidate>
        {% csrf_token %}

         <div class="row">
            
            <div class="col-md-2 text-right">
               <p class="font-weight-bold">Solicitud</p>
            </div>
            
            <div class="col-md-2" id="petitioner">
               <div class="form-group">
                  <label>Institución</label>
                  {{form_create.solicitante_create}}
               </div>
            </div>
            <div class="col-md-2" id="other" hidden>
               <div class="form-group">
                  {{form_create.solicitanteOther_create.label_tag}}
                  {{form_create.solicitanteOther_create}}
               </div>
            </div>

            <div class="col-md-2">
               <div class="form-group">
                  <label>Código</label>
                  {{form_create.solicitanteCodigo_create}}
               </div>
            </div>

            <div class="col-md-2">
               <div class="form-group">
                  {{form_create.appraisalTimeFrame_create.label_tag}}
                  <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                     {{form_create.appraisalTimeFrame_create}}
                     <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                     </div>
                  </div>
               </div>
            </div>
            <script type="text/javascript">
               $(function () {
                  $('#datetimepicker1').datetimepicker({
                     locale: 'es',
                     icons: {
                        time: "far fa-clock",
                        date: "far fa-calendar-alt",
                        up: "fas fa-arrow-up",
                        down: "fas fa-arrow-down"
                     }
                  });
               });
            </script>
         </div>

         <div class="row">
            <div class="col-md-2 text-right">
               <p class="font-weight-bold">Cliente</p>
            </div>
            <div class="col-md-4">
               <div class="form-group">
                  <label>Nombre</label>
                  {{form_create.cliente_create}}
               </div>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Rut</label>
                  {{form_create.clienteRut_create}}
               </div>
            </div>
         </div>

         <div class="row" id="propertyType">
            <div class="col-md-2 text-right">
               <p class="font-weight-bold">Propiedad</p>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Tipo</label>
                  {{form_create.propertyType_create}}
               </div>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Tasación</label>
                  {{form_create.tipoTasacion_create}}
               </div>
            </div>
            <div class="col-md-2">
               <div class="form-group">
                  <label>Objetivo Tasación</label>
                  {{form_create.objetivo_create}}
               </div>
            </div>
         </div>

      <div class="row">
         <div class="col-md-2 text-right"></div>
         <div class="col-md-2">
            <div class="form-group">
               {{form_create.addressRegion_create.label_tag}}
               {{form_create.addressRegion_create}}
            </div>
         </div>
         <div class="col-md-2">
            <div class="form-group">
               {{form_create.addressCommune_create.label_tag}}
               {{form_create.addressCommune_create}}
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-2 text-right"></div>
         <div class="col-md-4">
            <div class="form-group">
               {{form_create.addressStreet_create.label_tag}}
               {{form_create.addressStreet_create}}
            </div>
         </div>

         <div class="col-md-1">
            <div class="form-group">
               {{form_create.addressNumber_create.label_tag}}
               {{form_create.addressNumber_create}}
            </div>
         </div>

         <div class="col-md-1" id="type" hidden>
            <div class="form-group">
               {{form_create.addressNumberFlat_create.label_tag}}
               {{form_create.addressNumberFlat_create}}
            </div>
         </div>
      </div>

      <!--
      <div class="form-group row">
         <div class="col-md-2">
            {{form_create.appraisalPrice_create.label_tag}}
            <div class="input-group">
               {{form_create.appraisalPrice_create}}
               <div class="input-group-append">
                  <div class="input-group-text">UF</div>
               </div>
               <div class="invalid-feedback">
                  Ingresar precio
               </div>
            </div>
         </div>
      </div>
      -->
      
      <div class="form-group row mt-4">
         <div class="col-md-2">
         </div>
         <div class="col-md-8">
            <button class="btn btn-dark btn-block align-bottom">Crear</button>
         </div>
      </div>

   </form>
</div>

<script>
 $("#id_addressRegion_create").change(function () {
    // get the url of the `load_cities` view
    var url = $("#form_create").attr("data-commune-url");
    // get the selected country ID from the HTML input
    var regionId = $(this).val();
    console.log(regionId);

    // initialize an AJAX request
    $.ajax({
      // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      url: url,
      // add the country id to the GET parameters
      data: {
       'region': regionId
    },
    success: function (data) {
        // `data` is the return of the `load_cities` view function
        // replace the contents of the city input with the data that came from the server
        console.log(data)
        $("#id_addressCommune_create").html($.trim(data));
     }
  });
 });
</script>

<script>
 jQuery('#propertyType').on('change', function() {
  var type = $("#propertyType option:selected");
  if (type.val() == 2) {
   $("#type").removeAttr('hidden');
   $("#type").show();
   $("#type").val('');
   $("#type").attr('required','required');
   $("#type").removeAttr('disabled');
   $("#id_addressNumberFlat_create").removeAttr('disabled');
}
else {
   $("#type").hide();
   $("#type").removeAttr('required','required');
}
});
</script>


<script>
   $.formUtils.addValidator({
      name : 'rut',
      validatorFunction : function(rut, $el, config, language, $form) {
         function dv(T){
            var M=0,S=1;
            for(;T;T=Math.floor(T/10))
               S=(S+T%10*(9-M++%6))%11;
            return S?S-1:'k';
         };
         if (rut.length < 2) return false
         rut = rut.split('.').join("");
         rut = rut.split('-').join("");
         var digv = rut.charAt(rut.length-1);
         n = rut.substring(0,rut.length-1)
         return (dv(n) == digv);
         rut = parseInt(rut);
         if (isNaN(rut)) {
            return false
         }
         return true
      },
      errorMessage : 'Rut invalido',
      errorMessageKey: 'badRut'
   });

   $.validate({
      //errorMessageClass: 'help-block form-error text-danger small',
      lang: 'es'
   });
</script>

<!--
<script>
   // Example starter JavaScript for disabling form submissions if there are invalid fields
   (function() {
      'use strict';
      window.addEventListener('load', function() {
         // Fetch all the forms we want to apply custom Bootstrap validation styles to
         var forms = document.getElementsByClassName('needs-validation');
         // Loop over them and prevent submission
         var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
               for (var i = 0, element; element = form.elements[i++];) {
                  console.log(element.name)
                  if (element.name == 'clienteRut_create') {
                     console.log('a')
                     var ruts = element.value;
                     ruts = ruts.split('.').join("");
                     ruts = ruts.split('-').join("");
                     var rut = parseInt(ruts);
                     if (isNaN(rut)) {
                        element.classList.add('invalid')
                        event.preventDefault();
                        event.stopPropagation();
                     }
                  } else {
                     element.checkValidity()
                  }
               }
               //if (form.checkValidity() === false) {
               //   event.preventDefault();
               //   event.stopPropagation();
               //}
               form.classList.add('was-validated');
            }, false);
         });
      }, false);
   })();
</script>
-->

<script>
 jQuery('#petitioner').on('change', function() {
  var object = $("#petitioner option:selected");
  if (object.val() == 0 ) {
    jQuery('#other').removeAttr('hidden');
    jQuery('#other').show();
    jQuery('#other').attr('required','required');

 }
 else {
    jQuery('#other').hide();
    jQuery('#other').removeAttr('required');
    jQuery('#other').val('');
 }
});
</script>

{% endblock %}
