<div class="card" style="width: 22rem;">
	<div class="card-body">
		<form class="needs-validation" method="post" action="/" novalidate>
			{% csrf_token %}
        	{% if form_login.errors %}
        	<div class="alert alert-danger">
        		Usuario y/o contraseña inválidos
        	</div>
        	{% endif %}
			<div class="form-group">
				<label for="">Usuario</label>
				{{form_login.username}}
				<div class="invalid-feedback">
					Ingresar usuario
            	</div>
			</div>
			<div class="form-group">
				<label for="">Contraseña</label>
				{{form_login.password}}
				<div class="invalid-feedback">
					Ingresar contraseña
            	</div>
			</div>
			<p><a href="{% url 'user:password_reset' %}">Olvidó su contraseña?</a></p>
			<button class="btn btn-primary btn-lg btn-block">Login</button>
		</form>
	</div>
</div>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>