.btn-delete {
  font-family: "Material Icons";
}

.btn-evaluate {
  font-family: "Material Icons";
}

input:disabled {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #666;
}

input:read-only {
    background-color: transparent;
    border: 1px solid #eee;
    color: #222;
}

.list-group-item-small {
	padding-top:0.1em;
	padding-bottom:0.1em;
}

tr.notification
{
  background:#ffeeba;
}

tr.conflict
{
  background:#fdd;
}

.inline-icon {
   vertical-align: bottom;
   font-size: 20px !important;
}

p.info {
  font-size: 0.8em;
  font-style: italic;
  padding-left: 1em;
  color: #666;
}