<div class="col-2">
	<div class="form-group">
		{{forms.house.bedrooms.label_tag}}
		{{forms.house.bedrooms}}
	</div>
</div>
<div class="col-2">
	<div class="form-group">
		{{forms.house.bathrooms.label_tag}}
		{{forms.house.bathrooms}}
	</div>
</div>
<div class="col-2">
	<div class="form-group">
		{{forms.house.floor.label_tag}}
		{{forms.house.floor}}
	</div>
</div>
<div class="col-2">
	<div class="form-group">
		{{forms.house.orientation.label_tag}}
		{{forms.house.orientation}}
	</div>
</div>