<div class="row">
  <div class="col-2">
    <p class="text-right">{{forms.house.generalDescription.label_tag}}</p>
  </div>
  <div class="col-6">
    <div class="form-group">
      {{forms.house.generalDescription}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p class="text-right">{{forms.house.programa.label_tag}}</p>
  </div>
  <div class="col-6">
    <div class="form-group">
      {{forms.house.programa}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <p class="text-right">{{forms.house.estructuraTerminaciones.label_tag}}</p>
  </div>
  <div class="col-6">
    <div class="form-group">
      {{forms.house.estructuraTerminaciones}}
    </div>
  </div>
</div>