<div id="property_list_data" data-real_estate_id="{{real_estate.id}}">
	
	<div class="row">
		<div class="col-4">
	    	<label>
	      		Propiedades
	    	</label>
	  	</div>
	  	<div class="col-8 text-right">
			<a href="#" id="btn_add_property_modal" style="font-size:0.9em;">
				Agregar propiedad
			</a>
	  	</div>
	</div>

	<div class="row text-center">
		<div class="col-12">
			<div class="form-check">
    			<input type="checkbox" class="form-check-input" checked>
    			<label class="form-check-label mb-2">
					<small>
						Sólo mostrar propiedades siendo tasadas
					</small>
				</label>
  			</div>
		</div>
	</div>

	{% if app_properties.items|length == 0 %}
		<div class="alert alert-warning">
			No hay propiedades siendo tasadas.
		</div>
	{% else %}
		{% for real_estate, property_classes in app_properties.items %}
			<p>{{real_estate.address_no_region}}</p>
			{% for class_type, classes in property_classes.items %}
				{% for class, properties in classes.items %}
					<div class="list-group-item flex-column align-items-start building_list_item" data-terrain_id="{{class.id}}">
						{% include "appraisal/properties/sidebar/property_list_item.html" %}
					</div>
				{% endfor %}
			{% endfor %}
		{% endfor %}
	{% endif %}

</div>