<div class="col-md-4">
  <div class="card mr-2 mb-2 rounded-0" style="width:400px;">
    {% if 'no-img.jpg' not in photo.photo.url %}
    <div style="position: relative;width: 100%;height: 300px;overflow: hidden;" class="container">
      <img class="image" src="{{photo.photo.url}}"/>
      <div class="middle">
        <button type="button" class="btn_photo_modal btn btn-dark" data-photo_id="{{photo.id}}">
          Modificar imagen
        </button>
      </div>
    </div>
    {% else %}
    <button type="button" class="btn_photo_modal btn btn-dark btn-block rounded-0 border-0" data-photo_id="{{photo.id}}" style="height:300px;padding: 30% 0;">
      Agregar imagen
    </button>
    {% endif %}
    <div class="card-body">
      <div class="row">
        <div class="col-10 text-left">
          <p class="card-title description mb-0">
            <span style="font-weight: 800">{{photo.get_category_display}}</span>
          </p>
          {% if photo.description %}
          <p class="mb-0">
            <small>{{photo.description}}</small>
          </p>
          {% endif %}
        </div>
        <div class="col-2 text-right">
          {% if photo.photo %}
          {% include 'main/btn_delete.html' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>