<div class="card-body">

  <div class="form-group row align-middle">
    <div class="col-auto">
      <label for="" class="col-form-label-sm">
        Calle
      </label>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control form-control-sm" value="{{ building.addressStreet }}" disabled>
    </div>

    <div class="col-auto">
      <label for="" class="col-form-label-sm">
      No.
      </label>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control form-control-sm" value="{{building.addressNumber}}" disabled>
    </div>

    <div class="col-auto">
      <label for="" class="col-form-label-sm">
      Dpto.
      </label>
    </div>
    <div>
      <input type="text" class="form-control form-control-sm" value="{{ apartment.number }}" disabled>
    </div>
  </div>

  <div class="form-group row align-middle">
    <div class="col-auto">
      <label for="" class="col-form-label-sm">
        Comuna
      </label>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control form-control-sm" value="{{ building.addressCommune }}" disabled>
    </div>

    <div class="col-auto">
      <label for="" class="col-form-label-sm">
        Región
      </label>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control form-control-sm" value="{{ building.addressRegion }}" disabled>
    </div>
  </div>

  <div class="card bg-light mb-1">
  <div class="card-header">
    Características generales
  </div>
  <div class="card-body">

    <div class="row">
    <div class="col-md-4">

      <div class="form-group row align-middle">
        <div class="col-auto">
          {{form_apartment.floor.label}}
        </div>
        <div class="col-lg-3">
          {{form_apartment.floor}}
        </div>
      </div>

      <div class="form-group row align-middle">
        <div class="col-auto">
          {{form_apartment.bedrooms.label}}
        </div>
        <div class="col-lg-3">
          {{form_apartment.bedrooms}}
        </div>
      </div>

      <div class="form-group row align-middle">
        <div class="col-auto">
          {{form_apartment.bathrooms.label}}
        </div>
        <div class="col-lg-3">
          {{form_apartment.bathrooms}}
        </div>
      </div>

      <div class="form-group row align-middle">
        <div class="col-auto">
          {{form_apartment.builtSquareMeters.label}}
        </div>
        <div class="col-lg-3">
          {{form_apartment.builtSquareMeters}}
        </div>
      </div>

      <div class="form-group row align-middle">
        <div class="col-auto">
          {{form_apartment.usefulSquareMeters.label}}
        </div>
        <div class="col-lg-3">
          {{form_apartment.usefulSquareMeters}}
        </div>
      </div>

      <div class="form-group row align-middle">
        <div class="col-auto">
          {{form_apartment.orientation.label}}
        </div>
        <div class="col-lg-3">
          {{form_apartment.orientation}}
        </div>
      </div>

    </div>

    <div class="col-md-8">

      {{form_apartment.generalDescription.label_tag}}
      {{form_apartment.generalDescription}}

    </div>
    </div>

  </div>
  </div>

  <div class="card bg-light mb-1">
  <div class="card-header">
    Antecedentes técnico-legales
  </div>
  <div class="card-body">
  <div class="card-text">

    <div class="row">
    <div class="col-6">

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.anoConstruccion.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.anoConstruccion}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.vidaUtilRemanente.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.vidaUtilRemanente}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.avaluoFiscal.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.avaluoFiscal}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.dfl2.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.dfl2}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.selloVerde.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.selloVerde}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.copropiedadInmobiliaria.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.copropiedadInmobiliaria}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.ocupante.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.ocupante}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.tipoBien.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.tipoBien}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.destinoSII.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.destinoSII}}
      </div>
    </div>

  </div>
  <div class="col-6">

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.usoActual.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.usoActual}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.usoFuturo.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.usoFuturo}}
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="form-group row align-middle">
          <div class="col-auto">
            {{form_building.permisoEdificacion.label}}
          </div>
          <div class="col-lg-3">
            {{form_building.permisoEdificacion}}
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row align-middle">
          <div class="col-auto">
            Fecha
          </div>
          <div class="col-lg-3">
            {{form_building.permisoEdificacionDate}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="form-group row align-middle">
          <div class="col-auto">
            {{form_building.recepcionFinal.label}}
          </div>
          <div class="col-lg-3">
            {{form_building.recepcionFinal}}
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="form-group row align-middle">
          <div class="col-auto">
            Fecha
          </div>
          <div class="col-lg-3">
            {{form_building.recepcionFinalDate}}
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.expropiacion.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.expropiacion}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.viviendaSocial.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.viviendaSocial}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.adobe.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.adobe}}
      </div>
    </div>

    <div class="form-group row align-middle">
      <div class="col-auto">
        {{form_building.desmontable.label}}
      </div>
      <div class="col-lg-3">
        {{form_building.desmontable}}
      </div>
    </div>

    </div>
    </div>

  </div>
  </div>
  </div>

</div>
