<div class="card-body">

    <div class="section-title">
      <h2> Valorización </h2>
    </div>

    <div class="row">
    <div class="col-6">
    <table class="table table-sm table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Valores de tasación</th>
          <th scope="col">$</th>
          <th scope="col">UF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col" style="vertical-align: middle;">Valor comercial</td>
          <td scope="col"><input type="number" name="valor" id="id_valor" class="form-control form-control-sm" disabled></td>
          <td scope="col">{{form_appraisal.valorUF}}</td>
        </tr>
        <tr>
          <td scope="col" style="vertical-align: middle;">Valor liquidez</td>
          <td scope="col"><input type="number" name="valor_liquidez" id="id_valor_liquidez" class="form-control form-control-sm" disabled></td>
          <td scope="col"><input type="number" name="valor_liquidez_uf" id="id_valor_liquidez_uf" class="form-control form-control-sm" disabled></td>
        </tr>
        <tr>
          <td scope="col" style="vertical-align: middle;">Monto seguro</td>
          <td scope="col"><input type="number" name="valor_monto_seguro" id="id_valor_monto_seguro" class="form-control form-control-sm" disabled></td>
          <td scope="col"><input type="number" name="valor_monto_seguro_uf" id="id_valor_monto_seguro_uf" class="form-control form-control-sm" disabled></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>

  </div>

  <script>
    $("#id_valorUF").change(function () {
      var url = $("#form").attr("ajax_computeValuationsUrl");
      var valor = $(this).val();
      $.ajax({
        url: url,
        data: {
          'valor': valor
        },
        success: function (data) {
          data = JSON.parse(data)
          $("#id_valor").val(parseFloat(data.valorComercialPesos));
          $("#id_valor_liquidez").val(parseFloat(data.valorLiquidezPesos));
          $("#id_valor_liquidez_uf").val(parseFloat(data.valorLiquidezUF));
          $("#id_valor_monto_seguro").val(parseFloat(data.montoSeguroPesos));
          $("#id_valor_monto_seguro_uf").val(parseFloat(data.montoSeguroUF));
        }
      });
    });
  </script>


<div class="card-body">

    <div class="section-title">
      <h2> Muestras comparativas </h2>
    </div>

    <table class="table table-sm table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Propiedad</th>
          <th scope="col">Tipología</th>
          <th scope="col">Fuente</th>
          <th scope="col">Área construida (m<sup>2</sup>)</th>
          <th scope="col">Área útil (m<sup>2</sup>)</th>
          <th scope="col">Valor comercial (UF)</th>
        </tr>
      </thead>
      <tbody>
        {% for o in references %}
        <tr>
          <td scope="row">{{o.building.addressStreet}} {{o.building.addressNumber}}</td>
          <td>{{ o.propertyType | title }}</td>
          <td><a href="{{o.sourceUrl}}">{{ o.sourceNameNice }}</a></td>
          <td>{{ o.builtSquareMeters }}</td>
          <td>{{ o.usefulSquareMeters }}</td>
          <td>{{ o.marketPrice }}</td>
        </tr>
        {% endfor %}

        <tr class="table-warning">
          <th scope="row">Promedios</th>
          <td></td>
          <td></td>
          <td>{{ averages.builtSquareMeters__avg }}
          &plusmn; {{ stds.builtSquareMeters__stddev | floatformat:1 }}</td>
          <td>{{ averages.usefulSquareMeters__avg }}
          &plusmn; {{ stds.usefulSquareMeters__stddev | floatformat:1 }}</td>
          <td>{{ averages.marketPrice__avg }}
          &plusmn; {{ stds.marketPrice__stddev | floatformat:1 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
