<div class="card-body">
  
  <div class="form-group">
  <div class="form-row">
    <div class="col-4">
    <div class="input-group input-group-sm">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      Calle
    </span>
    </div>
      <input type="text" class="form-control form-control-sm" value="{{ building.addressStreet }}" disabled>
    </div>
    </div>

    <div class="col-2">
    <div class="input-group input-group-sm">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      No.
    </span>
    </div>
      <input type="text" class="form-control form-control-sm" value="{{building.addressNumber}}" disabled>
    </div>
    </div>

    <div class="col-2">
    <div class="input-group input-group-sm">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      Dpto.
    </span>
    </div>
      <input type="text" class="form-control form-control-sm" value="{{ apartment.number }}" disabled>
    </div>
    </div>
  </div>
  </div>

  <div class="form-group">
  <div class="form-row">
    <div class="col-4">
    <div class="input-group input-group-sm">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      Comuna
    </span>
    </div>
      <input type="text" class="form-control form-control-sm" value="{{ building.addressCommune }}" disabled>
    </div>
    </div>

    <div class="col-4">
    <div class="input-group input-group-sm">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      Región
    </span>
    </div>
      <input type="text" class="form-control form-control-sm" value="{{ building.addressRegion }}" disabled>
    </div>
    </div>
  </div>
  </div>

</section>

  <div id="general" class="subsection">

    <label>Características generales</label>

    <div class="form-row">
    <div class="col-md-3">

    <div class="row">
    <div class="col-md-7">
    <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      {{form_apartment.floor.label}}
    </span>
    </div>
      {{form_apartment.floor}}
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-7">
    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_apartment.bedrooms.label}}
        </span>
      </div>
      {{form_apartment.bedrooms}}
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-md-7">
    <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      {{form_apartment.bathrooms.label}}
    </span>
    </div>
      {{form_apartment.bathrooms}}
    </div>
    </div>
    </div>

    <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      {{form_apartment.builtSquareMeters.label}}
    </span>
    </div>
    {{form_apartment.builtSquareMeters}}
    <div class="input-group-append">
      <span class="input-group-text" id="inputGroup-sizing-sm">
        m<sup>2</sup>
      </span>
    </div>
    </div>

    <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      {{form_apartment.usefulSquareMeters.label}}
    </span>
    </div>
    {{form_apartment.usefulSquareMeters}}
    <div class="input-group-append">
      <span class="input-group-text" id="inputGroup-sizing-sm">
        m<sup>2</sup>
      </span>
    </div>
    </div>

    <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">
      {{form_apartment.orientation.label}}
    </span>
    </div>
      {{form_apartment.orientation}}
    </div>

    </div>

    <div class="col-md-8">

      {{form_apartment.generalDescription.label_tag}}
      {{form_apartment.generalDescription}}

    </div>
    </div>
  </div>

  <section>
  <div id="technical_legal" class="subsection">

    <label>Antecedentes técnico-legales</label>

    <div class="row">
    <div class="col-6">

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.anoConstruccion.label}}
        </span>
      </div>
      {{form_building.anoConstruccion}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.vidaUtilRemanente.label}}
        </span>
      </div>
      {{form_building.vidaUtilRemanente}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.avaluoFiscal.label}}
        </span>
      </div>
      {{form_building.avaluoFiscal}}
      <div class="input-group-append">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          UF
        </span>
      </div>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.dfl2.label}}
        </span>
      </div>
      {{form_building.dfl2}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.selloVerde.label}}
        </span>
      </div>
      {{form_building.selloVerde}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.copropiedadInmobiliaria.label}}
        </span>
      </div>
      {{form_building.copropiedadInmobiliaria}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.ocupante.label}}
        </span>
      </div>
      {{form_building.ocupante}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.tipoBien.label}}
        </span>
      </div>
      {{form_building.tipoBien}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.destinoSII.label}}
        </span>
      </div>
      {{form_building.destinoSII}}
    </div>

  </div>
  <div class="col-6">

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.usoActual.label}}
        </span>
      </div>
      {{form_building.usoActual}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.usoFuturo.label}}
        </span>
      </div>
      {{form_building.usoFuturo}}
    </div>

    <div class="row">
      <div class="col-8">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              {{form_building.permisoEdificacion.label}}
            </span>
          </div>
          {{form_building.permisoEdificacion}}
        </div>
      </div>
      <div class="col-4">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              Fecha
            </span>
          </div>
          {{form_building.permisoEdificacionDate}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              {{form_building.recepcionFinal.label}}
            </span>
          </div>
          {{form_building.recepcionFinal}}
        </div>
      </div>
      <div class="col-4">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">
              Fecha
            </span>
          </div>
          {{form_building.recepcionFinalDate}}
        </div>
      </div>
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.expropiacion.label}}
        </span>
      </div>
      {{form_building.expropiacion}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.viviendaSocial.label}}
        </span>
      </div>
      {{form_building.viviendaSocial}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.adobe.label}}
        </span>
      </div>
      {{form_building.adobe}}
    </div>

    <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">
          {{form_building.desmontable.label}}
        </span>
      </div>
      {{form_building.desmontable}}
    </div>

    </div>
    </div>

  </div>
</div>
