{% extends "list/base.html" %}

{% load tabs %}

{% block head %}
{% load static %}
<link rel="stylesheet" href="{% static 'appraisal/css/app.css' %}">
<link rel="stylesheet" href="{% static 'appraisal/css/sidebar.css' %}">
<link rel="stylesheet" href="{% static 'appraisal/css/value.css' %}">
<link rel="stylesheet" href="{% static 'appraisal/css/modals.css' %}">
<link rel="stylesheet" href="{% static 'list/css/logbook.css' %}">
<script src="{% static "list/js/modal_assign_tasador.js" %}" type="text/javascript"></script>
<script src="{% static "list/js/tools.js" %}" type="text/javascript"></script>
<script src="{% static "appraisal/js/value_comparable.js" %}" type="text/javascript"></script>
{% endblock head %}

{% block content %}

  <div id="appraisal_data" data-appraisal_id="{{appraisal.id}}"></div>

  <nav class="navbar justify-content-between">
    <!--<a class="navbar-brand" href="#">-->
    <h4>
      {{appraisal.address}}
    </h4>
    <!--</a>-->
    <ul class="navbar-nav mr-auto"> </ul>
    {% if appraisal.paused %}
    <button class="btn btn-outline-primary mr-2" type="button" data-toggle="modal" data-target="#modalExport">Resumir</button>
    {% endif %}
    {% if appraisal.finished %}
    <button name="btn_export"  class="btn btn-outline-dark mr-2" type="button" data-toggle="modal" data-target="#modalExport">Exportar</button>
    <button name="btn_restore" class="btn btn-outline-dark">Restaurar</button>
    {% else %}
    <button name="btn_export" class="btn btn-outline-dark mr-2" type="button" data-toggle="modal" data-target="#modalExport">Exportar</button>
    <button name="btn_finish" class="btn btn-outline-dark mr-2" type="button" data-toggle="modal" data-target="#modalFinish">Finalizar</button>
    <button name="btn_save" class="btn btn-outline-dark mr-2" style="font-family:Material Icons;font-size:1em;">save</button>
    <button name="btn_delete" class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#modalDelete" style="font-family:Material Icons;font-size:1em;">delete</button>
    {% endif %}
  </nav>

  <div class="container-fluid">

    <div class="row">

      <div class="col text-center">
        {% if appraisal.not_assigned %}
        <div class="alert alert-warning" role="alert">Esperando asignación</div>
        {% elif appraisal.active %}
        <div class="alert alert-primary" role="alert">Activa</div>
        {% elif appraisal.paused %}
        <div class="alert alert-warning" role="alert">Pausada</div>
        {% elif appraisal.finished %}
        <div class="alert alert-secondary" role="alert">Terminada</div>
        {% endif %}
      </div>

      <div class="col text-center">
        <div class="alert alert-secondary" role="alert">
          {% if appraisal.orderFile %}
          <a href="{{appraisal.orderFile.url}}" style="color:#000;">Descargar solicitud</a>
          {% else %}
          Archivo de pedido no disponible
          {% endif %}
        </div>
      </div>

      <div class="col text-center">
        {% if appraisal.daysLeft > 3 %}
        <div class="alert alert-primary" role="alert" id="timeLeft">
          Entrega: {{appraisal.timeDue|date:"d/m G:i"}}
        </div>
        {% elif appraisal.daysLeft > 1 %}
        <div class="alert alert-warning" role="alert" id="timeLeft">
          Entrega: {{appraisal.timeDue|date:"d/m G:i"}}
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert" id="timeLeft">
          Entrega: {{appraisal.timeDue|date:"d/m G:i"}}
        </div>
        {% endif %}
      </div>

    </div>

    <div class="card">

      <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab" >
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"general"}}" id="general-tab" data-toggle="tab" href="#general">
              Aspectos generales
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"property"}}" id="property-tab" data-toggle="tab" href="#property">
              Propiedad(es)
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"surroundings"}}" id="surroundings-tab" data-toggle="tab" href="#surroundings">
              Entorno
            </a>
          </li>
          <li class="nav-item">
            <a id="tab_value" class="{{request.GET.tab|tab_nav_class:"value"}}" id="value-tab" data-toggle="tab" href="#value">
              Valoración
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"annex"}}" id="annex-tab" data-toggle="tab" href="#annex">
              Anexos
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"logbook"}}" id="logbook-tab" data-toggle="tab" href="#logbook">
              Bitácora
            </a>
          </li>
        </ul>

      </div>

      <div class="tab-content" id="myTabContent">

        <div class="{{request.GET.tab|tab_pane_class:"general"}}" id="general">
          {% include "appraisal/general.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"property"}}" id="property">
          {% include "appraisal/properties/index.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"surroundings"}}" id="surroundings">
          {% include "appraisal/surroundings.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"value"}}" id="value">
          {% include "appraisal/value/index.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"annex"}}" id="annex">
          {% include "appraisal/annex.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"logbook"}}" id="logbook">
          {% include "appraisal/logbook.html" %}
        </div>

      </div>

    </div>

  </div>

{% include "appraisal/modals.html" %}

<!-- Script to go back to the same tab when refreshing webpage -->
<script>

  $(".nav-link").click(function(e) {
    if ($("#property-tab").hasClass("active")) {
      save_property()
    }
    if ($("#general-tab").hasClass("active") || $("#surroundings-tab").hasClass("active")) {
      save_appraisal()
    }
  })

  $("#tab_value").click(function(e) {
    var appraisal_id = {{appraisal.id}};
    var data = {'appraisal_id':appraisal_id};
    var url = "{% url 'ajax_load_tab_value_comparable_url' %}";
    console.log(url)
    $.ajax({
      url: url,
      type: 'get',
      data: data,
      error: function () {
          alert("Error al cargar pestaña valor 1.");
          return false;
      },
      success: function (ret) {
        $("#value_comparable .body").html($.trim(ret));
      }
    });
  }) 

  $('#myTab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  });

  // store the currently selected tab in the hash value
  $("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
    var id = $(e.target).attr("href").substr(1);
    //window.location.hash = id;
  });

  // on load of the page: switch to the currently selected tab
  var hash = window.location.hash;
  $('#myTab a[href="' + hash + '"]').tab('show');
</script>

{% endblock content %}
