
<div class="modal-dialog" role="document">
  <form action="" method="post" id="form_edit_address">
  {% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar dirección</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="alert alert-secondary">
          Se cambiará la dirección de todas las propiedades actualmente asociadas a esta dirección.
        </div>

        <input type="hidden" id="in_appraisal_id" name="appraisal_id" value="{{appraisal.id}}">
        <input type="hidden" id="in_real_estate_id" name="real_estate_id" value="{{real_estate.id}}">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_edit_address.addressRegion.label_tag}}
              {{form_edit_address.addressRegion}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_edit_address.addressCommune.label_tag}}
              {{form_edit_address.addressCommune}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_edit_address.addressStreet.label_tag}}
              {{form_edit_address.addressStreet}}
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_edit_address.addressNumber.label_tag}}
              {{form_edit_address.addressNumber}}
            </div>
          </div>
        </div>

        <div class="alert alert-warning" id="edit_address_alert" style="display:none;">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger ld-ext-right" id="btn_remove_address" value="{{real_estate.id}}">
          Borrar
          <div class="ld ld-ring ld-spin"></div>
        </button>
        <button class="btn btn-primary ld-ext-right" id="btn_edit_address" value="{{real_estate.id}}">
          Guardar
          <div class="ld ld-ring ld-spin" style="display:none;"></div>
        </button>
      </div>
    </div>
  </form>
</div>
