<div class="modal-dialog" role="document">
  <form action="" method="post" id="form_edit_property">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Editar propiedad</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" id="in_appraisal_id" name="appraisal_id" value="{{appraisal.id}}">
        <input type="hidden" id="in_real_estate_id" name="real_estate_id" value="{{real_estate.id}}">
        <input type="hidden" id="in_building_id" name="building_id" value="{{building.id}}">
        {% if apartment %}
        <input type="hidden" id="in_apartment_id" name="apartment_id" value="{{apartment.id}}">
        {% endif %}
        {% if terrain %}
        <input type="hidden" id="in_terrain_id" name="terrain_id" value="{{terrain.id}}">
        {% endif %}

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {% if terrain %}
              <label>Lote</label>
              {% elif apartment %}
              <label>Departamento</label>
              {% endif %}
              {{form_edit_property.addressNumber2}}
            </div>
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button class="btn btn-danger ld-ext-right" id="btn_remove_property" value="{{real_estate.id}}">
        Borrar
        <div class="ld ld-ring ld-spin" style="display:none;"></div>
      </button>
      <button class="btn btn-primary ld-ext-right" id="btn_edit_property" value="{{real_estate.id}}">
        Guardar
        <div class="ld ld-ring ld-spin" style="display:none;"></div>
      </button>
    </div>
  </div>
  </form>
</div>
