<div class="modal-dialog modal-lg" role="document">
	<form method="post" id="form_photo" enctype="multipart/form-data" novalidate>
		{% csrf_token %}
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Photo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
	  		<div class="modal-body">
	    		<img id="photo" class="img-fluid rounded" src=""/>
				<div class="form-group row">
	  				<div class="col-6">
	    				{{form.photos.label_tag}}
	    				<div class="custom-file">
	      					{{form.photos}}
	      					<label class="custom-file-label" for="validatedCustomFile">Seleccionar archivo</label>
	    				</div>
	  				</div>
	  				<div class="col-6">
	    				{{form.category.label_tag}}
	    				{{form.category}}
	  				</div>
				</div>
				<div class="form-group row mb-4">
	  				<div class="col-12">
	    				{{form.description.label_tag}}
	    				{{form.description}}
	  				</div>
				</div>
				<script>
	  				$('#id_photos').change(function() {
	    				if ($('#id_photos')[0].files.length == 1) {
	      					var file = $('#id_photos')[0].files[0].name;
	      					$('.custom-file-label').text(file);
	    				}
	  				});
				</script>
	  		</div>
	  		<div class="modal-footer">
	  			<input class="appraisal_id" name="appraisal_id" type="hidden" value="0">
	    		<input class="photo_id" name="photo_id" type="hidden" value="0">
	    		<button type="button" class="btn btn-secondary" data-dismiss="modal">
	    			Cerrar
	    		</button>
	    		<button type="button" id='btn_photo_save' class="btn btn-primary ld-ext-right">
	      			Agregar foto
	      			<div class="ld ld-ring ld-spin"></div>
	    		</button>
	    		<!--<button class="btn btn-danger" name="btn_delete_photo">Borrar</button>-->
	  		</div>
		</div>
	</form>
</div>