<div class="modal fade" id="modal_assign_tasador" tabindex="-2">
  {% include 'list/modal_assign_tasador.html' %}
</div>

<div class="modal fade" id="modal_assign_visador" tabindex="-2">
  {% include 'list/modal_assign_visador.html' %}
</div>

<div class="modal fade" id="modal_edit_address" tabindex="-1">
  {% include 'appraisal/modals/modal_edit_address.html' %}
</div>

<div class="modal fade" id="modal_add_address" tabindex="-1">
</div>

<div class="modal fade" id="modal_remove_address" tabindex="-1">
  {% include 'appraisal/modals_remove_address.html' %}
</div>

<div class="modal fade" id="modal_add_property" tabindex="-1">
</div>

<div class="modal fade" id="modal_edit_property" tabindex="-1">
  {% include 'appraisal/modals_edit_property.html' %}
</div>

<div class="modal fade" id="modal_add_apartment" tabindex="-1">
  {% include 'appraisal/modals_add_apartment.html' %}
</div>

<div class="modal fade" id="modal_add_rol" tabindex="-1">
  {% include 'appraisal/modals_add_rol.html' %}
</div>

<div class="modal fade" id="modalExport" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Exportar tasación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Elija un formato:
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
            <label class="form-check-label" for="exampleRadios1">
              Excel (Santander)
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
            <label class="form-check-label" for="exampleRadios2">
              Excel (BBVA)
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">
              Otros
            </label>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button name="btn_export" class="btn btn-primary">Exportar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalFinish" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Finalizar tasación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          ¿Esta seguro que desea finalizar la tasación?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button name="btn_finish" class="btn btn-primary">Finalizar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar tasación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>¿Esta seguro que desea eliminar la tasación?</p>
          <p>¡Se perderán todos los datos!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button name="btn_delete" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_assign_tasador" tabindex="-2" role="dialog" aria-hidden="true">
  {% include 'list/modal_assign_tasador.html' %}
</div>

<div class="modal fade" id="modal_assign_visador" tabindex="-2" role="dialog" aria-hidden="true">
  {% include 'list/modal_assign_visador.html' %}
</div>

<div class="modal fade" id="modal_add_property_comparable" tabindex="-2" role="dialog" aria-hidden="true">
  {% include 'appraisal/modals_add_property_comparable.html' %}
</div>

<div class="modal fade" id="modal_photo" tabindex="-2" role="dialog" aria-labelledby="label" aria-hidden="true">
  {% include 'appraisal/modals_photo.html' %}
</div>

<div class="modal fade" id="modalDocument" tabindex="-2" role="dialog" aria-labelledby="label" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Documento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="document" class="img-fluid rounded" src=""/>
      </div>
      <div class="modal-footer">
        <!--<input id="photo_id" name="photo_id" type="hidden" value="0">-->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <!--<button class="btn btn-danger" name="btn_delete_photo">Borrar</button>-->
      </div>
    </div>
  </div>
</div>
