
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Agregar dirección</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form action="" method="post" id="form_add_address">

    <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" id="in_appraisal_id" name="appraisal_id" value="{{appraisal.id}}">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_add_address.addressRegion.label_tag}}
              {{form_add_address.addressRegion}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_add_address.addressCommune.label_tag}}
              {{form_add_address.addressCommune}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_add_address.addressStreet.label_tag}}
              {{form_add_address.addressStreet}}
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_add_address.addressNumber.label_tag}}
              {{form_add_address.addressNumber}}
            </div>
          </div>
        </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <button name="btn_export" class="btn btn-primary" id="btn_add_address">Agregar</button>
    </div>

    </form>
  </div>
</div>
