<form id="form_add_property_similar" class="needs-validation">
  {% csrf_token %}
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir {{realestate.get_propertyType_display}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Calle</label>
              {{form_property.addressStreet}}
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Número</label>
              {{form_property.addressNumber}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Número 2</label>
              {{form_property.addressNumber2}}
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Comuna</label>
              {{form_property.addressCommune}}
            </div>
          </div>
        </div>

        {% if terrain %}
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              {{form_terrain.frente.label_tag}}
              {{form_terrain.frente}}
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              {{form_terrain.fondo.label_tag}}
              {{form_terrain.fondo}}
            </div>
          </div>
        </div>
        {% endif %}


        <div class="form-group">
          <label>Fuente URL</label>
          {{form_similar.sourceUrl}}
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Fuente</label>
              {{form_similar.sourceName}}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Código</label>
              {{form_similar.sourceId}}
            </div>
          </div>
        </div>

        {% if building %}
        {% if building.is_apartment %}
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Departamento</label>
              {{form.addressNumber2}}
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Piso</label>
              {{form.floor}}
            </div>
          </div>
        </div>
        {% endif %}

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Dormitorios</label>
              {{form.bedrooms}}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Baños</label>
              {{form.bathrooms}}
            </div>
          </div>
          {% if realestate.is_apartment %}
          <div class="col">
            <div class="form-group">
              <label>Superficie útil</label>
              {{form.usefulSquareMeters}}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Superficie terraza</label>
              {{form.terraceSquareMeters}}
            </div>
          </div>
          {% elif realestate.is_house %}
          <div class="col">
            <div class="form-group">
              <label>Superficie construida</label>
              {{form.builtSquareMeters}}
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Superficie terreno</label>
              {{form.terrainSquareMeters}}
            </div>
          </div>
          {% endif %}
        </div>

        {% endif %}

        <div class="form-group">
          <label>Precio mercado</label>
          {{form_similar.marketPrice}}
        </div>

      </div>

      <div class="modal-footer">
        <!--<input id="photo_id" name="photo_id" type="hidden" value="0">-->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button id="btn_add_property_similar" type="button" class="btn btn-primary">Añadir</button>
        <!--<button class="btn btn-danger" name="btn_delete_photo">Borrar</button>-->
      </div>

    </div>
  </div>
</form>

<script>

  $("#form_create_apartment").validate({
    rules: {
      "vc-addressStreet": "required",
      "vc-addressNumber": "required",
      "vc-addressCommune": "required",
      "vc-sourceUrl": "required",
      "vc-sourceName": "required",
      "vc-sourceId": "required",
      "vc-bathrooms": "required",
      "vc-bedrooms": "required",
      "vc-usefulSquareMeters": "required",
      "vc-terraceSquareMeters": "required",
      "vc-marketPrice": "required"
    }
  });

  // Modal things
  function parseSource() {
    var url = $("#id_vc-sourceUrl").val();
    if (url == undefined) {
      return
    }
    var urlParts = url.replace('http://','').replace('https://','').split(/[/?#]/);
    if (urlParts.length == 1) {
      return
    }
    var domain = urlParts[0].replace('www.','');
    var id = urlParts[4].split('-')[0]
    if (domain == 'portalinmobiliario.com') {
      $("#id_vc-sourceName").attr('value','portalinmobiliario');
      $("#id_vc-sourceName").val('portalinmobiliario');
      $("#id_vc-sourceId").attr('value',id);
      $("#id_vc-sourceId").val(id);
      var validator = $( "#form_create_apartment" ).validate();
      validator.element( "#id_vc-sourceName" );
      validator.element( "#id_vc-sourceId" );
    }
  }
  $("#id_vc-sourceUrl").change(parseSource)
  $(document).ready(function() {
    parseSource();
  })
</script>