
<div class="row ml-4 mt-4">
<div class="col">

  <div class="row">
    <div class="col-6">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label-sm font-weight-bold">Tasador</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" value="{{forms.appraisal.instance.tasadorUser.first_name}} {{forms.appraisal.instance.tasadorUser.last_name}}" disabled>
        </div>
        {% if perms.appraisal.assign_tasador %}
        {% if appraisal.active %}
        <div class="col-auto">
          <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#asignarTasador">
            Asignar tasador
          </button>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label-sm font-weight-bold">Visador</label>
        <div class="col-sm-6">
          <input type="text" class="form-control form-control-sm" value="{{forms.appraisal.instance.visadorUser.first_name}} {{forms.appraisal.instance.visadorUser.last_name}}" disabled>
        </div>
        {% if perms.appraisal.assign_visador %}
        {% if appraisal.active %}
        <div class="col-sm-auto">
          <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#asignarVisador">
            Asignar visador
          </button>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <label class="col-form-label-sm font-weight-bold">Tasación</label>
  <div class="row">
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Tipo</label>
        <div class="col-sm-9">
          {{forms.appraisal.tipoTasacion}}
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Objetivo</label>
        <div class="col-sm-9">
          {{forms.appraisal.objetivo}}
        </div>
      </div>
    </div>
  </div>

  <label class="col-form-label-sm font-weight-bold">Solicitante</label>
  <div class="row">
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Nombre</label>
        <div class="col-sm-9">
          {{forms.appraisal.solicitante}}
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Código</label>
        <div class="col-sm-9">
          {{forms.appraisal.solicitanteCodigo}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Sucursal</label>
        <div class="col-sm-9">
          {{forms.appraisal.solicitanteSucursal}}
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Ejecutivo</label>
        <div class="col-sm-9">
          {{forms.appraisal.solicitanteEjecutivo}}
        </div>
      </div>
    </div>
  </div>

  <label class="col-form-label-sm font-weight-bold">Cliente</label>
  <div class="row">
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Nombre</label>
        <div class="col-sm-9">
          {{forms.appraisal.cliente}}
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Rut</label>
        <div class="col-sm-9">
          {{forms.appraisal.clienteRut}}
        </div>
      </div>
    </div>
  </div>

  <label class="col-form-label-sm font-weight-bold">Propietario</label>
  <div class="row">
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Nombre</label>
        <div class="col-sm-9">
          {{forms.appraisal.propietario}}
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm text-right">Rut</label>
        <div class="col-sm-9">
          {{forms.appraisal.propietarioRut}}
        </div>
      </div>
    </div>
  </div>

    <div class="card bg-light mb-1">
    <div class="card-header">Roles</div>
    <div class="card-body">
      <div class="card-text">
        <div class="form-row">
          <div class="col-auto">
            <label for="solicitante" class="col-form-label-sm">
              Rol avaluo
            </label>
          </div>
          <div class="col-lg-3">
            {{forms.appraisal.rolAvaluo}}
          </div>
        </div>
      </div>
    </div>
    </div>

</div>
</div>

<script>
   $.formUtils.addValidator({
      name : 'rut',
      validatorFunction : function(rut, $el, config, language, $form) {
         function dv(T){
            var M=0,S=1;
            for(;T;T=Math.floor(T/10))
               S=(S+T%10*(9-M++%6))%11;
            return S?S-1:'k';
         };
         if (rut.length == 0) return true // assuming field is not required
         if (rut.length < 2) return false
         rut = rut.split('.').join("");
         rut = rut.split('-').join("");
         var digv = rut.charAt(rut.length-1);
         n = rut.substring(0,rut.length-1)
         return (dv(n) == digv);
         rut = parseInt(rut);
         if (isNaN(rut)) {
            return false
         }
         return true
      },
      errorMessage : 'Rut invalido',
      errorMessageKey: 'badRut'
   });

   $.validate({
      //errorMessageClass: 'help-block form-error text-danger small',
      lang: 'es'
   });
</script>
