<script>

  var UF_IN_PESOS = 0.0;

  function pesosFormat(number) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{maximumFractionDigits:0});
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{maximumFractionDigits:0});
    }
  }

  function UFFormat(number) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{maximumFractionDigits:1,minimumFractionDigits:1}); 
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{maximumFractionDigits:1,minimumFractionDigits:1}); 
    }
  }

  function percentFormat(number) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{style:'percent',maximumFractionDigits:1}); 
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{style:'percent',maximumFractionDigits:1}); 
    }
  }

  function areaFormat(number) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{maximumFractionDigits:1,minimumFractionDigits:1}); 
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{maximumFractionDigits:1,minimumFractionDigits:1}); 
    }
  }

  function floatFormat(number,c=1) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{maximumFractionDigits:c,minimumFractionDigits:c}); 
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{maximumFractionDigits:c ,minimumFractionDigits:c}); 
    }
  }

  function parseFloatEs(string) {
    string = string.replace(/[.]+/g,'')
    string = string.replace(/[,]+/g,'.')
    return parseFloat(string)
  }

</script>

<div id="accordion">

<div class="card ml-4 mr-4 mt-4 rounded-0">
  <div class="card-header" id="header">
    <div class="row">
      <div class="col">
        <p style="margin:0em;">Muestras comparativas</p>
      </div>
      <div class="col text-right">
        <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#valuationRealEstate" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          more_vert
        </a>
      </div>
    </div>
  </div>

  {% load l10n %}
  {% localize on %}

  <div id="valuationRealEstate" class="collapse show" aria-labelledby="heading">
    <div class="card-body" style="padding:0em;">
      <table id="table_selected_real_estate" class="table table-sm mb-0">

        <thead class="thead">
          <tr>
            <!--<th scope="col">lat/lng</th>-->
            <th></th>
            <th scope="col" style="width: 1em;text-align:right;">#</th>
            <th scope="col" style="width: 20em;text-align:left;">Dirección</th>
            <th scope="col" style="width: 4em;text-align:center;">Tipo</th>
            <th scope="col" style="width: 4em;text-align:center;">Fuente</th>
            <th scope="col" style="width: 3em;text-align:center;"><i class="fas fa-bed"></i></th>
            <th scope="col" style="width: 3em;text-align:center;"><i class="fas fa-bath"></i></th>
            {% if realestate.is_house %}
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup> const.</th>
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup> terreno</th>
            {% elif realestate.is_apartment %}
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup> útil</th>
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup> terraza</th>
            {% endif %}
            <th scope="col" style="width: 10em;text-align:right;">Valor comercial</th>
            {% if realestate.is_house %}
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup> con.</th>
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup> tot.</th>
            {% elif realestate.is_apartment %}
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup> útil</th>
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup> tot.</th>
            {% endif %}
            <th scope="col" style="width: 5em;"></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr class="table-warning current sre">
            <!--<td><small>{{realestate.latlng_verbose}}</small></td>-->
            <td></td>
            <td></td>
            <td scope="row">{{realestate.addressStreet}} {{realestate.addressNumber}}</td>
            <td style="text-align:center;"><i class="{{realestate.get_propertyTypeIcon}}"></i></td>
            <td></td>
            {% if realestate.is_house %}
            <td style="text-align:center;">{{realestate.house.bedrooms|default_if_none:"-"}}</td>
            <td style="text-align:center;">{{realestate.house.bathrooms|default_if_none:"-"}}</td>
            <td class="td_c_area_1" style="text-align:right;">{{realestate.house.builtSquareMeters|default_if_none:"-"}}</td>
            <td class="td_c_area_2" style="text-align:right;">{{realestate.house.terrainSquareMeters|default_if_none:"-"}}</td>
            {% elif realestate.is_apartment %}
            <td style="text-align:center;">{{realestate.apartment.bedrooms|default_if_none:"-"}}</td>
            <td style="text-align:center;">{{realestate.apartment.bathrooms|default_if_none:"-"}}</td>
            <td class="td_c_area_1" style="text-align:right;">{{realestate.apartment.usefulSquareMeters|default_if_none:"-"}}</td>
            <td class="td_c_area_2" style="text-align:right;">{{realestate.apartment.terraceSquareMeters|default_if_none:"-"}}</td>
            {% endif %}
            <td class="td_c_market_price" style="text-align:right;"></td>
            {% if realestate.is_house %}
            <td class="td_c_market_price_per_built_square_meters" style="text-align:right;"></td>
            <td class="td_c_market_price_per_total_square_meters" style="text-align:right;"></td>
            {% elif realestate.is_apartment %}
            <td class="td_c_market_price_per_useful_square_meters" style="text-align:right;"></td>
            <td class="td_c_market_price_per_total_square_meters" style="text-align:right;"></td>
            {% endif %}
            <td></td>
            <td></td>
          </tr>

          {% for o in appraisal.valuationRealEstate.all %}
          <tr id="trValuationRealEstate_{{o.id}}" class="sre">
            <input name="valuationRealEstateRow" type="hidden" value="{{o.id}}">
            <input id="in_valuationRealEstateRemove" name="valuationRealEstateRemove" type="hidden" value="0">
            <!--<td><small>{{o.latlng_verbose}}</small></td>-->
            <td></td>
            <td style="text-align:right;"><small>{{forloop.counter}}.</small></td>
            <td scope="row">{{o.addressStreet}} {{o.addressNumber}}</td>
            <td style="text-align:center;"><i class="{{o.get_propertyTypeIcon }}"></i></td>
            <td><a href="{{o.sourceUrl}}">{{ o.sourceNameNice }}</a></td>
            {% if o.is_house %}
            <td style="text-align:center;">{{ o.house.bedrooms }}</td>
            <td style="text-align:center;">{{ o.house.bathrooms }}</td>
            <td class="td_sre_area_1" style="text-align:right;" >{{ o.house.builtSquareMetersVerbose }}</td>
            <td class="td_sre_area_2" style="text-align:right;" >{{ o.house.terrainSquareMetersVerbose }}</td>
            {% elif o.is_apartment %}
            <td style="text-align:center;">{{ o.apartment.bedrooms }}</td>
            <td style="text-align:center;">{{ o.apartment.bathrooms }}</td>
            <td class="td_sre_area_1" style="text-align:right;" >{{ o.apartment.usefulSquareMetersVerbose }}</td>
            <td class="td_sre_area_2" style="text-align:right;" >{{ o.apartment.terraceSquareMetersVerbose }}</td>
            {% endif %}
            <td class="td_sre_market_price" style="text-align:right;">{{ o.marketPrice }}</td>
            {% if o.is_house %}
            <td class="td_sre_market_price_per_built_square_meters" style="text-align:right;">{{ o.house.marketPricePerBuiltSquareMeters }}</td>
            <td class="td_sre_market_price_per_total_square_meters" style="text-align:right;">{{ o.house.marketPricePerTotalSquareMeters }}</td>
            {% elif o.is_apartment %}
            <td class="td_sre_market_price_per_useful_square_meters" style="text-align:right;">{{ o.apartment.marketPricePerUsefulSquareMeters }}</td>
            <td class="td_sre_market_price_per_total_square_meters" style="text-align:right;">{{ o.apartment.marketPricePerTotalSquareMeters }}</td>
            {% endif %}
            <td style="padding:0em;text-align:right;">
              {% if not appraisal.finished %}
              <button type="button" class="btn btn-sm removeValuationRealEstate" name="btn_valuation_add_realestate" value="{{o.id}}" style="padding:0px; border:0px;">
                <i class="material-icons">delete</i>
              </button>
              {% endif %}
            </td>
            <td></td>
          </tr>
          {% endfor %}

          {% if appraisal.active %}
          <tr>
            <td></td>
            <td colspan="12" style="padding:0em;text-align:right;">
              <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#addRealEstate" style="padding:0px; border:0px; text-align:right;">
                <i class="material-icons">add_box</i>
              </button>
            </td>
            <td></td>
          </tr>
          {% endif %}

          <tr class="table-primary">
            <td></td>
            <td></td>
            <th scope="row">Promedios</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td id='vreUsefulSquareMetersAvg' style="text-align:right;"></td>
            <td id='vreTerraceSquareMetersAvg' style="text-align:right;"></td>
            <td id='vreMarketPriceAvg' style="text-align:right;"></td>
            <td id='vreMarketPricePerUsefulSquareMetersAvg' style="text-align:right;"></td>
            <td id='vreMarketPricePerTotalSquareMetersAvg' style="text-align:right;"></td>
            <td></td>
            <td></td>
          </tr>

        </tbody>

      </table>
    </div>
  </div>
  {% endlocalize %}
</div>

{% if not appraisal.finished %}
<div class="card ml-4 mr-4 mt-4 rounded-0">
  <div class="card-header" id="header">
    <div class="row">
      <div class="col">
        <p style="margin:0em;">Muestras de mercado</p>
      </div>
      <div class="col text-right">
        <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#realEstateMarket" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          more_vert
        </a>
      </div>
    </div>
  </div>
  <div id="realEstateMarket" class="collapse" aria-labelledby="heading">
    <div class="card-body" style="padding:0em;margin:0em;">
      {% if references|length_is:"0" %}
        <div class="alert alert-light ml-3 mr-3 mt-4" role="alert">
          <h4 class="alert-heading">No existen referencias</h4>
          <p>Probablemente no se han ingresado suficientes datos para obtener propiedades similares</p>
        </div>
      {% else %}
      <table id="table_references_real_estate" class="table table-sm mb-0">

        <thead class="thead">

          <tr>
            <th></th>
            <th scope="col" style="width: 1em;text-align:right;">#</th>
            <th scope="col" style="width: 20em;text-align:left;">Dirección</th>
            <th scope="col" style="width: 4em;text-align:center;">Tipo</th>
            <th scope="col" style="width: 4em;text-align:center;">Fuente</th>
            <th scope="col" style="width: 3em;text-align:center;"><i class="fas fa-bed"></i></th>
            <th scope="col" style="width: 3em;text-align:center;"><i class="fas fa-bath"></i></th>
            {% if realestate.is_house %}
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup> const.</th>
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup> terreno</th>
            {% elif realestate.is_apartment %}
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup> útil</th>
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup> terraza</th>
            {% endif %}
            <th scope="col" style="width: 10em;text-align:right;">Valor comercial</th>
            {% if realestate.is_house %}
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup> con.</th>
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup> tot.</th>
            {% elif realestate.is_apartment %}
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup> útil</th>
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup> tot.</th>
            {% endif %}
            <th scope="col" style="width: 5em;"></th>
            <th></th>
          </tr>

        </thead>

        <tbody>

          <tr class="table-warning current">
            <td></td>
            <td></td>
            <td scope="row">{{realestate.addressStreet}} {{realestate.addressNumber}}</td>
            <td style="text-align:center;"><i class="{{realestate.get_propertyTypeIcon }}"></i></td>
            <td></td>
            {% if realestate.is_house %}
            <td style="text-align:center;">{{realestate.apartment.bedrooms|default_if_none:"-"}}</td>
            <td style="text-align:center;">{{realestate.apartment.bathrooms}}</td>
            <td class="td_c_area_1" style="text-align:right;">{{realestate.house.builtSquareMeters}}</td>
            <td class="td_c_area_2" style="text-align:right;">{{realestate.house.terrainSquareMeters}}</td>
            {% elif realestate.is_apartment %}
            <td style="text-align:center;">{{realestate.apartment.bedrooms|default_if_none:"-"}}</td>
            <td style="text-align:center;">{{realestate.apartment.bathrooms|default_if_none:"-"}}</td>
            <td class="td_c_area_1" style="text-align:right;">{{realestate.apartment.usefulSquareMeters|default_if_none:"-"}}</td>
            <td class="td_c_area_2" style="text-align:right;">{{realestate.apartment.terraceSquareMeters|default_if_none:"-"}}</td>
            {% endif %}
            <td class="td_c_market_price" style="text-align:right;"></td>
            {% if realestate.is_house %}
            <td class="td_c_market_price_per_built_square_meters" style="text-align:right;"></td>
            <td class="td_c_market_price_per_total_square_meters" style="text-align:right;"></td>
            {% elif realestate.is_apartment %}
            <td class="td_c_market_price_per_useful_square_meters" style="text-align:right;"></td>
            <td class="td_c_market_price_per_total_square_meters" style="text-align:right;"></td>
            {% endif %}
            <td></td>
            <td></td>
          </tr>

          {% for r in references %}
          {% if r.included_in_valuation %} 
          <tr class="table-success" id="trMarketRealEstate_{{r.realestate.id}}" value="{{r.realestate.id}}">
          {% else %}
          <tr id="trMarketRealEstate_{{r.realestate.id}}" value="{{r.realestate.id}}">
          {% endif %}
            <!--<td><small>{{o.latlng_verbose}}</small></td>-->
            <td></td>
            <td style="text-align:right;">
              <small>{{forloop.counter}}.</small>
            </td>
            <td scope="row">
              {{r.realestate.addressOrCoords }}
            </td>
            <td style="text-align:center;">
              <i class="{{r.realestate.get_propertyTypeIcon }}"></i>
            </td>
            <td>
              <a href="{{r.realestate.sourceUrl}}" target="_blank">{{ r.realestate.sourceNameNice }}</a>
            </td>
            <td style="text-align:center;">
              {{ r.realestate.bedrooms }}
            </td>
            <td style="text-align:center;">
              {{ r.realestate.bathrooms }}
            </td>
            {% if r.realestate.is_house %}
            <td class="td_area_1" style="text-align:right;">
              {{ r.realestate.builtSquareMetersVerbose }}
            </td>
            <td class="td_area_2" style="text-align:right;">
              {{ r.realestate.terrainSquareMetersVerbose }}
            </td>
            {% elif realestate.is_apartment %}
            <td class="td_area_1" style="text-align:right;">
              {{ r.realestate.usefulSquareMetersVerbose }}
            </td>
            <td class="td_area_2" style="text-align:right;">
              {{ r.realestate.terraceSquareMetersVerbose }}
            </td>
            {% endif %}
            <td class="td_market_price" style="text-align:right;">
              {{ r.realestate.marketPrice }}
            </td>
            {% if realestate.is_house %}
            <td class="td_market_price_per_built_square_meters" style="text-align:right;">
              {{ r.realestate.marketPricePerBuiltSquareMeters }}
            </td>
            <td class="td_market_price_per_total_square_meters" style="text-align:right;">
              {{ r.realestate.marketPricePerTotalSquareMeters }}
            </td>
            {% elif realestate.is_apartment %}
            <td class="td_market_price_per_useful_square_meters" style="text-align:right;">
              {{ r.realestate.marketPricePerUsefulSquareMeters }}
            </td>
            <td class="td_market_price_per_total_square_meters" style="text-align:right;">
              {{ r.realestate.marketPricePerTotalSquareMeters }}
            </td>
            {% endif %}
            <td style="padding:0em; text-align:right;">
              {% if r.included_in_valuation %} 
              <button type="button" class="btn btn-sm add" name="btn_valuation_add_realestate" value="{{r.realestate.id}}" style="padding:0px; border:0px;display: none;">
                <i class="material-icons">add_box</i>
              </button>
              {% else %}
              <button type="button" class="btn btn-sm add" name="btn_valuation_add_realestate" value="{{r.realestate.id}}" style="padding:0px; border:0px;">
                <i class="material-icons">add_box</i>
              </button>
              {% endif %}
            </td>
            <td></td>
          </tr>
          {% endfor %}

          <tr class="table-primary">
            <td></td>
            <td></td>
            <td>Promedios</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            {% if realestate.is_apartment %}
            <td style="text-align:right;">{{ averages.usefulSquareMeters__avg | floatformat:1}}
              <!--<small>&plusmn; {{ stds.usefulSquareMeters__stddev | floatformat:1 }}</small>-->
            </td>
            <td style="text-align:right;">{{ averages.terraceSquareMeters__avg | floatformat:1 }}
              <!--<small>&plusmn; {{ stds.terraceSquareMeters__stddev | floatformat:1 }}</small>-->
            </td>
            <td style="text-align:right;">{{ averages.marketPrice__avg | floatformat:1 }}
              <!--<small>&plusmn; {{ stds.marketPrice__stddev | floatformat:1 }}</small>-->
            </td>
            {% elif realestate.is_house %}
            <td style="text-align:right;">{{ averages.builtSquareMeters__avg | floatformat:1}}
              <!--<small>&plusmn; {{ stds.builtSquareMeters__stddev | floatformat:1 }}</small>-->
            </td>
            <td style="text-align:right;">{{ averages.terrainSquareMeters__avg | floatformat:1 }}
              <!--<small>&plusmn; {{ stds.terrainSquareMeters__stddev | floatformat:1 }}</small>-->
            </td>
            <td style="text-align:right;">{{ averages.marketPrice__avg | floatformat:1 }}
              <!--<small>&plusmn; {{ stds.marketPrice__stddev | floatformat:1 }}</small>-->
            </td>
            {% endif %}
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
</div>

<div class="card ml-4 mr-4 mt-4 mb-4 rounded-0">
  <div class="card-header" id="header">
    <div class="row">
      <div class="col">
        <p style="margin:0em;">Mapa propiedades</p>
      </div>
      <div class="col text-right">
        <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#map" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          more_vert
        </a>
      </div>
    </div>
  </div>
  <div id="map" class="collapse" aria-labelledby="heading">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div style="display: table;margin: auto;">
            {{ plot_map.div | safe }}
            {{ plot_map.script | safe }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "appraisal/realestate_value_assets.html" %}

<div class="card ml-4 mr-4 mt-4 rounded-0">
  <div class="card-header" id="header">
    <div class="row">
      <div class="col">
        <p style="margin:0em;">Valor de renta</p>
      </div>
      <div class="col text-right">
        <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#valuation_rent" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
          more_vert
        </a>
      </div>
    </div>
  </div>
  <div id="valuation_rent" class="collapse show" aria-labelledby="heading">
    <div class="card-body" style="padding:0em;">
      <table id="table_valuation_rent" class="table table-sm mb-0">
        <thead class="thead">
          <tr style="text-align:center;">
            <th></th>
            <th style="width:16em;">Renta mensual {{htmlBits.unitUF|safe}}</th>
            <th style="width:5em;">Meses</th>
            <th style="width:16em;">Renta líquida anual {{htmlBits.unitUF|safe}}</th>
            <th style="width:5em;">Tasa</th>
            <th style="width:16em;">Canon arriendo {{htmlBits.unitUFperSquaredMeter|safe}}</th>
            <th style="width:16em;">Valor de renta {{htmlBits.unitUF|safe}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>
              <input id="id_value_rent_month" class="form-control text-right" disabled>
            </td>
            <td>
              <input id="id_value_rent_months" class="form-control text-center" disabled>
            </td>
            <td>
              <input id="id_value_rent_year" class="form-control text-right" disabled>
            </td>
            <td>
              <input id="id_value_rent_rate" class="form-control text-right" disabled>
            </td>
            <td>
              <input id="id_value_rent_per_area" class="form-control text-right" disabled>
            </td>
            <td>
              <input id="id_value_rent" class="form-control text-right" disabled>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="card ml-4 mr-4 mt-4 mb-4 rounded-0">
  <div class="card-header bg-light" id="header">
    <div class="row">
    <div class="col">
      <p style="margin:0em;">Valor recomendado</p>
    </div>
    <div class="col text-right">
      <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#recommendedValue" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
        more_vert
      </a>
    </div>
    </div>
  </div>
  <div id="recommendedValue" class="collapse show" aria-labelledby="heading">
  <div class="card-body" style="padding:0em;">

    <table class="table mb-0">
      <thead class="thead">
        <tr>
          <th scope="col"></th>
          <th scope="col" style="width:10em;"></th>
          <th scope="col" style="width:7em;"></th>
          <th scope="col" style="text-align:center;width:10em;">U.F.</th>
          <th scope="col" style="text-align:center;width:10em;">$</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"></td>
          <td scope="col" style="vertical-align: middle;">Valor comercial</td>
          <td scope="col"></td>
          <td scope="col">{{forms.appraisal.valorUF}}</td>
          <td scope="col"><input id="in_value_market" class="form-control text-right" disabled></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <td scope="col"></td>
          <td scope="col" style="vertical-align: middle;">Valor liquidez</td>
          {% if not appraisal.finished %}
          <td scope="col"><input id="liquidity" class="form-control text-right" type="text" value="0.75"></td>
          {% else %}
          <td scope="col"><input id="liquidity" class="form-control text-right" type="text" value="0.75" disabled></td>
          {% endif %}
          <td scope="col"><input id="in_value_liquid_UF" class="form-control text-right" disabled></td>
          <td scope="col"><input id="in_value_liquid" class="form-control text-right" disabled></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <td scope="col"></td>
          <td scope="col" style="vertical-align: middle;">Monto seguro</td>
          <td scope="col"></td>
          <td scope="col"><input id="in_value_safe_UF" class="form-control text-right" disabled></td>
          <td scope="col"><input id="in_value_safe" class="form-control text-right" disabled></td>
          <td scope="col"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

</div>
{% endif %}

</div>

<script>

  function mainValuesUnformat() {
    $("#id_valorUF").val(function() {
      return parseFloatEs($(this).val());
    })
    $("#in_value_market").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#in_value_liquid_UF").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#in_value_liquid").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#in_value_safe_UF").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#in_value_safe").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#liquidity").val(function() {
      return parseFloatEs($(this).val());
    });
  }

  function mainValuesFormat() {
    $("#id_valorUF").val(function() {
      return UFFormat($(this).val());
    });
    $("#in_value_market").val(function() {
      return pesosFormat($(this).val());
    });
    $("#in_value_liquid_UF").val(function() {
      return UFFormat($(this).val());
    });
    $("#in_value_liquid").val(function() {
      return pesosFormat($(this).val());
    });
    $("#in_value_safe_UF").val(function() {
      return UFFormat($(this).val());
    });
    $("#in_value_safe").val(function() {
      return pesosFormat($(this).val());
    });
    $("#liquidity").val(function() {
      return floatFormat($(this).val(),c=2);
    });
  }

  function mainValuesCompute() {
    // Main valuation prices
    var valorUF = parseFloat($("#id_valorUF").val());
    var liquidez = parseFloat($("#liquidity").val());
    var seguroUF = parseFloat($("#id_totalSeguroUF").text());
    if (!isNaN(valorUF)) {
      $("liquidity").val(liquidez)
      $("#id_valorUF").val(valorUF);
      $("#in_value_market").val(valorUF*UF_IN_PESOS);
      $("#in_value_liquid_UF").val(valorUF*liquidez);
      $("#in_value_liquid").val(valorUF*liquidez*UF_IN_PESOS);
    } else {
      $("#in_value_market").val('');
      $("#in_value_liquid_UF").val('');
      $("#in_value_liquid").val('');
      $("#in_value_safe_UF").val('');
      $("#in_value_safe").val('');
    }

    // Value seguro is taken from valuation of assets total
    var seguroUF = parseFloatEs($("#id_totalSeguroUF").text());
    if (!isNaN(seguroUF)) {
      $("#in_value_safe_UF").val(seguroUF);
      $("#in_value_safe").val(seguroUF*UF_IN_PESOS);
    } else {
      $("#in_value_safe_UF").val('');
      $("#in_value_safe").val('');
    }
    

  }

  function rentValuesUnformat() {
    $("#id_value_rent_month").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#id_value_rent_year").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#id_value_rent_per_area").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#id_value_rent").val(function() {
      return parseFloatEs($(this).val());
    });
  }

  function rentValuesCompute() {
    // Rent prices
    var valorUF = parseFloat($("#id_valorUF").val());
    var months = 11
    var rate = 0.06
    var area = 10.0
    $("#id_value_rent_months").val(months)
    $("#id_value_rent_rate").val(rate)
    if (!isNaN(valorUF)) {
      $("#id_value_rent_month").val(valorUF*0.005)
      var value_rent_month = valorUF*0.005
      $("#id_value_rent_year").val(value_rent_month*months)
      $("#id_value_rent_per_area").val(rate*area)
      $("#id_value_rent").val(value_rent_month*months/rate)
    } else {
      $("#id_value_rent_month").val('');
      $("#id_value_rent_year").val('');
      $("#id_value_rent_per_area").val('');
      $("#id_value_rent").val('');
    }
  }

  function rentValuesFormat() {
    $("#id_value_rent_month").val(function() {
      return UFFormat($(this).val());
    });
    $("#id_value_rent_year").val(function() {
      return UFFormat($(this).val());
    });
    $("#id_value_rent_per_area").val(function() {
      return floatFormat($(this).val());
    });
    $("#id_value_rent").val(function() {
      return UFFormat($(this).val());
    });
  }

  function update() {
    // Order of these functions is crucial.
    // First we need to unformat everything, so we can
    // compute (and some values are used in more than 
    // one function), and then reformat.
    mainValuesUnformat();
    rentValuesUnformat();
    selectedRealEstateTableUnformat();

    mainValuesCompute();
    rentValuesCompute();
    selectedRealEstateTableCompute();

    mainValuesFormat();
    rentValuesFormat();
    selectedRealEstateTableFormat();
  }

  $("#id_valorUF").change(function () {
    update();
  });

  $("#liquidity").change(function () {
    update();
  });


  //-----------------------------------------------------------------------


  function selectedRealEstateTableUnformat() {
    // Remove spanish format of all real estate tables.
    $('#table_selected_real_estate tr').each(function() {
      if (!$(this).hasClass('sre')) return
      $(this).find("[class$=area_1]").html(function() {
        return parseFloatEs($(this).html())
      })
      $(this).find("[class$=area_2]").html(function() {
        return parseFloatEs($(this).html())
      })
      $(this).find("[class$=market_price]").html(function() {
        return parseFloatEs($(this).html())
      })
      /*
      if ({{realestate.is_apartment}}) {
        $(this).find('[class$=market_price_per_useful_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
      } else if ({{realestate.is_house}}) {
        $(this).find('[class$=market_price_per_built_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
      }
      */
      $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
        return parseFloatEs($(this).html())
      })
    });

    $('#table_references_real_estate tr').each(function() {
      $(this).find('[class$=market_price]').html(function() {
        return parseFloatEs($(this).html())
      });
      $(this).find('[class$=area_1]').html(function() {
        return parseFloatEs($(this).html())
      });
      $(this).find('[class$=area_2]').html(function() {
        return parseFloatEs($(this).html())
      });
      /*
      if ({{realestate.is_apartment}}) {
        $(this).find('[class$=market_price_per_useful_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
        $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        });
      } else if ({{realestate.is_house}}) {
        $(this).find('[class$=market_price_per_built_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
        $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
      }
      */
    });
  }

  function selectedRealEstateTableFormat() {
    // Format numbers of tables in spanish, dots for thousands and coma for decimals.
    $('#table_selected_real_estate tr').each(function() {
      if (!$(this).hasClass('sre')) return
      $(this).find("[class$=area_1]").html(function() {
        return areaFormat($(this).html())
      })
      $(this).find("[class$=area_2]").html(function() {
        return areaFormat($(this).html())
      })
      $(this).find("[class$=market_price]").html(function() {
        return UFFormat($(this).html())
      })
      /*
      if ({{realestate.is_apartment}}) {
        $(this).find("[class$=market_price_per_useful_square_meters]").html(function() {
          return UFFormat($(this).html())
        })
      } else if ({{realestate.is_house}}) {
        $(this).find("[class$=market_price_per_built_square_meters]").html(function() {
          return UFFormat($(this).html())
        })
      }
      */
      $(this).find("[class$=market_price_per_total_square_meters]").html(function() {
        return UFFormat($(this).html())
      })
    });

    $('#table_references_real_estate tr').each(function() {
      $(this).find('[class$=market_price]').html(function() {
        return UFFormat($(this).html())
      });
      $(this).find('[class$=area_1]').html(function() {
        return areaFormat($(this).html())
      });
      $(this).find('[class$=area_2]').html(function() {
        return areaFormat($(this).html())
      });
      /*
      if ({{realestate.is_apartment}}) {
        $(this).find('[class$=market_price_per_useful_square_meters]').html(function() {
          return floatFormat($(this).html())
        })
        $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
          return floatFormat($(this).html())
        });
      } else if ({{realestate.is_house}}) {
        $(this).find('[class$=market_price_per_built_square_meters]').html(function() {
          return floatFormat($(this).html())
        })
        $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
          return floatFormat($(this).html())
        })
      }
      */
    });

    $('#vreUsefulSquareMetersAvg').text(function() {
      return floatFormat($(this).text())
    })
    $('#vreTerraceSquareMetersAvg').text(function() {
      return floatFormat($(this).text())
    })
    $('#vreMarketPriceAvg').text(function() {
      return floatFormat($(this).text())
    })
    $('#vreMarketPricePerUsefulSquareMetersAvg').text(function() {
      return floatFormat($(this).text())
    })
    $('#vreMarketPricePerTotalSquareMetersAvg').text(function() {
      return floatFormat($(this).text())
    })
  }

  function selectedRealEstateTableCompute() {

    // Update valuation price in rows of tables of current real estate
    var valorUF = parseFloat($("#id_valorUF").val());
    if (isNaN(valorUF)) {
      $(".td_c_market_price").text('-')
    } else {
      $(".td_c_market_price").text(valorUF)
    }
    /*
    if ({{realestate.is_house}}) {
      var builtSquareMeters = {{realestate.house.builtSquareMeters|default:0}}
      var totalSquareMeters = 0.0//{{realestate.total_area}}
      $(".td_c_market_price_per_built_square_meters").text((valorUF/builtSquareMeters).toFixed(2))
      $(".td_c_market_price_per_total_square_meters").text((valorUF/totalSquareMeters).toFixed(2))
    } else if ({{realestate.is_apartment}}) {
      var usefulSquareMeters = {{realestate.apartment.usefulSquareMeters|default:0}}
      var totalSquareMeters = 0.0//{{realestate.total_area}}
      $(".td_c_market_price_per_useful_square_meters").text((valorUF/usefulSquareMeters).toFixed(2))
      $(".td_c_market_price_per_total_square_meters").text((valorUF/totalSquareMeters).toFixed(2))
    }
    */

    // Compute totals and averages
    var sumUsefulSquareMeters = 0
    var sumTerraceSquareMeters = 0
    var sumMarketPrice = 0
    var c = 0
    $('#table_selected_real_estate tr').each(function() {
      /*
      if ({{realestate.is_apartment}}) {
        tmp = parseFloat($(this).find(".td_sre_area_1").text());
        if (!isNaN(tmp)) {
          sumUsefulSquareMeters += tmp;
          c += 1
        }
        tmp = parseFloat($(this).find(".td_sre_area_2").text());
        if (!isNaN(tmp)) {
          sumTerraceSquareMeters += tmp
        }
        tmp = parseFloat($(this).find(".td_sre_market_price").text());
        if (!isNaN(tmp)) {
          sumMarketPrice += tmp
        }
      } else if ({{realestate.is_house}}) {
        tmp = parseFloat($(this).find(".td_sre_area_1").text());
        if (!isNaN(tmp)) {
          sumUsefulSquareMeters += tmp
          c += 1
        }
        tmp = parseFloat($(this).find(".td_sre_area_2").text());
        if (!isNaN(tmp)) {
          sumTerraceSquareMeters += tmp
        }
        tmp = parseFloat($(this).find(".td_sre_market_price").text());
        if (!isNaN(tmp)) {
          sumMarketPrice += tmp
        }
      }
      */
    });
    if (c == 0) {
      $('#vreUsefulSquareMetersAvg').text('-')
      $('#vreTerraceSquareMetersAvg').text('-')
      $('#vreMarketPriceAvg').text('-')
      $('#vreMarketPricePerUsefulSquareMetersAvg').text('-')
      $('#vreMarketPricePerTotalSquareMetersAvg').text('-')
    } else {
      var avgUsefulSquareMeters = sumUsefulSquareMeters/c;
      var avgTerraceSquareMeters = sumTerraceSquareMeters/c;
      var avgMarketPrice = sumMarketPrice/c;
      $('#vreUsefulSquareMetersAvg').text(avgUsefulSquareMeters)
      $('#vreTerraceSquareMetersAvg').text(avgTerraceSquareMeters)
      $('#vreMarketPriceAvg').text(avgMarketPrice)
      $('#vreMarketPricePerUsefulSquareMetersAvg').text(avgMarketPrice/avgUsefulSquareMeters)
      $('#vreMarketPricePerTotalSquareMetersAvg').text(avgMarketPrice/(avgUsefulSquareMeters+avgTerraceSquareMeters))
    }
  }

  function remove(val) {
    /*
    Remove the row from the valuation list.
    Add the button to add row in MarketList, if it is there.
    */
    row_valuation = $('#trValuationRealEstate_'+val);
    if (row_valuation.hasClass('just-added')) {
      row_valuation.remove();
      row_market = $('#trMarketRealEstate_'+val);
      row_market.find('.btn').show();
      row_market.removeClass('table-success');
    } else {
      row_valuation.find('#in_valuationRealEstateRemove').attr('value',1)
      row_valuation.toggle();
    }

    update();
  }

  $(document).ready(
    function() {
      
      var propertyType = {{realestate.propertyType}}
      $("#id_vc-propertyType").val(propertyType);

      mainValuesCompute();
      mainValuesFormat();
      rentValuesCompute();
      rentValuesFormat();
      selectedRealEstateTableCompute();
      selectedRealEstateTableFormat();

      $('.removeValuationRealEstate').click(function() {
        var rid = $(this).val();
        remove(rid);
      });

      $('.add').click(function() {
        var rid = $(this).val();
        var row = $(this).closest('tr');
        row.addClass('table-success');
        
        // Create row to be added to valuation real estate list
        var newRow = row.clone();
        var rowCount = $('#table_selected_real_estate tr').length-4+1; // minus heading and current, +1 for count
        var btn = newRow.find('.add')
        btn.removeClass('add')
        btn.addClass('remove')
        btn.empty()
        btn.append('<i class="material-icons">delete</i>')
        btn.attr("value",rid)
        // Input, needed when saving
        var hiddenInput1 = '<input name="valuationRealEstateRow" type="hidden" value="'+rid+'">'
        var hiddenInput2 = '<input name="valuationRealEstateRemove" type="hidden" value="0">'
        $('#table_selected_real_estate > tbody > tr').eq(rowCount-1).after('<tr id="trValuationRealEstate_'+rid+'">'+
          hiddenInput1+
          hiddenInput2+
          newRow.html()+'</tr>');
        // Add event handler to button created in new row
        $("#trValuationRealEstate_"+rid).find('.remove').click(function(){
          var rid = $(this).val();
          remove(rid);
        })
        $("#trValuationRealEstate_"+rid).addClass('just-added')

        // Modify clicked row to remove the add button
        btn = row.find('.btn')
        btn.hide()
        
      });

      $.getJSON('https://mindicador.cl/api', 
        function(data) {
          UF_IN_PESOS = data.uf.valor
          mainValuesUnformat();
          mainValuesCompute();
          mainValuesFormat();
          assetsTableUpdateRows();
          assetsTableComputeTotals();
        }).fail(function() {
          console.log('Error al consumir la API!');
        });
    });
</script>

