{% extends "main/base.html" %}
{% load static %}

{% load tabs %}

{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'appraisal/css/appraisal.css' %}">
{% endblock head %}

{% block content %}

  <form class="needs-validation" action="" method="post" id="form" enctype="multipart/form-data" novalidate>
  {% csrf_token %}

    <nav class="navbar justify-content-between">
      <!--<a class="navbar-brand" href="#">-->
      <h4>
        <span class="badge badge-secondary">{{realestate.get_propertyType_display}}</span> {{ realestate.address }}
      </h4>
      <!--</a>-->
      <ul class="navbar-nav mr-auto"> </ul>
      {% if appraisal.paused %}
      <button class="btn btn-outline-primary mr-2" type="button" data-toggle="modal" data-target="#modalExport">Resumir</button>
      {% endif %}
      {% if appraisal.finished %}
      <button name="btn_export" class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#modalExport">Exportar</button>
      {% else %}
      <button name="btn_export" class="btn btn-outline-dark mr-2" type="button" data-toggle="modal" data-target="#modalExport">Exportar</button>
      <button name="btn_finish" class="btn btn-outline-dark mr-2" type="button" data-toggle="modal" data-target="#modalFinish">Finalizar</button>
      <button name="btn_save" class="btn btn-outline-dark mr-2" name="save" style="font-family:Material Icons;font-size:1em;">save_alt</button>
      <button name="btn_delete" class="btn btn-outline-dark" type="button" data-toggle="modal" data-target="#modalDelete" style="font-family:Material Icons;font-size:1em;">delete</button>
      {% endif %}
    </nav>

      <div class="container-fluid">

    <div class="row">

      <div class="col text-center">
        {% if appraisal.active %}
        <div class="alert alert-primary" role="alert">Activa</div>
        {% elif appraisal.paused %}
        <div class="alert alert-warning" role="alert">Pausada</div>
        {% elif appraisal.finished %}
        <div class="alert alert-secondary" role="alert">Terminada</div>
        {% endif %}
      </div>

      <div class="col text-center">
        {% if appraisal.daysLeft > 3 %}
        <div class="alert alert-primary" role="alert" id="timeLeft"></div>
        {% elif appraisal.daysLeft > 1 %}
        <div class="alert alert-warning" role="alert" id="timeLeft"></div>
        {% else %}
        <div class="alert alert-danger" role="alert" id="timeLeft"></div>
        {% endif %}
      </div>

      <div class="col text-center">
        <div class="alert alert-secondary" role="alert">
          {{appraisal.price}} UF
        </div>
      </div>

    </div>

    <div class="card">

      <div class="card-header">

        <ul class="nav nav-tabs card-header-tabs" role="tablist" id="myTab" >
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"general"}}" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="{{request.GET.tab|tab_nav_aria_selected:"general"}}">
              Aspectos generales
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"property"}}" id="property-tab" data-toggle="tab" href="#property" role="tab" aria-controls="property" aria-selected="{{request.GET.tab|tab_nav_aria_selected:"property"}}">
              Propiedad
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"surroundings"}}" id="surroundings-tab" data-toggle="tab" href="#surroundings" role="tab" aria-controls="surroundings" aria-selected="{{request.GET.tab|tab_nav_aria_selected:"surroundings"}}">
              Entorno
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"value"}}" id="value-tab" data-toggle="tab" href="#value" role="tab" aria-controls="value" aria-selected="{{request.GET.tab|tab_nav_aria_selected:"value"}}">
              Valorización
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"annex"}}" id="annex-tab" data-toggle="tab" href="#annex" role="tab" aria-controls="annex" aria-selected="{{request.GET.tab|tab_nav_aria_selected:"annex"}}">
              Anexos
            </a>
          </li>
          <li class="nav-item">
            <a class="{{request.GET.tab|tab_nav_class:"logbook"}}" id="logbook-tab" data-toggle="tab" href="#logbook" role="tab" aria-controls="logbook" aria-selected="{{request.GET.tab|tab_nav_aria_selected:"logbook"}}">
              Bitácora
            </a>
          </li>
        </ul>

      </div>

      <div class="tab-content" id="myTabContent">

        <div class="{{request.GET.tab|tab_pane_class:"general"}}" id="general" role="tabpanel" aria-labelledby="general-tab">
          {% include "appraisal/realestate_general.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"property"}}" id="property" role="tabpanel" aria-labelledby="property-tab">
          {% include "appraisal/realestate_property.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"surroundings"}}" id="surroundings" role="tabpanel" aria-labelledby="surroundings-tab">
          {% include "appraisal/realestate_surroundings.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"value"}}" id="value" role="tabpanel" aria-labelledby="value-tab">
          {% include "appraisal/realestate_value.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"annex"}}" id="annex" role="tabpanel" aria-labelledby="annex-tab">
          {% include "appraisal/realestate_annex.html" %}
        </div>
        <div class="{{request.GET.tab|tab_pane_class:"logbook"}}" id="logbook" role="tabpanel" aria-labelledby="logbook-tab">
          {% include "appraisal/realestate_logbook.html" %}
        </div>

      </div>

    </div>

  </div>

{% include "appraisal/modals.html" %}

</form>

<script>
  function updateClock() {
      var now = moment();
      var due = moment("{{appraisal.timeDueReal.isoformat}}");
      var diff_cal = moment("{{appraisal.timeDueReal.isoformat}}").calendar();
      var diff_from = moment("{{appraisal.timeDueReal.isoformat}}").fromNow();
      /*
      var now = new Date(), // current date
          months = ['January', 'February', '...']; // you get the idea
          time = now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds(), // again, you get the idea

          // a cleaner way than string concatenation
          date = [now.getDate(),
                  months[now.getMonth()],
                  now.getFullYear()].join(' ');
      */
      // set the content of the element with the ID time to the formatted string
      document.getElementById('timeLeft').innerHTML = 'Entrega: '+diff_cal+' ('+diff_from+')';

      // call this function again in 1000ms
      setTimeout(updateClock, 60*1000);
  }
  updateClock(); // initial call
</script>

{% endblock content %}
