<div class="mr-4 ml-4">
  <div class="row">
    <div class="col">
      <p style="margin:0em;">Valor de renta</p>
    </div>
    <div class="col text-right">
      <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#valuation_rent" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
        more_vert
      </a>
    </div>
  </div>
  <div id="valuation_rent" class="collapse show" aria-labelledby="heading">
    <table id="table_valuation_rent" class="table table-sm mb-0">
      <thead class="thead">
        <tr style="text-align:center;">
          <th></th>
          <th style="width:16em;">Renta mensual {{htmlBits.unitUF|safe}}</th>
          <th style="width:5em;">Meses</th>
          <th style="width:16em;">Renta líquida anual {{htmlBits.unitUF|safe}}</th>
          <th style="width:5em;">Tasa</th>
          <th style="width:16em;">Canon arriendo {{htmlBits.unitUFperSquaredMeter|safe}}</th>
          <th style="width:16em;">Valor de renta {{htmlBits.unitUF|safe}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>
            <input id="id_value_rent_month" class="form-control text-right" disabled>
          </td>
          <td>
            <input id="id_value_rent_months" class="form-control text-center" disabled>
          </td>
          <td>
            <input id="id_value_rent_year" class="form-control text-right" disabled>
          </td>
          <td>
            <input id="id_value_rent_rate" class="form-control text-right" disabled>
          </td>
          <td>
            <input id="id_value_rent_per_area" class="form-control text-right" disabled>
          </td>
          <td>
            <input id="id_value_rent" class="form-control text-right" disabled>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>