<div class="row ml-4 mr-4 mt-5">
<div class="col">

  <div class="row">
    <div class="col-2">
      <p class="font-weight-bold text-right">Plano de ubicación</p>
    </div>
    <div class="col-6">
      <p><img src="https://maps.googleapis.com/maps/api/staticmap?center={{realestate.addressStreet}} {{realestate.addressNumber}}&zoom=15&size=600x300&maptype=roadmap&key=AIzaSyDgwKrK7tfcd9kCtS9RKSBsM5wYkTuuc7E&markers=color:blue%7Clabel:A%7C{{realestate.lat}},{{ realestate.lng}}"></p>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-2">
      <p class="font-weight-bold text-right">{{forms.appraisal.descripcionSector.label}}</p>
    </div>
    <div class="col-6">
      {{forms.appraisal.descripcionSector}}
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-2">
      <p class="font-weight-bold text-right">{{forms.appraisal.descripcionPlanoRegulador.label}}</p>
    </div>
    <div class="col-6">
      {{forms.appraisal.descripcionPlanoRegulador}}
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-2">
      <p class="font-weight-bold text-right">{{forms.appraisal.descripcionExpropiacion.label}}</p>
    </div>
    <div class="col-6">
      {{forms.appraisal.descripcionExpropiacion}}
    </div>
  </div>

    <!--

    <div class="card bg-light mb-1">
      <div class="card-header">
        Manzana
      </div>

      <div class="card-body">
        <div class="card-text">

          <div class="form-group row">
            <div class="col-auto">
              <label for="solicitante" class="col-form-label-sm">
                Población
              </label>
            </div>
            <div class="col-lg-3">
              <input type="text" value="" class="form-control form-control-sm" disabled>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-auto">
              <label for="solicitante" class="col-form-label-sm">
                Superficie útil promedio
              </label>
            </div>
            <div class="col-lg-3">
              <input type="text" value="" class="form-control form-control-sm" disabled>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-auto">
              <label for="solicitante" class="col-form-label-sm">
                Año promedio
              </label>
            </div>
            <div class="col-lg-3">
              <input type="text" value="" class="form-control form-control-sm" disabled>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-auto">
              <label for="solicitante" class="col-form-label-sm">
                Estado veredas
              </label>
            </div>
            <div class="col-lg-3">
              <input type="text" value="" class="form-control form-control-sm" disabled>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-auto">
              <label for="solicitante" class="col-form-label-sm">
                Estado calles
              </label>
            </div>
            <div class="col-lg-3">
              <input type="text" value="" class="form-control form-control-sm" disabled>
            </div>
          </div>

        </div>
      </div>

    </div>

    <div class="card bg-light mb-1">
    <div class="card-header">Educación</div>
    </div>

    <div class="card bg-light mb-1">
    <div class="card-header">Salud</div>
    </div>

    <div class="card bg-light mb-1">
    <div class="card-header">Transporte</div>
    </div>

    <div class="card bg-light mb-1">
    <div class="card-header">Áreas verdes</div>
    </div>

    <div class="card bg-light mb-1">
    <div class="card-header">Seguridad</div>
    </div>

    <div class="card bg-light mb-1">
    <div class="card-header">Otros servicios</div>
    </div>
    -->
</div>
</div>
