<div class="mr-4 ml-4">
  
  <div class="row">
    <div class="col">
      <p style="margin:0em;">Valoración</p>
    </div>
    <div class="col text-right">
      <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#avaluos" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
        more_vert
      </a>
    </div>
  </div>

  <div id="avaluos" class="collapse show mt-3" aria-labelledby="heading">

    {% if appraisal.real_estates.first.terrains.all %}

    <table id="table_terrains" class="table table-sm mb-0 mt-2">

      <thead class="thead">
        <!-- Headers !-->
        <tr>
          <th></th>
          <th scope="col" colspan="7" style="width: 60em;">Terrenos</th>
          <th scope="col" style="width: 10em;text-align:center;" class="border-left">Cantidad</th>
          <th scope="col" colspan="4" style="width: 30em;text-align:center;" class="border-left">Valores</th>
          <th scope="col" style="width:6em;"></th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td></td>
          <td style="width:2.0em;"></td>
          <td style="width:24.0em;font-size:0.85em;">Descripción</td>
          <td style="width:7.0em;font-size:0.85em;">Frente {{htmlBits.unitMeter|safe}}</td>
          <td style="width:7.0em;font-size:0.85em;">Fondo {{htmlBits.unitMeter|safe}}</td>
          <td style="width:7.0em;font-size:0.85em;">Topo.</td>
          <td style="width:7.0em;font-size:0.85em;">Forma</td>
          <td style="width:7.0em;font-size:0.85em;">Rol</td>
          <td style="text-align:center;font-size:0.85em;">Superficie {{htmlBits.unitSquaredMeter|safe}}</td>
          <td class="td-center" style="width:8em;">{{htmlBits.unitPesos|safe}}</td>
          <td class="td-center" style="width:8em;">{{htmlBits.unitUF|safe}}</td>
          <td class="td-center" style="width:7em;">{{htmlBits.unitPesosPerSquaredMeter|safe}}</td>
          <td class="td-center" style="width:7em;">{{htmlBits.unitUFPerSquaredMeter|safe}}</td>
          <td style="width:6em;"></td>
          <td></td>
        </tr>

        {% for ter in appraisal.real_estates.first.terrains.all %}
        <tr class="tr_terrain">
          <!-- Hidden inputs are used for processing the form. 
            Terrain id to get if the obejct exists !-->
          <input type="hidden" name="terrain_id" id="in_terrain_id" value="{{ter.id}}">
          <!-- And edited, to see if we have to consider this row. See comment in view. !-->
          <input type="hidden" name="terrain_edited" id="in_terrain_edited" value="0">
          <td></td>
          <td style="font-size:0.85em;">
            {{forloop.counter}}.
          </td>
          <td id='td_name' style="font-size:0.85em;">
            {{ter.name_or_generic}}
          </td>
          <td id='td_frente' style="font-size:0.85em;">
            {{ter.frente|default_if_none:"-"}}
          </td>
          <td id='td_fondo' style="font-size:0.85em;">
            {{ter.fondo|default_if_none:"-"}}
          </td>
          <td id='td_topography' style="font-size:0.85em;">
            {{ter.get_topography_display|default_if_none:"-"}}
          </td>
          <td id='td_shape' style="font-size:0.85em;">
            {{ter.get_shape_display|default_if_none:"-"}}
          </td>
          <td id='td_rol' style="font-size:0.85em;">
            {{ter.rol|default_if_none:"-"}}
          </td>
          <td class="td_area">
            <input id="id_terrainArea" type="number" name="t-area" step="any" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" value="{{ter.area}}" {{appraisal.finished|yesno:"disabled,"}}>
          </td>
          <td class="td_pesos">
            <input id="id_terrainPesos" class="form-control form-control-sm constructions" style="text-align:right;" readonly="true">
          </td>
          <td class="td_UF">
            <input id="id_terrainUF" class="form-control form-control-sm constructions" style="text-align:right;" readonly="true">
          </td>
          <td class="td_pesosPerArea">
            <input id="id_terrainPesosPerArea" class="form-control form-control-sm constructions" style="text-align:right;" readonly="true">
          </td>
          <td class="td_UFPerArea">
            <input id="id_terrainUFPerArea" type="number" name="t-UFPerArea" step="any" class="form-control form-control-sm constructions" style="text-align:right;" value="{{ter.UFPerArea}}" {{appraisal.finished|yesno:"disabled,"}}>
          </td>
          {% if appraisal.active %}
          <td style="padding:0em;text-align:right;">
            <button class="btn btn-sm save_terrain" name="btn_valuation_add_terrain" style="padding:0px; border:0px; display: none;">
              <i class="material-icons">save</i>
            </button>
            <button class="btn btn-sm edit_terrain" type="button" value="{{ter.id}}" style="padding:0px; border:0px;">
              <i class="material-icons">edit</i>
            </button>
            <button class="btn btn-sm" name="btn_valuation_remove_terrain" value="{{ter.id}}" style="padding:0px; border:0px;">
              <i class="material-icons">delete</i>
            </button>
          </td>
          {% endif %}
          <td></td>
        </tr>
        {% endfor %}

        <!-- Totals -->
        <tr>
          <td></td>
          <td></td>
          <td colspan="6" style="font-size:0.85em;font-weight:bold;text-align:right;padding-right:1em;">Total terrenos</td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalTerrArea" class="form-control form-control-sm constructions" style="text-align:right;" disabled>
          </td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalTerrPesos" class="form-control form-control-sm constructions" style="text-align:right;" disabled>
          </td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalTerrUF" class="form-control form-control-sm constructions" style="text-align:right;" disabled>
          </td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalTerrPesosPerArea" class="form-control form-control-sm constructions" style="text-align:right;" disabled>
          </td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalTerrUFPerArea" class="form-control form-control-sm constructions" style="text-align:right;" disabled>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    {% endif %}

    {% if appraisal.real_estates.first.buildings.all %}

    <table id="table_constructions" class="table table-sm mt-4 mb-0">

      <thead class="thead">
        <!-- Headers !-->
        <tr>
          <th></th>
          <th scope="col" colspan="9" style="width: 60em;">Construcciones</th>
          <th scope="col" style="width: 10em;text-align:center;" class="border-left">Cantidad</th>
          <th scope="col" colspan="4" style="width: 30em;text-align:center;" class="border-left">Valores</th>
          <th scope="col" style="width:6em;"></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <!-- Subdivision of table for constructions !-->
        <tr>
          <td></td>
          <td style="width: 2em;"></td>
          <td style="width: 16em;font-size:0.85em;">Descripción</td>
          <td style="width: 7em;font-size:0.85em;">Material</td>
          <td style="width: 6em;font-size:0.85em;">Año</td>
          <td style="width: 5em;font-size:0.85em;">Prenda</td>
          <td style="width: 7em;font-size:0.85em;">Recep.</td>
          <td style="width: 6em;font-size:0.85em;">Calidad</td>
          <td style="width: 6em;font-size:0.85em;">Estado</td>
          <td style="width: 6em;font-size:0.85em;">Rol</td>
          <td style="text-align:center;font-size:0.85em;">Superficie {{htmlBits.unitSquaredMeter|safe}}</td>
          <td class="td-center" style="width:8em;">{{htmlBits.unitPesos|safe}}</td>
          <td class="td-center" style="width:8em;">{{htmlBits.unitUF|safe}}</td>
          <td class="td-center" style="width:7em;">{{htmlBits.unitPesosPerSquaredMeter|safe}}</td>
          <td class="td-center" style="width:7em;">{{htmlBits.unitUFPerSquaredMeter|safe}}</td>
          <td style="width:6em;"></td>
          <td></td>
        </tr>

        <!-- Iterate over constructions !-->
        {% for con in appraisal.real_estates.first.buildings.all %}
        <tr class="tr_construction">
          <!-- Hidden inputs are used for processing the form. 
            Construction id to get if the obejct exists !-->
          <input type="hidden" name="construction_id" id="in_construction_id" value="{{con.id}}">
          <!-- And edited, to see if we have to consider this row. See comment in view. !-->
          <input type="hidden" name="construction_edited" id="in_construction_edited" value="0">
          <td></td>
          <td style="font-size:0.85em;">
            {{forloop.counter}}.
          </td>
          <td id='td_name' style="font-size:0.85em;">
            {% if con.name %}
              {{con.name}}
            {% else %}
              {{con.generic_name}}
            {% endif %}
          </td>
          <td id='td_material' style="font-size:0.85em;">
            {{con.get_material_display}}
          </td>
          <td id='td_year' style="font-size:0.85em;">
            {{con.year|date:'Y'|default_if_none:"-"}}
          </td>
          <td id='td_prenda' style="font-size:0.85em;">
            {{con.get_prenda_display|default_if_none:"-"}}
          </td>
          <td id='td_recepcion' style="font-size:0.85em;">
            {{con.get_recepcion_display|default_if_none:"-"}}
          </td>
          <td id='td_quality' style="font-size:0.85em;">
            {{con.get_quality_display|default_if_none:"-"}}
          </td>
          <td id='td_state' style="font-size:0.85em;">
            {{con.get_state_display|default_if_none:"-"}}
          </td>
          <td id='td_rol' style="font-size:0.85em;">
            {{con.rol|default_if_none:"-"}}
          </td>
          <td class="td_area">
            <input id="id_consArea" type="number" name="c-area" step="any" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" value="{{con.area}}" {{appraisal.finished|yesno:"disabled,"}}>
          </td>
          <td class="td_pesos">
            <input id="id_consPesos" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" readonly="true">
          </td>
          <td class="td_UF">
            <input id="id_consUF" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" readonly="true">
          </td>
          <td class="td_pesosPerArea">
            <input id="id_consPesosPerArea" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" readonly="true">
          </td>
          <td class="td_UFPerArea">
            <input id="id_consUFPerArea" type="number" name="c-UFPerArea" step="any" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" value="{{con.UFPerArea}}" {{appraisal.finished|yesno:"disabled,"}}>
          </td>
          <td style="padding:0em;text-align:right;">
            {% if appraisal.active %}
            <button class="btn btn-sm save_construction" name="btn_valuation_add_construction" style="padding:0px; border:0px; display: none;">
              <i class="material-icons">save</i>
            </button>
            <button type="button" class="btn btn-sm edit_construction" value="{{con.id}}" style="padding:0px; border:0px;">
              <i class="material-icons">edit</i>
            </button>
            <button class="btn btn-sm" name="btn_valuation_remove_construction" value="{{con.id}}" style="padding:0px; border:0px;">
              <i class="material-icons">delete</i>
            </button>
            {% endif %}
          </td>
          <td></td>
        </tr>
        {% if con.is_apartmentbuilding %}
        {% for apt in con.apartmentbuilding.apartment_set.all %}
        <tr class="tr_construction">
          <!-- Hidden inputs are used for processing the form. 
            Construction id to get if the obejct exists !-->
          <input type="hidden" name="construction_id" id="in_construction_id" value="{{con.id}}">
          <!-- And edited, to see if we have to consider this row. See comment in view. !-->
          <input type="hidden" name="construction_edited" id="in_construction_edited" value="0">
          <td></td>
          <td style="font-size:0.85em;">
            {{forloop.parentloop.counter}}.{{forloop.counter}}.
          </td>
          <td id='td_name' style="font-size:0.85em;">
            {% if con.name %}
              {{apt.name}}
            {% else %}
              {{apt.generic_name}}
            {% endif %}
          </td>
          <td id='td_material' style="font-size:0.85em;">
            {{con.get_material_display}}
          </td>
          <td id='td_year' style="font-size:0.85em;">
            {{con.year|date:'Y'|default_if_none:"-"}}
          </td>
          <td id='td_prenda' style="font-size:0.85em;">
            {{con.get_prenda_display|default_if_none:"-"}}
          </td>
          <td id='td_recepcion' style="font-size:0.85em;">
            {{con.get_recepcion_display|default_if_none:"-"}}
          </td>
          <td id='td_quality' style="font-size:0.85em;">
            {{con.get_quality_display|default_if_none:"-"}}
          </td>
          <td id='td_state' style="font-size:0.85em;">
            {{con.get_state_display|default_if_none:"-"}}
          </td>
          <td id='td_rol' style="font-size:0.85em;">
            {{con.rol|default_if_none:"-"}}
          </td>
          <td class="td_area">
            <input id="id_consArea" type="number" name="c-area" step="any" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" value="{{con.area}}" {{appraisal.finished|yesno:"disabled,"}}>
          </td>
          <td class="td_pesos">
            <input id="id_consPesos" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" readonly="true">
          </td>
          <td class="td_UF">
            <input id="id_consUF" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" readonly="true">
          </td>
          <td class="td_pesosPerArea">
            <input id="id_consPesosPerArea" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" readonly="true">
          </td>
          <td class="td_UFPerArea">
            <input id="id_consUFPerArea" type="number" name="c-UFPerArea" step="any" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" value="{{con.UFPerArea}}" {{appraisal.finished|yesno:"disabled,"}}>
          </td>
          <td style="padding:0em;text-align:right;">
            {% if appraisal.active %}
            <button class="btn btn-sm save_construction" name="btn_valuation_add_construction" style="padding:0px; border:0px; display: none;">
              <i class="material-icons">save</i>
            </button>
            <button type="button" class="btn btn-sm edit_construction" value="{{con.id}}" style="padding:0px; border:0px;">
              <i class="material-icons">edit</i>
            </button>
            <button class="btn btn-sm" name="btn_valuation_remove_construction" value="{{con.id}}" style="padding:0px; border:0px;">
              <i class="material-icons">delete</i>
            </button>
            {% endif %}
          </td>
          <td></td>
        </tr>
        {% endfor %}
        {% endif %}
        {% endfor %}

        <!-- Subtotals of constructions -->
        <tr>
          <td></td>
          <td></td>
          <td colspan="8" style="font-size:0.85em;font-weight:bold;text-align:right;padding-right:1em;">Total construcciones</td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalConstArea" class="form-control form-control-sm constructions" style="text-align:right;" disabled>  
          </td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalConstPesos" class="form-control form-control-sm constructions" style="text-align:right;" disabled>  
          </td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalConstUF" class="form-control form-control-sm constructions" style="text-align:right;" disabled>  
          </td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalConstPesosPerArea" class="form-control form-control-sm constructions" style="text-align:right;" disabled>  
          </td>
          <td style="text-align:right;font-size:0.85em;">
            <input id="id_ptotalConstUFPerArea" class="form-control form-control-sm constructions" style="text-align:right;" disabled>  
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    {% endif %}

    <table id="table_assets" class="table table-sm mt-4">

      <thead class="thead">

        <!-- Headers !-->
        <tr>
          <th></th>
          <th scope="col" colspan="2" style="width: 70em;">Otros bienes</th>
          <th scope="col" colspan="4" style="width: 30em;text-align:center;" class="border-left">Valores</th>
          <th scope="col" style="width:6em;"></th>
          <th></th>
        </tr>

      </thead>

      <tbody>

        <tr>
          <td></td>
          <td style="width:1em;"></td>
          <td style="width:69em;font-size:0.85em;">Descripción</td>
          <td class="td-center" style="width:8em;">{{htmlBits.unitPesos|safe}}</td>
          <td class="td-center" style="width:8em;">{{htmlBits.unitUF|safe}}</td>
          <td class="td-center" style="width:7em;">{{htmlBits.unitPesosPerSquaredMeter|safe}}</td>
          <td class="td-center" style="width:7em;">{{htmlBits.unitUFPerSquaredMeter|safe}}</td>
          <td></td>
          <td></td>
        </tr>

        {% for ass in realestate.assets.all %}
        <tr class="tr_asset">
          <!-- Hidden inputs are used for processing the form. 
            Asset id to get if the obejct exists !-->
          <input type="hidden" name="asset_id" id="in_asset_id" value="{{ass.id}}">
          <!-- And edited, to see if we have to consider this row. See comment in view. !-->
          <input type="hidden" name="asset_edited" id="in_asset_edited" value="0">
          <td></td>
          <td style="font-size:0.85em;">
            {{forloop.counter}}.
          </td>
          <td id='td_name' style="font-size:0.85em;">
            {{ass.name}}
          </td>
          <td class="td_pesos">
            <input id="id_assetPesos" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" readonly="true">
          </td>
          <td class="td_UF">
            <input name="a-value" id="id_assetUF" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" value="{{ass.value}}" {{appraisal.finished|yesno:"disabled,"}}>
          </td>
          <td>
          </td>
          <td>
          </td>
          {% if appraisal.active %}
          <td style="padding:0em;text-align:right;">
            <button class="btn btn-sm save_asset" name="btn_valuation_add_asset" style="padding:0px; border:0px; display: none;">
              <i class="material-icons">save</i>
            </button>
            <button class="btn btn-sm edit_asset" type="button" value="{{ass.id}}" style="padding:0px; border:0px;">
              <i class="material-icons">edit</i>
            </button>
            <button class="btn btn-sm" name="btn_valuation_remove_asset" value="{{ass.id}}" style="padding:0px; border:0px;">
              <i class="material-icons">delete</i>
            </button>
          </td>
          {% endif %}
          <td></td>
        </tr>
        {% endfor %}

        <!-- This row is here to be copied when the add asset is clicked -->
        <tr id='tr_create_asset' style="display:none;">
          <input id="in_asset_id" type="hidden" name="asset_id" value="-1">
          <input id="in_asset_edited" type="hidden" name="asset_edited" value="0">
          <td></td>
          <td></td>
          <td>
            {{forms.createAsset.name}}
          </td>
          <td class="td_pesos">
            <input id="id_assetPesos" class="form-control form-control-sm constructions" style="width:100%;text-align:right;" readonly="true">
          </td>
          <td class="td_UF">
            {{forms.createAsset.value}}
          </td>
          <td>
          </td>
          <td>
          </td>
          <td style="padding:0em;text-align:right;">
            <button class="btn btn-sm" name="btn_valuation_add_asset" style="padding:0px; border:0px;">
              <i class="material-icons">save</i>
            </button>
          </td>
          <td></td>
        </tr>

        <!-- This row only contains the add button -->
        {% if appraisal.active %}
        <tr>
          <td></td>
          <td colspan="7" style="padding:0em;text-align:right;">
            <button id="add_asset" type="button" class="btn btn-sm" name="btn_valuation_add_asset" style="padding:0px; border:0px;">
              <i class="material-icons">add_box</i>
            </button>
          </td>
          <td></td>
        </tr>
        {% endif %}

        <tr>
          <td></td>
          <td></td>
          <td style="font-size:0.85em;font-weight:bold;text-align:right;padding-right:1em;">Total otros </td>
          <td id='id_ptotalAssetsPesos' style="text-align:right;font-size:0.85em;">1</td>
          <td id='id_ptotalAssetsUF' style="text-align:right;font-size:0.85em;">2</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <table id="table_totals" class="table table-sm mt-2">
      </tbody>

        <!-- Grand total -->

        <tr class="table-primary">
          <td></td>
          <td style="text-align:right;padding-right:3em;width:60em;">Valor tasador</td>
          <td id='id_totalPesos' style="text-align:right;width:8em;"></td>
          <td id='id_totalUF' style="text-align:right;width:8em;"></td>
          <td style="width:7em;"></td>
          <td style="width:7em;"></td>
          <td style="width:6em;"></td>
          <td></td>
        </tr>

        <tr class="table-primary">
          <td></td>
          <td style="text-align:right;padding-right:3em;">Valor seguro</td>
          <td id='id_totalSeguroPesos' style="text-align:right;"></td>
          <td id='id_totalSeguroUF' style="text-align:right;"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

<script>

  function assetsTableComputeTotalsTerrains() {
    var sumArea = 0
    var sumPesosPerArea = 0
    var sumUFPerArea = 0
    var sumPesos = 0
    var sumUF = 0
    var c = 0
    $('#table_terrains tr').each(function() {
      if (!($(this).hasClass('tr_terrain'))) return
      if ($(this).attr('id') == 'id_input') return
      if ($(this).attr('id') == 'tr_create_terrain') return
      area = parseFloat($(this).find("#id_terrainArea").val());
      if (!isNaN(area)) {
        sumArea += area;
        c += 1
      }
      area = parseFloat($(this).find("#id_t-area").val());
      if (!isNaN(area)) {
        sumArea += area;
      }
      pesosPerArea = parseFloatEs($(this).find("#id_terrainPesosPerArea").val());
      if (!isNaN(pesosPerArea)) {
        sumPesosPerArea += pesosPerArea;
      }
      UFPerArea = parseFloat($(this).find("#id_terrainUFPerArea").val());
      if (!isNaN(UFPerArea)) {
        sumUFPerArea += UFPerArea;
      }
      UFPerArea = parseFloat($(this).find("#id_t-UFPerArea").val());
      if (!isNaN(UFPerArea)) {
        sumUFPerArea += UFPerArea;
      }
      pesos = parseFloatEs($(this).find("#id_terrainPesos").val());
      if (!isNaN(pesos)) {
        sumPesos += pesos;
      }
      UF = parseFloatEs($(this).find("#id_terrainUF").val());
      if (!isNaN(UF)) {
        sumUF += UF;
      }
    });
    if (c == 0) {
      $('#id_ptotalTerrArea').val('-')
      $('#id_ptotalTerrPesosPerArea').val('-')
      $('#id_ptotalTerrUFPerArea').val('-')
      $('#id_ptotalTerrPesos').val('-')
      $('#id_ptotalTerrUF').val('-')
    } else {
      var avgArea = sumArea/c;
      var avgPesosPerArea = sumPesosPerArea/c;
      var avgUFPerArea = sumUFPerArea/c;
      var avgPesos = sumPesos/c;
      var avgUF = sumUF/c;
      $('#id_ptotalTerrArea').val(areaFormat(sumArea))
      $('#id_ptotalTerrPesosPerArea').val(pesosFormat(sumPesos/sumArea))
      $('#id_ptotalTerrUFPerArea').val(UFFormat(sumUF/sumArea))
      $('#id_ptotalTerrPesos').val(pesosFormat(sumPesos))
      $('#id_ptotalTerrUF').val(UFFormat(sumUF))
    }
  }

  function assetsTableComputeTotalsConstructions() {
    var sumArea = 0
    var sumPesosPerArea = 0
    var sumUFPerArea = 0
    var sumPesos = 0
    var sumUF = 0
    var c = 0
    $('#table_constructions tr').each(function() {
      if (!($(this).hasClass('tr_construction'))) return
      if ($(this).attr('id') == 'id_input') return
      if ($(this).attr('id') == 'tr_create_construction') return
      area = parseFloat($(this).find("#id_consArea").val());
      if (!isNaN(area)) {
        sumArea += area;
        c += 1
      }
      pesosPerArea = parseFloatEs($(this).find("#id_consPesosPerArea").val());
      if (!isNaN(pesosPerArea)) {
        sumPesosPerArea += pesosPerArea;
      }
      UFPerArea = parseFloat($(this).find("#id_consUFPerArea").val());
      if (!isNaN(UFPerArea)) {
        sumUFPerArea += UFPerArea;
      }
      pesos = parseFloatEs($(this).find("#id_consPesos").val());
      if (!isNaN(pesos)) {
        sumPesos += pesos;
      }
      UF = parseFloatEs($(this).find("#id_consUF").val());
      if (!isNaN(UF)) {
        sumUF += UF;
      }
    });
    if (c == 0) {
      $('#id_ptotalConstArea').val('-')
      $('#id_ptotalConstPesosPerArea').val('-')
      $('#id_ptotalConstUFPerArea').val('-')
      $('#id_ptotalConstPesos').val('-')
      $('#id_ptotalConstUF').val('-')
    } else {
      var avgArea = sumArea/c;
      var avgPesosPerArea = sumPesosPerArea/c;
      var avgUFPerArea = sumUFPerArea/c;
      var avgPesos = sumPesos/c;
      var avgUF = sumUF/c;
      $('#id_ptotalConstArea').val(areaFormat(sumArea))
      $('#id_ptotalConstPesosPerArea').val(pesosFormat(sumPesos/sumArea))
      $('#id_ptotalConstUFPerArea').val(UFFormat(sumUF/sumArea))
      $('#id_ptotalConstPesos').val(pesosFormat(sumPesos))
      $('#id_ptotalConstUF').val(UFFormat(sumUF))
    }
  }


  function assetsTableComputeTotalsAssets() {
    var sumPesos = 0
    var sumUF = 0
    var c = 0
    $('#table_assets tr').each(function() {
      if (!($(this).hasClass('tr_asset'))) return
      if ($(this).attr('id') == 'id_input') return
      if ($(this).attr('id') == 'tr_create_asset') return
      pesos = parseFloatEs($(this).find("#id_assetPesos").val());
      if (!isNaN(pesos)) {
        sumPesos += pesos;
      }
      UF = parseFloat($(this).find("#id_assetUF").val());
      if (!isNaN(UF)) {
        sumUF += UF;
        c += 1;
      }
    });
    if (c == 0) {
      $('#id_ptotalAssetsPesos').text('-')
      $('#id_ptotalAssetsUF').text('-')
    } else {
      var avgPesos = sumPesos/c;
      var avgUF = sumUF/c;
      $('#id_ptotalAssetsPesos').text(pesosFormat(sumPesos))
      $('#id_ptotalAssetsUF').text(UFFormat(sumUF))
    }
  }

  function assetsTableComputeTotalsGlobal() {
    var sumPesos = 0
    /*
    if (!{{realestate.is_apartment}}) {
      sumPesos += parseFloatEs($('#id_ptotalTerrPesos').text().trim());
    }
    */
    sumPesos += parseFloatEs($('#id_ptotalConstPesos').text().trim());
    sumPesos += parseFloatEs($('#id_ptotalAssetsPesos').text().trim());

    var sumUF = 0
    /*
    if (!{{realestate.is_apartment}}) {
      sumUF += parseFloatEs($('#id_ptotalTerrUF').text().trim());
    }
    */
    sumUF += parseFloatEs($('#id_ptotalConstUF').text().trim());
    sumUF += parseFloatEs($('#id_ptotalAssetsUF').text().trim());

    var sumSeguroPesos = 0
    sumSeguroPesos += parseFloatEs($('#id_ptotalConstPesos').text().trim());
    sumSeguroPesos += parseFloatEs($('#id_ptotalAssetsPesos').text().trim());

    var sumSeguroUF = 0
    sumSeguroUF += parseFloatEs($('#id_ptotalConstUF').text().trim());
    sumSeguroUF += parseFloatEs($('#id_ptotalAssetsUF').text().trim());

    if (!isNaN(sumPesos)) {
      $('#id_totalPesos').text(pesosFormat(sumPesos))
    } else {
      $('#id_totalPesos').text('')
    }
    if (!isNaN(sumUF)) {
      $('#id_totalUF').text(UFFormat(sumUF))
    } else {
      $('#id_totalUF').text('')
    }
    if (!isNaN(sumSeguroPesos)) {
      $('#id_totalSeguroPesos').text(pesosFormat(sumSeguroPesos))
    } else {
      $('#id_totalSeguroPesos').text('')
    }
    if (!isNaN(sumSeguroUF)) {
      $('#id_totalSeguroUF').text(UFFormat(sumSeguroUF))
    } else {
      $('#id_totalSeguroUF').text('')
    }
  }

  function assetsTableComputeTotals() {
    assetsTableComputeTotalsTerrains();
    assetsTableComputeTotalsConstructions();
    assetsTableComputeTotalsAssets();
    assetsTableComputeTotalsGlobal();
  }

  function assetsTableUpdateRows() {
    $('#table_terrains tr').each(function() {
      if ($(this).hasClass('tr_terrain')) {
        uf = UF_IN_PESOS;
        area = parseFloat($(this).find(".td_area").find('input').val());
        UFPerArea = parseFloat($(this).find(".td_UFPerArea").find('input').val());
        $(this).find('.td_pesosPerArea').find('input').val(pesosFormat(UFPerArea*uf));
        $(this).find('.td_pesos').find('input').val(pesosFormat(UFPerArea*uf*area));
        $(this).find('.td_UF').find('input').val(UFFormat(UFPerArea*area));
      }
    });
    $('#table_constructions tr').each(function() {
      uf = UF_IN_PESOS;
      area = parseFloat($(this).find(".td_area").find('input').val());
      UFPerArea = parseFloat($(this).find(".td_UFPerArea").find('input').val());
      $(this).find('.td_pesosPerArea').find('input').val(pesosFormat(UFPerArea*uf));
      $(this).find('.td_pesos').find('input').val(pesosFormat(UFPerArea*uf*area));
      $(this).find('.td_UF').find('input').val(UFFormat(UFPerArea*area));
    });
    $('#table_assets tr').each(function() {
      uf = UF_IN_PESOS;
      UF = parseFloat($(this).find(".td_UF").find('input').val());
      $(this).find('.td_pesos').find('input').val(pesosFormat(UF*uf));
    });
  }

  $(".constructions").change(function () {
    assetsTableUpdateRows();
    assetsTableComputeTotals();
  });

  $(document).ready(function() {

    $('.edit_construction').click(function() {
      row = $(this).closest('tr')

      input = row.find('#in_construction_edited')
      input.val('1')

      btn = row.find('.save_construction')
      btn.toggle()

      cell = row.find('#td_name')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createConstruction.name}}')
      cell.find('#id_c-name').val(text.trim())

      cell = row.find('#td_material')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createConstruction.material|escapejs}}')
      cell.find('#id_c-material option').filter(function() {
        return $(this).text() == text.trim(); 
      }).prop('selected', true);

      cell = row.find('#td_year')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createConstruction.year|escapejs}}')
      cell.find('#id_c-year').val(text.trim())

      cell = row.find('#td_prenda')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createConstruction.prenda|escapejs}}')
      cell.find('#id_c-prenda option').filter(function() {
        return $(this).text() == text; 
      }).prop('selected', true);

      cell = row.find('#td_recepcion')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createConstruction.recepcion|escapejs}}')
      cell.find('#id_c-recepcion option').filter(function() {
        return $(this).text() == text; 
      }).prop('selected', true);

      cell = row.find('#td_quality')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createConstruction.quality|escapejs}}')
      cell.find('#id_c-quality option').filter(function() {
        return $(this).text() == text; 
      }).prop('selected', true);

      cell = row.find('#td_state')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createConstruction.state|escapejs}}')
      cell.find('#id_c-state option').filter(function() {
        return $(this).text() == text; 
      }).prop('selected', true);

      cell = row.find('#td_rol')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createConstruction.rol|escapejs}}')
      cell.find('#id_c-rol option').filter(function() {
        return $(this).text() == text; 
      }).prop('selected', true);

      $(this).toggle()
    });

    $('.edit_terrain').click(function() {
      row = $(this).closest('tr')

      // Set hidden input value to 1, so that when saving know this row was editted
      input = row.find('#in_terrain_edited')
      input.val('1')

      // Turn on the save button
      btn = row.find('.save_terrain')
      btn.toggle()

      // Turn off button to edit.
      $(this).toggle()

      // Change row from text to input.
      cell = row.find('#td_name')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createTerrain.name}}')
      cell.find('#id_t-name').val(text.trim())

    });

    $('.edit_asset').click(function() {
      row = $(this).closest('tr')

      // Set hidden input value to 1, so that when saving know this row was editted
      input = row.find('#in_asset_edited')
      input.val('1')

      // Turn on the save button
      btn = row.find('.save_asset')
      btn.toggle()

      // Turn off button to edit.
      $(this).toggle()

      // Change row from text to input.
      cell = row.find('#td_name')
      text = cell.text()
      cell.empty()
      cell.append('{{forms.createAsset.name}}')
      cell.find('#id_a-name').val(text.trim())

    });

    $('#add_terrain').click(function() {
      var newRow = $('#tr_create_terrain').clone();
      $('#tr_create_terrain').before(newRow)
      newRow.attr('id','')
      newRow.toggle();
      newRow.find('#in_terrain_edited').val('1')
      newRow.find('#id_t-area').change(function () {
        assetsTableUpdateRows();
        assetsTableComputeTotals();
      });
      newRow.find('#id_t-UFPerArea').change(function () {
        assetsTableUpdateRows();
        assetsTableComputeTotals();
      });
    });

    $('#add_construction').click(function() {
      var newRow = $('#tr_create_construction').clone();
      $('#tr_create_construction').before(newRow)
      newRow.attr('id','')
      newRow.toggle();
      newRow.find('#in_construction_edited').val('1')
      newRow.find('#id_c-area').change(function () {
        assetsTableUpdateRows();
        assetsTableComputeTotals();
      });
      newRow.find('#id_c-UFPerArea').change(function () {
        assetsTableUpdateRows();
        assetsTableComputeTotals();
      });
    });

    $('#add_asset').click(function() {
      var newRow = $('#tr_create_asset').clone();
      $('#tr_create_asset').before(newRow)
      newRow.attr('id','')
      newRow.toggle();
      newRow.find('#in_asset_edited').val('1')
      newRow.find('#id_a-value').change(function () {
        assetsTableUpdateRows();
        assetsTableComputeTotals();
      });
    });

    $('#add_construction_comp').click(function() {
      var newRow = $('#tr_create_construction_comp').clone();
      //$(this).closest('tr').before(newRow)
      $('#tr_create_construction_comp').before(newRow)
      newRow.attr('id','')
      newRow.toggle();
      newRow.find('#in_construction_edited').val('1')
    });

    assetsTableUpdateRows();
    assetsTableComputeTotals();

  });
</script>

