<div class="card-body">

    <div class="section-title">
      <h5> Valorización </h5>
    </div>

    <div class="row">
    <div class="col-6">
    <table class="table table-sm table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Valores de tasación</th>
          <th scope="col">$</th>
          <th scope="col">UF</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col" style="vertical-align: middle;">Valor comercial</td>
          <td scope="col"><input type="number" name="valor" id="id_valor" class="form-control form-control-sm" disabled></td>
          <td scope="col">{{forms.appraisal.valorUF}}</td>
        </tr>
        <tr>
          <td scope="col" style="vertical-align: middle;">Valor liquidez</td>
          <td scope="col"><input type="number" name="valor_liquidez" id="id_valor_liquidez" class="form-control form-control-sm" disabled></td>
          <td scope="col"><input type="number" name="valor_liquidez_uf" id="id_valor_liquidez_uf" class="form-control form-control-sm" disabled></td>
        </tr>
        <tr>
          <td scope="col" style="vertical-align: middle;">Monto seguro</td>
          <td scope="col"><input type="number" name="valor_monto_seguro" id="id_valor_monto_seguro" class="form-control form-control-sm" disabled></td>
          <td scope="col"><input type="number" name="valor_monto_seguro_uf" id="id_valor_monto_seguro_uf" class="form-control form-control-sm" disabled></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>

  </div>

  <script>
    $("#id_valorUF").change(function () {
      var url = $("#form").attr("ajax_computeValuationsUrl");
      var valor = $(this).val();
      $.ajax({
        url: url,
        data: {
          'valor': valor
        },
        success: function (data) {
          data = JSON.parse(data)
          $("#id_valor").val(parseFloat(data.valorComercialPesos));
          $("#id_valor_liquidez").val(parseFloat(data.valorLiquidezPesos));
          $("#id_valor_liquidez_uf").val(parseFloat(data.valorLiquidezUF));
          $("#id_valor_monto_seguro").val(parseFloat(data.montoSeguroPesos));
          $("#id_valor_monto_seguro_uf").val(parseFloat(data.montoSeguroUF));
        }
      });
    });
  </script>


<div class="card-body">

    <div class="section-title">
      <h5> Muestras comparativas </h5>
    </div>

    <table class="table table-sm table-striped">
      <thead class="thead-light">
        <tr>
          <!--<th scope="col">lat/lng</th>-->
          <th scope="col">Dirección</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fuente</th>
          <th scope="col">Dorm.</th>
          <th scope="col">Baños</th>
          {% if realestate.is_house %}
          <th scope="col">Superficie construida (m<sup>2</sup>)</th>
          <th scope="col">Superficie terreno (m<sup>2</sup>)</th>
          {% elif realestate.is_apartment %}
          <th scope="col">m<sup>2</sup> útil</th>
          <th scope="col">m<sup>2</sup> terraza</th>
          {% endif %}
          <th scope="col">Valor comercial (UF)</th>
          <th scope="col"></th>
        </tr>
      </thead>

      <tr>
        <td><input class="form-control form-control-sm form-control-inline" style="min-width:0;width:6em;display:inline;"></input></td>
        <td>{{forms.createApartment.propertyType}}</td>
        <td>{{forms.createApartment.sourceName}}</td>
        <td>{{forms.createApartment.bedrooms}}</td>
        <td>{{forms.createApartment.bathrooms}}</td>
        <td>{{forms.createApartment.usefulSquareMeters}}</td>
        <td>{{forms.createApartment.terraceSquareMeters}}</td>
        <td>{{forms.createApartment.marketPrice}}</td>
        <th scope="col"><button class="btn btn-dark btn-sm" name="btn_property_create">+</button></th>
      </tr>

      {% for o in appraisal.valuationRealEstate.all %}
      <tr>
        <!--<td><small>{{o.latlng_verbose}}</small></td>-->
        <td scope="row">{{o.addressStreet}} {{o.addressNumber}}</td>
        <td><i class="{{o.get_propertyTypeIcon }}"></i></td>
        <td><a href="{{o.sourceUrl}}">{{ o.sourceNameNice }}</a></td>
        <td>{{ o.apartment.bedrooms }}</td>
        <td>{{ o.apartment.bathrooms }}</td>
        {% if realestate.is_house %}
        <td>{{ o.house.builtSquareMeters }}</td>
        <td>{{ o.house.terrainSquareMeters }}</td>
        {% elif realestate.is_apartment %}
        <td>{{ o.apartment.usefulSquareMeters }}</td>
        <td>{{ o.apartment.terraceSquareMeters }}</td>
        {% endif %}
        <td>{{ o.marketPrice }}</td>
        <td scope="col"><button class="btn btn-dark btn-sm" name="btn_valuation_add_realestate" value="{{o.id}}" style="padding-top:0.1em;padding-bottom:0.1em;">+</button></td>
      </tr>
      {% endfor %}

    </table>
    

    <div class="section-title">
      <h5> Muestras de mercado </h5>
    </div>

    <table class="table table-sm table-striped">
      <thead class="thead-light">
        <tr>
          <!--<th scope="col">lat/lng</th>-->
          <th scope="col">Dirección</th>
          <th scope="col">Tipo</th>
          <th scope="col">Fuente</th>
          <th scope="col">Dorm.</th>
          <th scope="col">Baños</th>
          {% if realestate.is_house %}
          <th scope="col">Superficie construida (m<sup>2</sup>)</th>
          <th scope="col">Superficie terreno (m<sup>2</sup>)</th>
          {% elif realestate.is_apartment %}
          <th scope="col">Superficie útil (m<sup>2</sup>)</th>
          <th scope="col">Superficie terraza (m<sup>2</sup>)</th>
          {% endif %}
          <th scope="col">Valor comercial (UF)</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-warning">
          <!--<td><small>{{realestate.latlng_verbose}}</small></td>-->
          <td scope="row">{{realestate.addressStreet}} {{realestate.addressNumber}}</td>
          <td><i class="{{realestate.get_propertyTypeIcon }}"></i></td>
          <td><a href="{{realestate.sourceUrl}}">{{realestate.sourceNameNice}}</a></td>
          {% if realestate.is_house %}
          <td>{{realestate.apartment.bedrooms}}</a></td>
          <td>{{realestate.apartment.bathrooms}}</a></td>
          <td>{{realestate.house.builtSquareMeters}}</td>
          <td>{{realestate.house.terrainSquareMeters}}</td>
          {% elif realestate.is_apartment %}
          <td>{{realestate.apartment.bedrooms}}</a></td>
          <td>{{realestate.apartment.bathrooms}}</a></td>
          <td>{{realestate.apartment.usefulSquareMeters}}</td>
          <td>{{realestate.apartment.terraceSquareMeters}}</td>
          {% endif %}
          <td>{{realestate.marketPrice}}</td>
          <td></td>
        </tr>

        {% for o in references %}
        <tr>
          <!--<td><small>{{o.latlng_verbose}}</small></td>-->
          <td scope="row">{{o.addressStreet}} {{o.addressNumber}}</td>
          <td><i class="{{o.get_propertyTypeIcon }}"></i></td>
          <td><a href="{{o.sourceUrl}}">{{ o.sourceNameNice }}</a></td>
          <td>{{ o.bedrooms }}</a></td>
          <td>{{ o.bathrooms }}</a></td>
          {% if realestate.is_house %}
          <td>{{ o.builtSquareMeters }}</td>
          <td>{{ o.terrainSquareMeters }}</td>
          {% elif realestate.is_apartment %}
          <td>{{ o.usefulSquareMeters }}</td>
          <td>{{ o.terraceSquareMeters }}</td>
          {% endif %}
          <td>{{ o.marketPrice }}</td>
          <td scope="col"><button class="btn btn-dark btn-sm" name="btn_valuation_add_realestate" value="{{o.id}}" style="padding-top:0.1em;padding-bottom:0.1em;">+</button></td>
        </tr>
        {% endfor %}

        <tr class="table-warning">
          <th scope="row">Promedios</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ averages.usefulSquareMeters__avg }}
          &plusmn; {{ stds.usefulSquareMeters__stddev | floatformat:1 }}</td>
          <td>{{ averages.terraceSquareMeters__avg }}
          &plusmn; {{ stds.terraceSquareMeters__stddev | floatformat:1 }}</td>
          <td>{{ averages.marketPrice__avg }}
          &plusmn; {{ stds.marketPrice__stddev | floatformat:1 }}</td>
          <td></td>
        </tr>

      </tbody>
    </table>

    <div class="row">
      <div class="col">
        <div style="display: table;margin: auto;">
          {{ plot_map.div | safe }}
          {{ plot_map.script | safe }}
        </div>
      </div>
    </div>

  </div>
