
<div class="row ml-4 mt-5 mr-4 mb-4">
<div class="col">

  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Tasador</label>
        <input type="text" class="form-control" value="{{forms.appraisal.instance.tasadorUser.first_name}} {{forms.appraisal.instance.tasadorUser.last_name}}" disabled>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-group">
        {% if perms.appraisal.assign_tasador %}
        {% if appraisal.active %}
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#asignarTasador" style="margin-top:2em;">
          Asignar tasador
        </button>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Visador</label>
        <input type="text" class="form-control" value="{{forms.appraisal.instance.visadorUser.first_name}} {{forms.appraisal.instance.visadorUser.last_name}}" disabled>
      </div>
    </div>
    <div class="col-auto">
      <div class="form-group">
        {% if perms.appraisal.assign_visador %}
        {% if appraisal.active %}
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#asignarVisador" style="margin-top:2em;">
          Asignar visador
        </button>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      <p class="font-weight-bold text-right">Tasación</p>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label>Tipo</label>
        {{forms.appraisal.tipoTasacion}}
      </div>
    </div>
    <div class="col-3">
      <div class="form-group">
        <label>Objetivo</label>
        {{forms.appraisal.objetivo}}
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      <p class="font-weight-bold text-right">Solicitante</p>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Nombre</label>
        {{forms.appraisal.solicitante}}
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>Código</label>
        {{forms.appraisal.solicitanteCodigo}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Ejecutivo</label>
        {{forms.appraisal.solicitanteEjecutivo}}
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>Sucursal</label>
        {{forms.appraisal.solicitanteSucursal}}
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      <p class="font-weight-bold text-right">Cliente</p>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Nombre</label>
        {{forms.appraisal.cliente}}
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>Rut</label>
        {{forms.appraisal.clienteRut}}
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-2">
      <p class="font-weight-bold text-right">Propietario</p>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label>Nombre</label>
        {{forms.appraisal.propietario}}
      </div>
    </div>
    <div class="col-2">
      <div class="form-group">
        <label>Rut</label>
        {{forms.appraisal.propietarioRut}}
      </div>
    </div>
  </div>
  <div class="row text-right">
    <div class="col-2">
    </div>
    <div class="col-4">
      <div class="form-group">
        {{forms.appraisal.propietarioReferenceSII}}
        <label>Referencia SII</label>
      </div>
    </div>
  </div>

  {% for form in forms.rol %}
  {% if forloop.counter == 1%}
  <div class="row rol_row mt-4">
  {% else %}
  <div class="row rol_row">
  {% endif %}
    <input type="hidden" name="r-id" id="rol_id" value="{{form.instance.id}}">
    <input type="hidden" name="r-delete" id="rol_delete" value="0">
    <div class="col-2 text-right" id="id_title">
      {% if forloop.counter == 1%}
      <label class="font-weight-bold text-right">Roles</label><br>
      <button type="button" class="btn btn-secondary add_rol" id="id_btn">
        Agregar
      </button>
      {% endif %}
    </div>
    <div class="col-3">
      <div class="form-group" id="id_codigo">
        {% if forloop.counter == 1%}
        <label>Código</label>
        {% endif %}
        {{form.code}}
      </div>
    </div>
    <div class="col-2">
      <div class="form-group" id="id_estado">
        {% if forloop.counter == 1%}
        <label>Estado</label>
        {% endif %}
        {{form.state}}
      </div>
    </div>
    <div class="col-1">
      {% if forloop.counter == 1%}
      <button type="button" class="btn btn-secondary remove_rol" style="display:none;">
        Borrar
      </button>
      {% else %}
      <button type="button" class="btn btn-secondary remove_rol">
        Borrar
      </button>
      {% endif %}
    </div>
  </div>
  {% endfor %}

</div>
</div>

<script>

  $('.add_rol').click(
    function() {
      var row = $('.rol_row:visible');
      console.log(row.length)
      if (row.length > 1) {
        row = row.last();
      }
      var newRow = row.clone();
      newRow.removeClass('mt-4')
      newRow.find('#id_title').html('')
      newRow.find('#rol_id').val(-1)
      newRow.find('#id_codigo').find('label').hide()
      newRow.find('#id_estado').find('label').hide()
      newRow.find('#id_div_btn').html('')
      newRow.find('#id_r-code').val('')
      newRow.find('#id_r-state').val(0)
      row.after(newRow);
      newRow.find('.remove_rol').show()
      $('.remove_rol').click(
        function() {
          var row = $(this).closest('.row');
          row.find('#rol_delete').val(1)
          row.hide()
        }
      );
    }
  );

  $('.remove_rol').click(
    function() {
      var row = $(this).closest('.row');
      row.find('#rol_delete').val(1)
      row.hide()
    }
  );

  function valid_rut(rut) {
    function dv(T) {
      var M=0,S=1;
      for (;T;T=Math.floor(T/10)) {
        S=(S+T%10*(9-M++%6))%11;
      }
      return S?S-1:'k';
    };
    if (rut.length < 2) return false
    rut = rut.split('.').join("");
    rut = rut.split('-').join("");
    var digv = rut.charAt(rut.length-1);
    n = rut.substring(0,rut.length-1)
    return (dv(n) == digv);
    rut = parseInt(rut);
    if (isNaN(rut)) {
      return false
    }
    return true
  }
  
  jQuery.validator.addMethod("rut",
    function(value, element) {
      return this.optional(element) || valid_rut(value);
    },
    "El rut no es válido"
  );

  $("#form").validate({
    rules: {
      "clienteRut": "rut",
      "propietarioRut": "rut"
    },
    errorPlacement: function(error, element) {
      error.insertAfter(element);
    }
  });
</script>
