<div class="mr-4 ml-4 mt-4">
  <div class="row">
    <div class="col">
      <h5 style="margin:0em;">Muestras comparativas</h5>
    </div>
    <div class="col text-right">
      <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#valuationRealEstate" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
        more_vert
      </a>
    </div>
  </div>

  {% load l10n %}
  {% localize on %}

  <div id="valuationRealEstate" class="collapse show" aria-labelledby="heading">

    {% for re in appraisal.real_estates.all %}

    <div class="real_estate mt-3" data-id="{{re.id}}">

      <p> {{re.address}} </p>

      {% if re.terrains.all or re.constructions.all %}

      {% if re.terrains.all %}

      <p style="font-size:0.9em;"> Terrenos </p>

      {% for terrain in re.terrains.all %}

      <table class="table table-sm table_selected_terrain mb-4 border-left border-right" data-id="{{terrain.id}}">

        <thead class="thead">
          <tr style="background: #eee;">
            <!--<th scope="col">lat/lng</th>-->
            <th></th>
            <th scope="col" style="width: 1em;text-align:center;">#</th>
            <th scope="col" style="width: 30em;text-align:left;">Dirección</th>
            <th scope="col" style="width: 10em;text-align:left;">Fuente</th>
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup></th>
            <th scope="col" style="width: 10em;text-align:right;">Valor comercial</th>
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup></th>
            <th scope="col" style="width: 5em;text-align:right;">
              <a href="#" class="btn_similar_add_terrain_modal">
                Agregar
              </a>
            </th>
            <th></th>
          </tr>
        </thead>

        <tbody id="table_selected_terrain_{{terrain.id}}" >
          {% include 'appraisal/realestate_value_similar_selected_terrain.html' %}
        </tbody>

      </table>
      
      {% endfor %}

      {% endif %}

      {% if re.buildings.all %}

      <p style="font-size:0.9em;"> Construcciones </p>

      {% for con in re.buildings.all %}

      <table class="table table-sm mb-4 table_selected_building border-left border-right">

        <thead class="thead">
          <tr style="background: #eee;">
            <!--<th scope="col">lat/lng</th>-->
            <th></th>
            <th scope="col" style="width: 1em;text-align:right;">#</th>
            <th scope="col" style="width: 20em;text-align:left;">Dirección</th>
            <th scope="col" style="width: 4em;text-align:center;">Tipo</th>
            <th scope="col" style="width: 4em;text-align:center;">Fuente</th>
            <th scope="col" style="width: 3em;text-align:center;"><i class="fas fa-bed"></i></th>
            <th scope="col" style="width: 3em;text-align:center;"><i class="fas fa-bath"></i></th>
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup></th>
            <th scope="col" style="width: 7em;text-align:right;">m<sup>2</sup></th>
            <th scope="col" style="width: 10em;text-align:right;">Valor comercial</th>
            <th scope="col" style="width: 10em;text-align:right;">Valor comercial</th>
            <th scope="col" style="width: 10em;text-align:right;">V.C./ m<sup>2</sup></th>
            <th scope="col" style="width: 5em;">
              <a href="#" class="btn_similar_add_terrain_modal">
                Agregar
              </a>
            </th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          {% include 'appraisal/realestate_value_similar_selected_building.html' %}
        </tbody>

      </table>

      {% endfor %}

      {% endif %}

    </div>

    {% else %}

    <div class="alert alert-info">
      No existen propiedades asociadas a esta dirección. Para agregar propiedades use la pestaña 'propiedad(es)'.
    </div>

    {% endif %}

    {% endfor %}

  </div>
  </div>
  
  {% endlocalize %}

</div>

<script>

  validation_config = {
    rules: {
      "addressStreet": "required",
      "addressNumber": "required",
      "addressCommune": "required"
    },
    messages: {
      "addressStreet": "Campo requerido",
      "addressNumber": "Requerido",
      "addressCommune": "Campo requerido"
    }
  }

  $(document).ready(function() {
    set_table_actions()
  })

  function set_table_actions() {

    $(".btn_similar_add_terrain_modal").on("click", function() {
      event.preventDefault()
      var real_estate_id = $(this).closest(".real_estate").data("id")
      var terrain_id = $(this).closest(".table_selected_terrain").data("id")
      data = {'real_estate_id':real_estate_id,'terrain_id':terrain_id};
      url = "{% url 'ajax_add_property_similar_modal_url' %}"
      $.ajax({
        url: url,
        type: 'get',
        data: data,
        error: function () {
            alert("Error al cargar modal para agregar una propiedad.");
            return false;
        },
        success: function (ret) {
          $("#modal_add_property_similar").html($.trim(ret));
          $("#modal_add_property_similar").modal("show")
          $("#form_add_property_similar").data("real_estate_id",real_estate_id)
          $("#form_add_property_similar").data("terrain_id",terrain_id)
          set_modal_actions()
        }
      });
    })

  }

  $("#form_add_property_similar").validate(validation_config)

  function set_modal_actions() {

    $("#btn_add_property_similar").on("click", function() {
      event.preventDefault()
      url = "{% url 'ajax_add_property_similar_url' %}"
      form = $("#form_add_property_similar")
      data = join_data(form,form)
      $.ajax({
        url: url,
        type: 'post',
        data: $.param(data),
        error: function () {
            alert("Error al agregar propiedad.");
            return false;
        },
        success: function (ret) {
          data = data.reduce(function(map,obj) { map[obj.name] = obj.value; return map}, {});
          $("#table_selected_terrain_"+data.terrain_id).html($.trim(ret));
          $("#modal_add_property_similar").modal("hide")
          set_modal_actions()
        }
      });
    })

  }
</script>