<tr class="current sre">
  <!--<td><small>{{realestate.latlng_verbose}}</small></td>-->
  <td></td>
  <td></td>
  <td>{{terrain.name_or_generic}}</td>
  <td></td>
  <td class="td_c_area_1" style="text-align:right;">{{terrain.area|default_if_none:"-"}}</td>
  <td class="td_c_market_price" style="text-align:right;"></td>
  <td class="td_c_market_price_per_useful_square_meters" style="text-align:right;"></td>
  <td></td>
  <td></td>
</tr>

{% for o in terrain.terrain_set.all %}
<tr id="trValuationRealEstate_{{o.id}}" class="sre">
  <input name="valuationRealEstateRow" type="hidden" value="{{o.id}}">
  <input id="in_valuationRealEstateRemove" name="valuationRealEstateRemove" type="hidden" value="0">
  <!--<td><small>{{o.latlng_verbose}}</small></td>-->
  <td></td>
  <td style="text-align:right;"><small>{{forloop.counter}}.</small></td>
  <td scope="row">{{o.real_estate.addressStreet}} {{o.real_estate.addressNumber}}</td>
  <td><a href="{{o.sourceUrl}}">{{ o.real_estate.sourceNameNice }}</a></td>
  <td class="td_sre_area_1" style="text-align:right;" >{{o.area|default_if_none:"-"}}</td>
  <td class="td_sre_market_price" style="text-align:right;">{{ o.marketPrice }}</td>
  <td class="td_sre_market_price_" style="text-align:right;"></td>
  <td style="padding:0em;text-align:right;">
    {% if not appraisal.finished %}
    <button type="button" class="btn btn-sm removeValuationRealEstate" name="btn_valuation_add_realestate" value="{{o.id}}" style="padding:0px; border:0px;">
      <i class="material-icons">delete</i>
    </button>
    {% endif %}
  </td>
  <td></td>
</tr>
{% endfor %}

{% if terrain.terrain_set.all %}

<tr class="border-bottom">
  <td></td>
  <td colspan="3" style="text-align:right;">Promedios</td>
  <td id='m' style="text-align:right;"></td>
  <td id='vreUsefulSquareMetersAvg' style="text-align:right;"></td>
  <td id='vreMarketPricePerUsefulSquareMetersAvg' style="text-align:right;"></td>
  <td></td>
  <td></td>
</tr>

{% else %}

<tr class="border-bottom">
  <td></td>
  <td colspan="7" style="text-align:center;">No ha sido agregada ninguna propiedad similar</td>
  <td></td>
</tr>

{% endif %}