  <div class="card-body">

    <span class="form-group row align-middle">
      <div class="col-12">
        <label class="col-form-label">Visador</label>
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Nombre
        </label>
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control form-control-sm" value="{{forms.appraisal.instance.visadorUser.first_name}} {{forms.appraisal.instance.visadorUser.last_name}}" disabled>
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Rut
        </label>
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control form-control-sm" value="" disabled>
      </div>
      {% if perms.appraisal.assign_visador %}
      {% if appraisal.active %}
      <div class="col-auto">
        <button type="button" class="btn-sm btn-secondary" data-toggle="modal" data-target="#asignarVisador">
          Asignar visador
        </button>
      </div>
      {% endif %}
      {% endif %}
    </span>

    <span class="form-group row align-middle">
      <div class="col-12">
        <label class="col-form-label">Tasador</label>
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Nombre
        </label>
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control form-control-sm" value="{{forms.appraisal.instance.tasadorUser.first_name}} {{forms.appraisal.instance.tasadorUser.last_name}}" disabled>
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Rut
        </label>
      </div>
      <div class="col-lg-2">
        <input type="text" class="form-control form-control-sm" value="" disabled>
      </div>
      {% if perms.appraisal.assign_tasador %}
      {% if appraisal.active %}
      <div class="col-auto">
        <button type="button" class="btn-sm btn-secondary" data-toggle="modal" data-target="#asignarTasador">
          Asignar tasador
        </button>
      </div>
      {% endif %}
      {% endif %}
    </span>

    <span class="form-group row align-middle">
      <div class="col-12">
        <label class="col-form-label">Solicitante</label>
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Nombre
        </label>
      </div>
      <div class="col-lg-3">
          {{forms.appraisal.solicitante}}
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Sucursal
        </label>
      </div>
      <div class="col-lg-3">
        {{forms.appraisal.solicitanteSucursal}}
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Ejecutivo
        </label>
      </div>
      <div class="col-lg-3">
        {{forms.appraisal.solicitanteEjecutivo}}
      </div>
    </span>

    <span class="form-group row align-middle">
      <div class="col-12">
        <label class="col-form-label">Cliente</label>
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Nombre
        </label>
      </div>
      <div class="col-lg-3">
        {{forms.appraisal.cliente}}
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Rut
        </label>
      </div>
      <div class="col-lg-3">
        {{forms.appraisal.clienteRut}}
      </div>
    </span>

    <span class="form-group row align-middle">
      <div class="col-12">
        <label class="col-form-label">Propietario</label>
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Nombre
        </label>
      </div>
      <div class="col-lg-3">
        {{forms.appraisal.propietario}}
      </div>
      <div class="col-auto">
        <label for="solicitante" class="col-form-label-sm">
          Rut
        </label>
      </div>
      <div class="col-lg-3">
        {{forms.appraisal.propietarioRut}}
      </div>
    </span>

    <div class="card bg-light mb-1">
    <div class="card-header">Roles</div>
    <div class="card-body">
      <div class="card-text">
        <div class="form-row">
          <div class="col-auto">
            <label for="solicitante" class="col-form-label-sm">
              Rol avaluo
            </label>
          </div>
          <div class="col-lg-3">
            {{forms.appraisal.rolAvaluo}}
          </div>
        </div>
      </div>
    </div>
    </div>

</div>
