<div class="mr-4 ml-4 mt-4">
  <div class="row">
    <div class="col">
      <h5 style="margin:0em;">Muestras comparativas</h5>
    </div>
    <div class="col text-right">
      <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#valuationRealEstate" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
        more_vert
      </a>
    </div>
  </div>

  {% load l10n %}
  {% localize on %}

  <div id="similar_properties" class="collapse show ml-4 mr-4" aria-labelledby="heading">

    {% for re in appraisal.real_estates.all %}
      <div class="real_estate mt-3" data-id="{{re.id}}">
        {% if appraisal.real_estates.all.count > 1 %}
          <p> {{re.address}} </p>
        {% endif %}
        {% if re.terrains.all or re.buildings.all %}
          
          <!-- TERRENOS -->
          {% if re.terrains.all %}
            <p style="font-size:0.9em;"> Terrenos </p>
            {% for terrain in re.terrains.all %}
              <div class="terrain" id="terrain_{{terrain.id}}">
                {% include 'appraisal/value_similar_selected_terrains.html' %}
              </div>
            {% endfor %}
          {% endif %}

          <!-- CONSTRUCCIONES -->
          {% if re.buildings.all %}
            <p style="font-size:0.9em;"> Construcciones </p>
            {% for building in re.buildings.all %}
              {% if not building.is_apartment %}
              <div id="building_{{building.id}}">
                {% include 'appraisal/value_similar_selected_buildings.html' %}
              </div>
              {% endif %}
            {% endfor %}
          {% endif %}
  
        {% else %}

          <div class="alert alert-info">
            No existen propiedades asociadas a esta dirección. Para agregar propiedades use la pestaña 'propiedad(es)'.
          </div>

        {% endif %}
      </div>
    {% endfor %}
  
  </div>
  
  {% endlocalize %}

</div>

<script>

  validation_config = {
    rules: {
      "addressStreet": "required",
      "addressNumber": "required",
      "addressCommune": "required"
    },
    messages: {
      "addressStreet": "Campo requerido",
      "addressNumber": "Requerido",
      "addressCommune": "Campo requerido"
    }
  }

  $(document).ready(function() {
    set_table_actions()
  })

  function getData(btn) {
    data = {}
    data['appraisal_id'] = {{ appraisal.id }}
    data['real_estate_id'] = btn.closest(".real_estate").data("id")
    data['terrain_id'] = btn.closest(".table_selected_terrains").data("id")
    data['building_id'] = btn.closest(".table_selected_buildings").data("id")
    data['apartment_building_id'] = btn.closest(".table_selected_buildings").data("apartment_building_id")
    data['apartment_id'] = btn.closest(".table_selected_buildings").data("apartment_id")
    data['house_id'] = btn.closest(".table_selected_buildings").data("house_id")
    return data
  }

  function set_table_actions() {

    $('.btn_similar_add_terrain_modal').unbind()
    $('.btn_similar_add_terrain_modal').off()
    $(".btn_similar_add_terrain_modal").on("click", function() {
      event.preventDefault()
      data = getData($(this))
      url = "{% url 'ajax_add_property_similar_modal_url' %}"
      $.ajax({
        url: url,
        type: 'get',
        data: data,
        error: function () {
            alert("Error al cargar modal para agregar una propiedad.");
            return false;
        },
        success: function (ret) {
          $("#modal_add_property_similar").html($.trim(ret));
          $("#modal_add_property_similar").modal("show")
          $("#form_add_property_similar").data(data)
          set_modal_actions()
        }
      });
    })

    $('.btn_edit_selected_property_modal').unbind()
    $('.btn_edit_selected_property_modal').off()
    $(".btn_edit_selected_property_modal").on("click", function() {
      event.preventDefault()
      data = getData($(this))
      data['property_selected_id'] = $(this).val()
      url = "{% url 'ajax_edit_property_similar_modal_url' %}"
      $.ajax({
        url: url,
        type: 'get',
        data: data,
        error: function () {
            alert("Error al cargar modal para agregar una propiedad.");
            return false;
        },
        success: function (ret) {
          $("#modal_add_property_similar").html($.trim(ret));
          $("#modal_add_property_similar").modal("show")
          $("#form_add_property_similar").data(data)
          set_modal_actions()
        }
      });
    })

    $('.btn_remove_selected_property').unbind()
    $('.btn_remove_selected_property').off()
    $('.btn_remove_selected_property').click(function() {
      event.preventDefault()
      data = getData($(this))
      data['property_selected_id'] = $(this).val()
      url = "{% url 'ajax_remove_property_similar_url' %}"
      $.ajax({
        url: url,
        type: 'get',
        data: data,
        error: function () {
            alert("Error al remover propiedad.");
            return false;
        },
        success: function (ret) {
          if (data.terrain_id) {
            $("#terrain_"+data.terrain_id).html($.trim(ret));
          }
          if (data.building_id) {
            $("#building_"+data.building_id).html($.trim(ret));
          }
          set_modal_actions()
          set_table_actions()
          tablesSelectedCompute()
        }
      });
    });

  }

  $("#form_add_property_similar").validate(validation_config)

  function set_modal_actions() {

    $("#btn_add_property_similar").unbind()
    $("#btn_add_property_similar").off()
    $("#btn_add_property_similar").on("click", function() {
      event.preventDefault()
      url = "{% url 'ajax_add_property_similar_url' %}"
      form = $("#form_add_property_similar")
      data = join_data(form,form)
      $.ajax({
        url: url,
        type: 'post',
        data: $.param(data),
        error: function () {
            alert("Error al agregar o editar propiedad.");
            return false;
        },
        success: function (ret) {
          data = data.reduce(function(map,obj) { map[obj.name] = obj.value; return map}, {});
          if (data.terrain_id) {
            $("#terrain_"+data.terrain_id).html($.trim(ret));
          }
          if (data.building_id) {
            $("#building_"+data.building_id).html($.trim(ret));
          }
          $("#modal_add_property_similar").modal("hide")
          set_modal_actions()
          set_table_actions()
          tablesSelectedCompute()
        }
      });
    })

  }
</script>