<div class="mr-4 ml-4 mb-3">
  <div class="row">
    <div class="col">
      <h5 style="margin:0em;">Resumen</h5>
    </div>
    <div class="col text-right">
      <a class="btn" style="font-family:Material Icons;font-size:1em;margin-top:-1.0em;margin-bottom:-1.0em;" data-toggle="collapse" href="#recommendedValue" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
      more_vert
      </a>
    </div>
  </div>
  <div id="recommendedValue" class="collapse show mt-4 mr-4 ml-4" aria-labelledby="heading">
    <table id="table_resumen" class="table table-sm mb-0 border-left border-right">
      <thead class="thead" style="background: #eee;">
        <tr>
          <th scope="col"></th>
          <th scope="col" style="width:10em;"></th>
          <th scope="col" style="width:7em;"></th>
          <th scope="col" style="text-align:center;width:10em;">U.F.</th>
          <th scope="col" style="text-align:center;width:10em;">$</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="col"></td>
          <td scope="col" style="vertical-align: middle;">Valor comercial</td>
          <td scope="col"></td>
          <td scope="col">{{forms.appraisal.valorUF}}</td>
          <td scope="col"><input id="in_value_market" class="form-control form-control-sm text-right" disabled></td>
          <td scope="col"></td>
        </tr>
        <tr>
          <td scope="col"></td>
          <td scope="col" style="vertical-align: middle;">Valor liquidez</td>
          {% if not appraisal.finished %}
          <td scope="col"><input id="liquidity" class="form-control form-control-sm text-right" type="text" value="0.75"></td>
          {% else %}
          <td scope="col"><input id="liquidity" class="form-control form-control-sm text-right" type="text" value="0.75" disabled></td>
          {% endif %}
          <td scope="col"><input id="in_value_liquid_UF" class="form-control form-control-sm text-right" disabled></td>
          <td scope="col"><input id="in_value_liquid" class="form-control form-control-sm text-right" disabled></td>
          <td scope="col"></td>
        </tr>
        <tr class="border-bottom">
          <td scope="col"></td>
          <td scope="col" style="vertical-align: middle;">Monto seguro</td>
          <td scope="col"></td>
          <td scope="col"><input id="in_value_safe_UF" class="form-control form-control-sm text-right" disabled></td>
          <td scope="col"><input id="in_value_safe" class="form-control form-control-sm text-right" disabled></td>
          <td scope="col"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>