{% extends "base/index.html" %}
{% load static %}
{% block head %}
        <link rel="stylesheet" href="{% static 'list/css/main.css' %}">
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyDgwKrK7tfcd9kCtS9RKSBsM5wYkTuuc7E&libraries=places"></script>
        <script src="{% static 'home/js/google-maps-autocomplete.js' %}"></script>
{% endblock %}

{% block content %}

{% include "list/appraisals.html" %}

{% endblock %}
