{% extends 'list/base.html' %}

{% block content %}

<div class="card" style="width:500px;margin-left:auto;margin-right:auto;">
<div class="card-body">

    {% if validlink %}
        <div class="alert alert-info">Ingrese y confirme su nueva contraseña.</div>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva Contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar Contraseña" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Error en generación de nueva contraseña</h1>
        <p>El link ya ha sido utilizado, pruebe de nuevo desde el principio.</p>
    {% endif %}

</div>
</div>

{% endblock %}