{% extends 'list/base.html' %}

{% block content %}

<div class="card" style="width:400px;margin-left:auto;margin-right:auto;">
<div class="card-body">

<div class="alert alert-info">
<p style="text-align:left"> Para recuperar su contraseña, por favor introduzca el correo electrónico que utilizó para registrarse. </p>
</div>

<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <label>Email</label>
    {{ form.email }}
    </br>
    <input type="submit" class="btn btn-dark btn-block" value="Resetear contraseña" />
</form>

</div>
</div>

{% endblock %}