{% extends 'list/base.html' %}
{% load static %}

{% block head %}
<title>Perfil</title>

        <script>
          function timeCreated(string) {
            var s = moment(string).format("D MMM HH:MM");
            document.write(s)
          }
        </script>

        <script>
          function timeLeft(string) {
            var m = moment(string);
            document.write(m.fromNow());
          }
        </script>

{% endblock %}

{% block content %}

    <div class="row mb-4">
        <div class="col">
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ userprofile.first_name }} {{ userprofile.last_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ userprofile.user }}</h6>
                    {{ userprofile.badge | safe }}
                    <p class="pt-4"><span style="font-family: Material Icons;font-size:1.2em;vertical-align: middle;">mail_outline</span> {{ userprofile.email }}</p>
                    {% if userprofile.has_address %}
                    <p class="pt-0"><span style="font-family: Material Icons;font-size:1.2em;vertical-align: middle;">location_on</span>{{ userprofile.address }}</p>
                    {% endif %}

                    <button onclick="location.href='{% url 'user:profile_edit' %}'" type="button" id="button_delete" class="btn btn-dark btn-sm btn-block">
                        Editar Perfil
                    </button>
                    <a class="btn btn-dark btn-sm btn-block" href="/user/password_change/">Cambiar Contraseña</a>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
        <!--
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    {% include "appraiser_list.html" %}
                </div>
            </div>
        </div>
        -->

    </div>



{% endblock %}




