{% extends 'main/base.html' %}

{% block head %}
<title>Perfil</title>
{% endblock %}

{% block content %}

<div class="container">

    <p>Usuario:   {{ userprofile.user }}</p>
    <p>Nombre: {{ userprofile.first_name }}</p>
    <p>Apellido:  {{ userprofile.last_name }}</p>
    <p>Email:  {{ userpeofile.email }}</p>
    <p>Calle: {{ userprofile.addressStreet }}</p>
    <p>Región: {{ userprofile.addressRegion }}</p>
    <p>Comuna: {{ userprofile.addressCommune }}</p>
    <button onclick="location.href='{% url 'user:profile_edit' %}'" type="button" id="button_delete" class="btn btn-dark btn-sm">
          Editar Perfil
    </button>
</div>
{% endblock %}
