<script>

  var UF_IN_PESOS = 0.0;

  function pesosFormat(number) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{maximumFractionDigits:0});
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{maximumFractionDigits:0});
    }
  }

  function UFFormat(number) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{maximumFractionDigits:1,minimumFractionDigits:1}); 
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{maximumFractionDigits:1,minimumFractionDigits:1}); 
    }
  }

  function percentFormat(number) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{style:'percent',maximumFractionDigits:1}); 
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{style:'percent',maximumFractionDigits:1}); 
    }
  }

  function areaFormat(number) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{maximumFractionDigits:1,minimumFractionDigits:1}); 
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{maximumFractionDigits:1,minimumFractionDigits:1}); 
    }
  }

  function floatFormat(number,c=1) {
    if (isNaN(number)) return '-'
    if (typeof number === 'string') {
      number = number.trim()
      if (number.length > 0) {
        if (isNaN(parseFloat(number))) return '-'
        return parseFloat(number).toLocaleString('es',{maximumFractionDigits:c,minimumFractionDigits:c}); 
      } else {
        return '-'
      }
    } else {
      return number.toLocaleString('es',{maximumFractionDigits:c ,minimumFractionDigits:c}); 
    }
  }

  function parseFloatEs(string) {
    string = string.replace(/[.]+/g,'')
    string = string.replace(/[,]+/g,'.')
    return parseFloat(string)
  }

</script>

<div id="value_comparable">
  {% include "appraisal/value/comparable/index.html" %}
<hr/>

{% include "appraisal/value/map.html" %}
<hr/>

{% include "appraisal/value/assets.html" %}
<hr/>

{% include "appraisal/value/rent.html" %}
<hr/>

{% include "appraisal/value/summary.html" %}
</div>

<script>

  function mainValuesUnformat() {
    $("#id_valorUF").val(function() {
      return parseFloatEs($(this).val());
    })
    $("#in_value_market").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#in_value_liquid_UF").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#in_value_liquid").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#in_value_safe_UF").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#in_value_safe").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#liquidity").val(function() {
      return parseFloatEs($(this).val());
    });
  }

  function mainValuesFormat() {
    $("#id_valorUF").val(function() {
      return UFFormat($(this).val());
    });
    $("#in_value_market").val(function() {
      return pesosFormat($(this).val());
    });
    $("#in_value_liquid_UF").val(function() {
      return UFFormat($(this).val());
    });
    $("#in_value_liquid").val(function() {
      return pesosFormat($(this).val());
    });
    $("#in_value_safe_UF").val(function() {
      return UFFormat($(this).val());
    });
    $("#in_value_safe").val(function() {
      return pesosFormat($(this).val());
    });
    $("#liquidity").val(function() {
      return floatFormat($(this).val(),c=2);
    });
  }

  function mainValuesCompute() {
    // Main valuation prices
    var valorUF = parseFloat($("#id_valorUF").val());
    var liquidez = parseFloat($("#liquidity").val());
    var seguroUF = parseFloat($("#id_totalSeguroUF").text());
    if (!isNaN(valorUF)) {
      $("liquidity").val(liquidez)
      $("#id_valorUF").val(valorUF);
      $("#in_value_market").val(valorUF*UF_IN_PESOS);
      $("#in_value_liquid_UF").val(valorUF*liquidez);
      $("#in_value_liquid").val(valorUF*liquidez*UF_IN_PESOS);
    } else {
      $("#in_value_market").val('');
      $("#in_value_liquid_UF").val('');
      $("#in_value_liquid").val('');
      $("#in_value_safe_UF").val('');
      $("#in_value_safe").val('');
    }

    // Value seguro is taken from valuation of assets total
    var seguroUF = parseFloatEs($("#id_totalSeguroUF").text());
    if (!isNaN(seguroUF)) {
      $("#in_value_safe_UF").val(seguroUF);
      $("#in_value_safe").val(seguroUF*UF_IN_PESOS);
    } else {
      $("#in_value_safe_UF").val('');
      $("#in_value_safe").val('');
    }
    

  }

  function rentValuesUnformat() {
    $("#id_value_rent_month").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#id_value_rent_year").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#id_value_rent_per_area").val(function() {
      return parseFloatEs($(this).val());
    });
    $("#id_value_rent").val(function() {
      return parseFloatEs($(this).val());
    });
  }

  function rentValuesCompute() {
    // Rent prices
    var valorUF = parseFloat($("#id_valorUF").val());
    var months = 11
    var rate = 0.06
    var area = 10.0
    $("#id_value_rent_months").val(months)
    $("#id_value_rent_rate").val(rate)
    if (!isNaN(valorUF)) {
      $("#id_value_rent_month").val(valorUF*0.005)
      var value_rent_month = valorUF*0.005
      $("#id_value_rent_year").val(value_rent_month*months)
      $("#id_value_rent_per_area").val(rate*area)
      $("#id_value_rent").val(value_rent_month*months/rate)
    } else {
      $("#id_value_rent_month").val('');
      $("#id_value_rent_year").val('');
      $("#id_value_rent_per_area").val('');
      $("#id_value_rent").val('');
    }
  }

  function rentValuesFormat() {
    $("#id_value_rent_month").val(function() {
      return UFFormat($(this).val());
    });
    $("#id_value_rent_year").val(function() {
      return UFFormat($(this).val());
    });
    $("#id_value_rent_per_area").val(function() {
      return floatFormat($(this).val());
    });
    $("#id_value_rent").val(function() {
      return UFFormat($(this).val());
    });
  }

  function update() {
    // Order of these functions is crucial.
    // First we need to unformat everything, so we can
    // compute (and some values are used in more than 
    // one function), and then reformat.
    mainValuesUnformat();
    rentValuesUnformat();
    selectedRealEstateTableUnformat();

    mainValuesCompute();
    rentValuesCompute();
    selectedRealEstateTableCompute();

    mainValuesFormat();
    rentValuesFormat();
    selectedRealEstateTableFormat();
  }

  $("#id_valorUF").change(function () {
    update();
  });

  $("#liquidity").change(function () {
    update();
  });


  //-----------------------------------------------------------------------


  function selectedRealEstateTableUnformat() {
    // Remove spanish format of all real estate tables.
    $('#table_selected_real_estate tr').each(function() {
      if (!$(this).hasClass('sre')) return
      $(this).find("[class$=area_1]").html(function() {
        return parseFloatEs($(this).html())
      })
      $(this).find("[class$=area_2]").html(function() {
        return parseFloatEs($(this).html())
      })
      $(this).find("[class$=market_price]").html(function() {
        return parseFloatEs($(this).html())
      })
      /*
      if ({{realestate.is_apartment}}) {
        $(this).find('[class$=market_price_per_useful_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
      } else if ({{realestate.is_house}}) {
        $(this).find('[class$=market_price_per_built_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
      }
      */
      $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
        return parseFloatEs($(this).html())
      })
    });

    $('#table_references_real_estate tr').each(function() {
      $(this).find('[class$=market_price]').html(function() {
        return parseFloatEs($(this).html())
      });
      $(this).find('[class$=area_1]').html(function() {
        return parseFloatEs($(this).html())
      });
      $(this).find('[class$=area_2]').html(function() {
        return parseFloatEs($(this).html())
      });
      /*
      if ({{realestate.is_apartment}}) {
        $(this).find('[class$=market_price_per_useful_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
        $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        });
      } else if ({{realestate.is_house}}) {
        $(this).find('[class$=market_price_per_built_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
        $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
          return parseFloatEs($(this).html())
        })
      }
      */
    });
  }

  function selectedRealEstateTableFormat() {
    // Format numbers of tables in spanish, dots for thousands and coma for decimals.
    $('#table_selected_real_estate tr').each(function() {
      if (!$(this).hasClass('sre')) return
      $(this).find("[class$=area_1]").html(function() {
        return areaFormat($(this).html())
      })
      $(this).find("[class$=area_2]").html(function() {
        return areaFormat($(this).html())
      })
      $(this).find("[class$=market_price]").html(function() {
        return UFFormat($(this).html())
      })
      /*
      if ({{realestate.is_apartment}}) {
        $(this).find("[class$=market_price_per_useful_square_meters]").html(function() {
          return UFFormat($(this).html())
        })
      } else if ({{realestate.is_house}}) {
        $(this).find("[class$=market_price_per_built_square_meters]").html(function() {
          return UFFormat($(this).html())
        })
      }
      */
      $(this).find("[class$=market_price_per_total_square_meters]").html(function() {
        return UFFormat($(this).html())
      })
    });

    $('#table_references_real_estate tr').each(function() {
      $(this).find('[class$=market_price]').html(function() {
        return UFFormat($(this).html())
      });
      $(this).find('[class$=area_1]').html(function() {
        return areaFormat($(this).html())
      });
      $(this).find('[class$=area_2]').html(function() {
        return areaFormat($(this).html())
      });
      /*
      if ({{realestate.is_apartment}}) {
        $(this).find('[class$=market_price_per_useful_square_meters]').html(function() {
          return floatFormat($(this).html())
        })
        $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
          return floatFormat($(this).html())
        });
      } else if ({{realestate.is_house}}) {
        $(this).find('[class$=market_price_per_built_square_meters]').html(function() {
          return floatFormat($(this).html())
        })
        $(this).find('[class$=market_price_per_total_square_meters]').html(function() {
          return floatFormat($(this).html())
        })
      }
      */
    });

    $('#vreUsefulSquareMetersAvg').text(function() {
      return floatFormat($(this).text())
    })
    $('#vreTerraceSquareMetersAvg').text(function() {
      return floatFormat($(this).text())
    })
    $('#vreMarketPriceAvg').text(function() {
      return floatFormat($(this).text())
    })
    $('#vreMarketPricePerUsefulSquareMetersAvg').text(function() {
      return floatFormat($(this).text())
    })
    $('#vreMarketPricePerTotalSquareMetersAvg').text(function() {
      return floatFormat($(this).text())
    })
  }

  function tablesSelectedCompute() {

    // Update valuation price in rows of tables of current real estate
    var valorUF = parseFloat($("#id_valorUF").val());
    if (isNaN(valorUF)) {
      $(".td_c_market_price").text('-')
    } else {
      $(".td_c_market_price").text(valorUF)
    }
    /*
    if ({{realestate.is_house}}) {
      var builtSquareMeters = {{realestate.house.builtSquareMeters|default:0}}
      var totalSquareMeters = 0.0//{{realestate.total_area}}
      $(".td_c_market_price_per_built_square_meters").text((valorUF/builtSquareMeters).toFixed(2))
      $(".td_c_market_price_per_total_square_meters").text((valorUF/totalSquareMeters).toFixed(2))
    } else if ({{realestate.is_apartment}}) {
      var usefulSquareMeters = {{realestate.apartment.usefulSquareMeters|default:0}}
      var totalSquareMeters = 0.0//{{realestate.total_area}}
      $(".td_c_market_price_per_useful_square_meters").text((valorUF/usefulSquareMeters).toFixed(2))
      $(".td_c_market_price_per_total_square_meters").text((valorUF/totalSquareMeters).toFixed(2))
    }
    */

    // Compute totals and averages
    $('[class*="table_selected_"]').each(function() {
      sum = {}
      $(this).find('.tr_selected').each(function() {
        $(this).find('.value').each(function() {
          sum[$(this).attr('name')] = 0.0
        })
      })
      $(this).find('.tr_selected').each(function() {
        $(this).find('.value').each(function() {
          sum[$(this).attr('name')] += parseFloat($(this).text())
        })
      })
      for (var key in sum) {
        $(this).find('.tr_averages').find(".td_"+key).text(sum[key]) 
      }
    })
      /*
      if ({{realestate.is_apartment}}) {
        tmp = parseFloat($(this).find(".td_sre_area_1").text());
        if (!isNaN(tmp)) {
          sumUsefulSquareMeters += tmp;
          c += 1
        }
        tmp = parseFloat($(this).find(".td_sre_area_2").text());
        if (!isNaN(tmp)) {
          sumTerraceSquareMeters += tmp
        }
        tmp = parseFloat($(this).find(".td_sre_market_price").text());
        if (!isNaN(tmp)) {
          sumMarketPrice += tmp
        }
      } else if ({{realestate.is_house}}) {
        tmp = parseFloat($(this).find(".td_sre_area_1").text());
        if (!isNaN(tmp)) {
          sumUsefulSquareMeters += tmp
          c += 1
        }
        tmp = parseFloat($(this).find(".td_sre_area_2").text());
        if (!isNaN(tmp)) {
          sumTerraceSquareMeters += tmp
        }
        tmp = parseFloat($(this).find(".td_sre_market_price").text());
        if (!isNaN(tmp)) {
          sumMarketPrice += tmp
        }
      }
      */
  }

  function remove(val) {
    /*
    Remove the row from the valuation list.
    Add the button to add row in MarketList, if it is there.
    */
    row_valuation = $('#trValuationRealEstate_'+val);
    if (row_valuation.hasClass('just-added')) {
      row_valuation.remove();
      row_market = $('#trMarketRealEstate_'+val);
      row_market.find('.btn').show();
      row_market.removeClass('table-success');
    } else {
      row_valuation.find('#in_valuationRealEstateRemove').attr('value',1)
      row_valuation.toggle();
    }

    update();
  }

  $(document).ready(function() {
      
      var propertyType = {{realestate.propertyType}}
      $("#id_vc-propertyType").val(propertyType);

      mainValuesCompute();
      mainValuesFormat();
      rentValuesCompute();
      rentValuesFormat();
      tablesSelectedCompute();
      selectedRealEstateTableFormat();

      $('.add').click(function() {
        var rid = $(this).val();
        var row = $(this).closest('tr');
        row.addClass('table-success');
        
        // Create row to be added to valuation real estate list
        var newRow = row.clone();
        var rowCount = $('#table_selected_real_estate tr').length-4+1; // minus heading and current, +1 for count
        var btn = newRow.find('.add')
        btn.removeClass('add')
        btn.addClass('remove')
        btn.empty()
        btn.append('<i class="material-icons">delete</i>')
        btn.attr("value",rid)
        // Input, needed when saving
        var hiddenInput1 = '<input name="valuationRealEstateRow" type="hidden" value="'+rid+'">'
        var hiddenInput2 = '<input name="valuationRealEstateRemove" type="hidden" value="0">'
        $('#table_selected_real_estate > tbody > tr').eq(rowCount-1).after('<tr id="trValuationRealEstate_'+rid+'">'+
          hiddenInput1+
          hiddenInput2+
          newRow.html()+'</tr>');
        // Add event handler to button created in new row
        $("#trValuationRealEstate_"+rid).find('.remove').click(function(){
          var rid = $(this).val();
          remove(rid);
        })
        $("#trValuationRealEstate_"+rid).addClass('just-added')

        // Modify clicked row to remove the add button
        btn = row.find('.btn')
        btn.hide()
        
      });

      $.getJSON('https://api.sbif.cl/api-sbifv3/recursos_api/uf?apikey=ca60e6e20f4a758b5b29f584fe78eeaf5980cf75&formato=json', 
        function(data) {
          UF_IN_PESOS = parseFloatEs(data.UFs[0].Valor)
          mainValuesUnformat();
          mainValuesCompute();
          mainValuesFormat();
          assetsTableUpdateRows();
          assetsTableComputeTotals();
        }).fail(function() {
          //
        });
    });
</script>

