{% load static %}

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Seleccione un tasador</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form action="" method="post" id="form_assign_tasador" data-commune-url="{% url 'ajax_load_communes' %}">
        {% csrf_token %}
        
        <div class="alert alert-secondary">
          Al momento de asignar un tasador, éste será notificado por correo electrónico. El tasador luego deberá aceptar la solicitud.
        </div>
        
        <div class="alert alert-primary text-center div-loading" id="ld-alert">
          Cargando tasadores
        </div>

        <div id="tasadores">
        </div>

        <div class="alert alert-warning" id="alert" style="display:none;">
          <p id="alert_message" style="margin-bottom:0em;"></p>
        </div>

        <div class="modal-footer">
          <input id="modal_assign_tasador_appraisal_id" name="appraisal_id" type="hidden" value="">
          {% if appraisal.tasadorUser %}
          <button type="button" id="btn_unassign_tasador" class="btn btn-danger mr-5">
            Desasignar
          </button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancelar
          </button>
          <button type="button" id="btn_assign_tasador" class="btn btn-primary ld-ext-right">
            Asignar
            <div class="ld ld-ring ld-spin"></div>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<script src="{% static 'list/js/modal_assign_tasador.js' %}" type="text/javascript">