<form action="" method="post" id="form_add_address">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar dirección</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <input type="hidden" id="in_appraisal_id" name="appraisal_id" value="{{appraisal.id}}">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_add_address.addressRegion.label_tag}}
              {{form_add_address.addressRegion}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_add_address.addressCommune.label_tag}}
              {{form_add_address.addressCommune}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_add_address.addressStreet.label_tag}}
              {{form_add_address.addressStreet}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{form_add_address.addressNumber.label_tag}}
              {{form_add_address.addressNumber}}
            </div>
          </div>
        </div>
        <div class="alert alert-warning" id="add_address_alert" style="display:none;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button name="btn_export" class="btn btn-primary ld-ext-right" id="btn_add_address">
          Agregar
          <div class="ld ld-ring ld-spin"></div>
        </button>
      </div>
    </div>
  </div>
</form>

<script>
  validation_config =  {
    rules: {
      "addressRegion": "required",
      "addressCommune": "required",
      "addressStreet": "required",
      "addressNumber": "required"
    },
    messages: {
      "addressRegion": "Campo requerido",
      "addressCommune": "Campo requerido",
      "addressStreet": "Campo requerido",
      "addressNumber": "Campo requerido"
    }
  }
  $("#form_add_address").validate(validation_config);
</script>
