<div class="col-2">
	<div class="form-group">
		{{forms.apartment.bedrooms.label_tag}}
		{{forms.apartment.bedrooms}}
	</div>
</div>
<div class="col-2">
	<div class="form-group">
		{{forms.apartment.bathrooms.label_tag}}
		{{forms.apartment.bathrooms}}
	</div>
</div>
<div class="col-2">
	<div class="form-group">
		{{forms.apartment.floor.label_tag}}
		{{forms.apartment.floor}}
	</div>
</div>
<div class="col-2">
	<div class="form-group">
		{{forms.apartment.orientation.label_tag}}
		{{forms.apartment.orientation}}
	</div>
</div>