<div class="row">
<div class="col-2">
  <p class="text-right">{{forms.apartment.generalDescription.label_tag}}</p>
</div>
<div class="col-6">
  <div class="form-group">
    {{forms.apartment.generalDescription}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
  <p class="text-right">{{forms.apartment.programa.label_tag}}</p>
</div>
<div class="col-6">
  <div class="form-group">
    {{forms.apartment.programa}}
  </div>
</div>
</div>

<div class="row">
<div class="col-2">
  <p class="text-right">{{forms.apartment.estructuraTerminaciones.label_tag}}</p>
</div>
<div class="col-6">
  <div class="form-group">
    {{forms.apartment.estructuraTerminaciones}}
  </div>
</div>
</div>