{% load static %}

<script>
  comment_class = {{comment_class|safe}}
  ajax_logbook_url = "{% url 'ajax_logbook_url' %}"
  ajax_assign_tasador_modal_url = "{% url 'ajax_assign_tasador_modal_url' %}";
  ajax_assign_visador_modal_url = "{% url 'ajax_assign_visador_modal_url' %}";
  ajax_assign_tasador_url = "{% url 'ajax_assign_tasador_url' %}";
  ajax_unassign_tasador_url = "{% url 'ajax_unassign_tasador_url' %}";
  ajax_assign_visador_url = "{% url 'ajax_assign_visador_url' %}";
  ajax_unassign_visador_url = "{% url 'ajax_unassign_visador_url' %}";
  ajax_accept_appraisal_url = "{% url 'ajax_accept_appraisal_url' %}";
  ajax_reject_appraisal_url = "{% url 'ajax_reject_appraisal_url' %}";
  ajax_validate_cliente_url = "{% url 'ajax_validate_cliente_url' %}"
  ajax_enviar_a_visador_url = "{% url 'ajax_enviar_a_visador_url' %}"
  ajax_devolver_a_tasador_url = "{% url 'ajax_devolver_a_tasador_url' %}"
  ajax_enviar_a_cliente_url = "{% url 'ajax_enviar_a_cliente_url' %}"
  ajax_devolver_a_visador_url = "{% url 'ajax_devolver_a_visador_url' %}"
  ajax_solve_conflict_url = "{% url 'ajax_solve_conflict_url' %}"
  ajax_upload_report_url = "{% url 'ajax_upload_report_url' %}"
  ajax_mark_as_returned_url = "{% url 'ajax_mark_as_returned_url' %}"
  ajax_get_appraisal_row_url = "{% url 'ajax_get_appraisal_row_url' %}"
  ajax_logbook_close_url = "{% url 'ajax_logbook_close_url' %}"
  ajax_appraisal_expenses_modal_url = "{% url 'ajax_appraisal_expenses_modal_url' %}"
  ajax_save_expenses_url = "{% url 'ajax_save_expenses_url' %}"
  ajax_edit_address_modal_url = "{% url 'ajax_edit_address_modal_url' %}"
  ajax_edit_address_url = "{% url 'ajax_edit_address_url' %}"
</script>

{% load custom_tags %}

{% for item in appraisals %}
  {% for group in groups %}
  {% if group in item.groups or user.is_superuser %}
    {% with item=item table=item.id %}
      {% include "list/appraisals_card.html" %}
    {% endwith %}
  {% endif %}
  {% endfor %}
{% endfor %}

<script src="{% static 'list/js/tools.js' %}" type="text/javascript"></script>

<script src="{% static 'list/js/search.js' %}" type="text/javascript"></script>

<script src="{% static 'logbook/js/logbook.js' %}" type="text/javascript"></script>

<script src="{% static 'list/js/table.js' %}" type="text/javascript"></script>

<script>

  function unvalidate_cliente(appraisal_id) {
    var url = "{% url 'ajax_unvalidate_cliente_url' %}"
    $.ajax({
      url: url,
      type: 'get',
      data: {'appraisal_id':appraisal_id},
      error: function () {
        alert("Error al desvalidar cliente/contacto.");
        return false;
      },
      success: function (ret) {
        return true;
      },
    })
  }

  $(document).ready(function($) {
    assignTableActions()
  });

  // Handles the click true/false value of the appraisal evaluation form
  $('#modal_evaluate').on('hidden.bs.modal', function (e) {
    // When the evaluation modal is closed, we replace the button to be colored.
    var appraisal_id = $("#in_appraisal_id").val();
    var url = "{% url 'ajax_evaluate_modal_close_url' %}";
    var form = $('#evaluate_form')
    $.ajax({
      url: url,
      type: 'post',
      data: form.serialize(),
      error: function () {
        alert("Error al cerrar la bitacora.");
        return false;
      },
      success: function (data) {
        replaceRow('table_sent',appraisal_id,data)
        assignTableActions()
      }
    });
    return false;
  })

  $('#evaluateAppraisal input').on('click',function(){
    var id = $(this).val();
    if (id == 'False') {
      $(this).val('True');
    } else {
      $(this).val('False');
    }
  });
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>