<td>
  <small><span class="id">{{ appraisal.id }}</span></small>
</td>
<td>
  <span class="solicitante">{{ appraisal.solicitanteVerboseShort }}</span>
</td>
<td>
  <small><span class="solicitanteCodigo">{{ appraisal.solicitanteCodigo }}</span></small>
</td>
<td class="propertyType" style="text-align:center;">
  {% include 'list/td_property_type_icon.html' %}
</td>
<td class="address">
  <a href="{{appraisal.url}}">
    {{ appraisal.address_no_region }}
  </a>
</td>
<td>
  {% include 'list/td_tasador_name.html' %}
</td>
<td class="dateFinished">
  {{appraisal.timeFinished | date:"d/m/Y G:i" }}
</td>
<td style="text-align:right;">
  {% with table="active" %}
    {% include 'list/btn_logbook.html' %}
  {% endwith %}
  {% if perms.user.evaluate %}
    {% include 'list/btn_evaluate.html' %}
  {% endif %}
  {% if user.is_superuser or "asignador" in groups %}
    {% with class="btn_archive_appraisal_modal" %}
      {% include 'list/btn_archive.html' %}
    {% endwith %}
  {% endif %}
</td>