<td class="search">
  <input class="form-control form-control-sm search" data-field="id" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="solicitante" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="solicitanteCodigo" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="propertyType" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="address" placeholder=""></input>
</td>
<td class="search">
  <input class="form-control form-control-sm search" data-field="tasadorUser" placeholder=""></input>
</td>
{% if state != 4 %}
<td class="search">
  <input class="form-control form-control-sm search" data-field="visadorUser" placeholder=""></input>
</td>
{% endif %}
{% if state != 4 %}
<td class="search">	
	<input class="form-control form-control-sm search" data-field="dateCreated" placeholder=""></input>
</td>
{% endif %}
<td class="search">
	{% if state != 4 %}
	<input class="form-control form-control-sm search" data-field="dateDue" placeholder=""></input>
	{% else %}
	<input class="form-control form-control-sm search" data-field="dateFinished" placeholder=""></input>
	{% endif %}
</td>
<td>
</td>