<td>
  <small><span class="id">{{ appraisal.id }}</span></small>
</td>
<td>
  <span class="solicitante">{{ appraisal.solicitanteVerboseShort }}</span>
</td>
<td>
  <small><span class="solicitanteCodigo">{{ appraisal.solicitanteCodigo }}</span></small>
</td>
<td class="propertyType" style="text-align:center;">
  {% include 'list/td_property_type_icon.html' %}
</td>
<td class="address">
  {% include 'list/td_address.html' %}
</td>
<td>
  {% include 'list/td_visador_name.html' %}
</td>
<td>
  {% include 'list/td_tasador_name.html' %}
</td>
{% include 'list/appraisals_table_td_date_created.html' %}
<td class="dateDue">
{% if appraisal.daysLeft > 3 %}
  <p style="margin-bottom:0em;" class="font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
{% elif appraisal.daysLeft > 1 %}
  <p style="margin-bottom:0em;" class="text-warning font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
{% else %}
  <p style="margin-bottom:0em;" class="text-danger font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
{% endif %}
</td>
<td style="text-align:right;">
  {% with table="returned" %}
    {% include 'list/btn_logbook.html' %}
  {% endwith %}
</td>