{% load static %}

<script src="{% static "list/js/modal_assign_tasador.js" %}" type="text/javascript"></script>
<script src="{% static "list/js/modal_assign_visador.js" %}" type="text/javascript"></script>
<script>
  comment_class = {{comment_class|safe}}
  ajax_assign_tasador_modal_url = "{% url 'ajax_assign_tasador_modal_url' %}";
  ajax_assign_visador_modal_url = "{% url 'ajax_assign_visador_modal_url' %}";
  ajax_assign_tasador_url = "{% url 'ajax_assign_tasador_url' %}";
  ajax_assign_visador_url = "{% url 'ajax_assign_visador_url' %}";
  ajax_accept_appraisal_url = "{% url 'ajax_accept_appraisal_url' %}";
  ajax_reject_appraisal_url = "{% url 'ajax_reject_appraisal_url' %}";
  ajax_validate_cliente_url = "{% url 'ajax_validate_cliente_url' %}"
  ajax_enviar_a_visador_url = "{% url 'ajax_enviar_a_visador_url' %}"
  ajax_devolver_a_tasador_url = "{% url 'ajax_devolver_a_tasador_url' %}"
  ajax_enviar_a_cliente_url = "{% url 'ajax_enviar_a_cliente_url' %}"
  ajax_devolver_a_visador_url = "{% url 'ajax_devolver_a_visador_url' %}"
  ajax_solve_conflict_url = "{% url 'ajax_solve_conflict_url' %}"
  ajax_upload_report_url = "{% url 'ajax_upload_report_url' %}"
  ajax_mark_as_returned_url = "{% url 'ajax_mark_as_returned_url' %}"
  ajax_get_appraisal_row_url = "{% url 'ajax_get_appraisal_row_url' %}"
</script>

{% load custom_tags %}

<div class="container" style="max-width:100%">


<!-- RETURNED -->

<div class="card mb-1 border border-danger" id="div_returned" style="display:none;">
  <div class="card-body">
    <p class="card-title" style="color:#dc3545">Tasaciones devueltas</p>
    <div class="alert alert-primary" role="alert" id="div_alert_table_returned" style="display: none;">
      No hay tasaciones devueltas
    </div>
    <table class="table table-sm table-borderless" id="table_returned" style="display:none;font-size:0.8em;">
      {% include 'list/appraisals_table_returned.html' %}
    </table>
  </div>
</div>

<!-- NOT ASSIGNED -->

{% if "asignador" in groups or "visador" in groups or user.is_superuser %} 

<div class="card mb-1" id="div_not_assigned">
  <div class="card-body">
    <p class="card-title">Tasaciones por asignar</p>
    <div class="alert alert-primary mb-0" role="alert" id="div_alert_table_not_assigned" style="display:none;">
      No hay tasaciones por asignar
    </div>
    <table class="table table-sm table-borderless table-appraisals" id="table_not_assigned" style="display:none;font-size:0.8em;">
      {% include 'list/appraisals_table_not_assigned.html' %}
    </table>
  </div>
</div>

{% endif %}

<!-- NOT ACCEPTED -->

<div class="card mb-1" id="div_not_accepted">
  <div class="card-body">
    <p class="card-title">Tasaciones por aceptar</p>
    <div class="alert alert-primary mb-0" role="alert" id="div_alert_table_not_accepted" style="display:none;">
      No hay tasaciones por aceptar
    </div>
    <table class="table table-sm table-borderless table-appraisals" id="table_not_accepted" style="display:none;font-size:0.8em;">
      {% include 'list/appraisals_table_not_accepted.html' %}      
    </table>
  </div>
</div>

<!-- IN APPRAISAL -->

<div class="card mb-1" id="div_in_appraisal">
  <div class="card-body">
    <p class="card-title">Tasaciones en proceso</p>
    <div class="alert alert-primary" role="alert" id="div_alert_table_in_appraisal" style="display: none;">
      No hay tasaciones en proceso
    </div>
    <table class="table table-sm table-borderless table-appraisals" id="table_in_appraisal" style="display:none;font-size:0.8em;">
      {% include 'list/appraisals_table_in_appraisal.html' %}
    </table>
  </div>
</div>

<!-- IN REVISION -->

<div class="card mb-1" id="div_in_revision">
  <div class="card-body">
    <p class="card-title">Tasaciones en visación</p>
    <div class="alert alert-primary" role="alert" id="div_alert_table_in_revision" style="display: none;">
      No hay tasaciones en visación
    </div>
    <table class="table table-sm table-borderless table-appraisals" id="table_in_revision" style="display:none;font-size:0.8em;">
      {% include 'list/appraisals_table_in_revision.html' %}
    </table>
  </div>
</div>

<!-- SENT -->

<div class="card mb-4" id="div_sent">
  <div class="card-body">
    <p class="card-title">Tasaciones enviadas</p>
    <div class="alert alert-primary" role="alert" id="div_alert_table_sent" style="display: none;">
      No hay tasaciones enviadas
    </div>
    <table class="table table-sm table-borderless" id="table_sent" style="display:none;font-size:0.8em;">
      {% include 'list/appraisals_table_sent.html' %}
    </table>
  </div>
</div>

{% include "list/modals.html" %}

</div>

<script src="{% static 'list/js/tools.js' %}" type="text/javascript"></script>

<script src="{% static 'list/js/search.js' %}" type="text/javascript"></script>

<script src="{% static 'list/js/logbook.js' %}" type="text/javascript"></script>

<script>

  var unvalidate_cliente = function(appraisal_id) {
    var url = "{% url 'ajax_unvalidate_cliente_url' %}"
    $.ajax({
      url: url,
      type: 'get',
      data: {'appraisal_id':appraisal_id},
      error: function () {
        alert("Error al desvalidar cliente/contacto.");
        return false;
      },
      success: function (ret) {
        return true;
      },
    })
  }

  var assignTableActions = function() {

    $(".btn_logbook").unbind()
    $(".btn_logbook").off()
    $(".btn_logbook").on("click", function (event) {
      // Opens logbook modal, and gets the data of the comments
      // from an AJAX request. Also changes a hidden input to
      // the appraisal id to have at the post request.
      event.preventDefault();
      btn = $(this)
      table = btn.data('table')
      tr = $(this).closest('tr')
      $("#logbook").data('table',table)
      appraisal_id = btn.val(); // button has id of appraisal
      btn_loading(btn)
      // ajax
      var url = $(this).attr("data-logbook-url");
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id,'table':table},
        error: function () {
            alert("Error al abrir la bitacora.");
            return false;
        },
        success: function (data) {
          $('#logbook').find('.modal-body').html($.trim(data));
          $("#in_appraisal_id").val(appraisal_id); // hidden input
          $("input#table_id").attr("value",table);
          tr.removeClass("notification")
          $('#logbook').modal('show');
          if (table == "not_accepted") {
            $('#logbook').find('#div_event').hide()
            $('#logbook').find('#div_comment_btn').hide()
            $('#logbook').find('#div_datetime').hide()
            $('#logbook').find('#div_accept_reject').show()
          }
        },
        complete: function (data) {
          btn_idle(btn)
          assignLogbookModalActions();
          if (table != "not_accepted") {
            $("#id_event").trigger("change")
          }
        }
      });
    });

    $(".btn_archive_appraisal_modal").unbind()
    $(".btn_archive_appraisal_modal").off()
    $(".btn_archive_appraisal_modal").on("click", function (event) {
      // Called on click of delete button in the active table.
      var appraisal_id = $(this).data('appraisal_id');
      var source_table = $(this).closest('table').attr('id');
      $('#modal_archive').find('#appraisal_id').val(appraisal_id);
      $('#modal_archive').find('#source_table').val(source_table);
      $('#modal_archive').modal('show');
    });

    $("#btn_archive_appraisal").unbind()
    $("#btn_archive_appraisal").off()
    $("#btn_archive_appraisal").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var appraisal_id = $(this).closest('#modal_archive').find('#appraisal_id').val();
      var source_table = $(this).closest('#modal_archive').find('#source_table').val();
      var url = "{% url 'ajax_archive_appraisal_url' %}";
      btn = $(this);
      btn_loading(btn);
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
          btn_idle(btn)
          alert("Error al archivar tasación.");
          return false;
        },
        success: function (data) {
          btn_idle(btn)
          $("#modal_archive").modal('hide')
          removeRow(source_table,appraisal_id,data)
        }
      });
    });

    // --------------------------------------------------------------------------------------------
    // Assign functions are called in the 'not_assigned' table, when
    // the corresponding buttons are clicked.
    btn_assign_tasador_modal();
    btn_assign_visador_modal();
    btn_assign_tasador();
    btn_assign_visador();

    $(".visador_radio").on( "click", function() {
      $("#modal_assign_visador").find("#alert_already_chosen").hide()
    })

    // --------------------------------------------------------------------------------------------
    // Unassign functions are available in the 'active' table, to unassign
    // the current tasador or visador, and therefore put back the appraisal
    // in the 'not_assigned' table.

    $(".btn_unassign_tasador_modal").unbind()
    $(".btn_unassign_tasador_modal").off()
    $(".btn_unassign_tasador_modal").on("click", function (event) {
      // Show the modal (via bootsrap), and set the corresponding variable inside the modal
      // to the appraisal id, which is the value of the button clicked.
      var id = $(this).val();
      $('#modal_unassign_tasador_appraisal_id').val(id);
    });

    $(".btn_unassign_visador_modal").unbind()
    $(".btn_unassign_visador_modal").off()
    $(".btn_unassign_visador_modal").on("click", function (event) {
      // Show the modal (via bootsrap), and set the corresponding variable inside the modal
      // to the appraisal id, which is the value of the button clicked.
      var id = $(this).val();
      $('#modal_unassign_visador_appraisal_id').val(id);
    });

    $("#btn_unassign_tasador").unbind()
    $("#btn_unassign_tasador").off()
    $("#btn_unassign_tasador").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var appraisal_id = $('#modal_unassign_tasador_appraisal_id').val();
      var url = "{% url 'ajax_unassign_tasador_url' %}";
      btn = $(this);
      btn.addClass('running');
      btn.prop('disabled', true);
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
            alert("Error al desasignar tasador.");
            btn.removeClass('running');
            btn.prop('disabled', false);
            return false;
        },
        success: function (data) {
          btn.removeClass('running');
          btn.prop('disabled', false);
          removeRow("table_in_appraisal",appraisal_id)
          replaceTable("table_not_assigned",data)
          assignTableActions()
          $("#modal_unassign_tasador").modal('hide')
        }
      });
    });

    $("#btn_unassign_visador").unbind()
    $("#btn_unassign_visador").off()
    $("#btn_unassign_visador").on("click", function (event) {
      // Button clicked in the modal. Call an AJAX to unassign the tasador
      // of the appraisal, and returns the 'not_assigned' table back,
      // to be replaced.
      var btn = $(this)
      var table_id = $('#modal_assign_visador_source_table').val()
      var appraisal_id = $('#modal_assign_visador_appraisal_id').val();
      var url = "{% url 'ajax_unassign_visador_url' %}";
      btn_loading(btn)
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id,'table_id':table_id},
        error: function () {
            btn_idle(btn)
            alert("Error al desasignar visador.");
            return false;
        },
        success: function (data) {
          btn_idle(btn)
          $("#modal_assign_visador").modal('hide')
          replaceRow(table_id,appraisal_id,data)
          assignTableActions()
        }
      });
    });

    $(".btn_evaluate_modal").unbind()
    $(".btn_evaluate_modal").off()
    $(".btn_evaluate_modal").on("click", function (event) {
      // Opens logbook modal, and gets the data of the comments
      // from an AJAX request. Also changes a hidden input to
      // the appraisal id to have at the post request.
      event.preventDefault();
      var btn = $(this)
      var appraisal_id = btn.val(); // button has id of appraisal
      var url = "{% url 'ajax_evaluate_modal_url' %}";
      btn_loading(btn)
      $.ajax({
        url: url,
        type: 'get',
        data: {'appraisal_id':appraisal_id},
        error: function () {
          btn_idle(btn)
          alert("Error al abrir modal de evaluación.");
          return false;
        },
        success: function (data) {
          $('#modal_evaluate').html($.trim(data));
          $("#modal_evaluate").modal('show')
          btn_idle(btn)
        }
      });
    });
  }

  $(document).ready(function($) {

    // Show or hide tables or empty warnings

    appraisals_not_assigned_n = {{appraisals_not_assigned|length}}
    if (appraisals_not_assigned_n > 0) {
      $("#table_not_assigned").toggle()
    } else {
      $("#div_alert_table_not_assigned").show()
    }

    appraisals_not_accepted_n = {{appraisals_not_accepted|length}}
    if (appraisals_not_accepted_n > 0) {
      $("#table_not_accepted").toggle()
    } else {
      $("#div_alert_table_not_accepted").toggle()
    }

    appraisals_in_appraisal_n = {{appraisals_in_appraisal|length}}
    if (appraisals_in_appraisal_n > 0) {
      $("#table_in_appraisal").toggle()
    } else {
      $("#div_alert_table_in_appraisal").toggle()
    }

    appraisals_in_revision_n = {{appraisals_in_revision|length}}
    if (appraisals_in_revision_n > 0) {
      $("#table_in_revision").toggle()
    } else {
      $("#div_alert_table_in_revision").toggle()
    }

    appraisals_sent_n = {{appraisals_sent|length}}
    if (appraisals_sent_n > 0) {
      $("#table_sent").toggle()
    } else {
      $("#div_alert_table_sent").toggle()
    }

    appraisals_imported_n = {{appraisals_imported|length}}
    if (appraisals_imported_n > 0) {
      $("#table_imported").toggle()
    } else {
      $("#div_alert_table_imported").toggle()
    }

    appraisals_returned_n = {{appraisals_returned|length}}
    if (appraisals_returned_n > 0) {
      $("#table_returned").toggle()
    } else {
      $("#div_returned").hide()
    }

    // Actions.

    assignTableActions()

    $('#modal_evaluate').on('hidden.bs.modal', function (e) {
      // When the evaluation modal is closed, we replace the button to be colored.
      var appraisal_id = $("#in_appraisal_id").val();
      var url = "{% url 'ajax_evaluate_modal_close_url' %}";
      var form = $('#evaluate_form')
      $.ajax({
        url: url,
        type: 'post',
        data: form.serialize(),
        error: function () {
          alert("Error al cerrar la bitacora.");
          return false;
        },
        success: function (data) {
          replaceRow('table_sent',appraisal_id,data)
          assignTableActions()
        }
      });
      return false;
    })

    $('#logbook').on('hidden.bs.modal', function (e) {
      // When the logbook modal is closed, we delete the notifications
      // related to this appraisal. We also save the form.
      var appraisal_id = $("#in_appraisal_id").val();
      var url = "{% url 'ajax_logbook_close_url' %}";
      var form = $('#logbook_form')
      $.ajax({
        url: url,
        type: 'post',
        data: form.serialize(),
        error: function () {
            alert("Error al cerrar la bitacora.");
            return false;
        },
        success: function (data) {
          // everything is done in the view
        },
        complete: function (data) {
          // everything is done in the view
        }
      });
      return false;
    })

    $("#id_event").on('change', function (e) {
      var url = "{% url 'ajax_logbook_change_event_url' %}";
      $("#id_text").text('hola')
    });
  });

</script>

<script>
     //Handles the click true/false value of the appraisal evaluation form

  $('#evaluateAppraisal input').on('click',function(){
      var id = $(this).val();
      if (id == 'False'){
      $(this).val('True');
      }
      else {
      $(this).val('False');
      }
  });
</script>

<script>
    //Loads database values of the appraisal evaluation

    //gives appraisal and appraiser id to the input so the view knows wich appraisal and appraiser is receiving

  /*
  $(document).on('click','.evaluateAppraisal',function(){
      var id = $(this).val();
      var id2 = $(this).attr('id');
      $('#evaluadorAppraisal_id').val(id);
      $('#evaluador_id').val(id2);


      //takes the value of the data base in the data tags of the input and paste it in the corresponding appraisal evaluation
      var ontime = $(this).data('ontime');
      $('#id_onTime').val(ontime);
      var completeness = $(this).data('completeness');
      $('#id_completeness').val(completeness);
      var generalQ = $(this).data('generalquality');
      $('#id_generalQuality').val(generalQ);
      var correctS = $(this).data('correctsurface');
      $('#id_correctSurface').val(correctS);
      var completeN = $(this).data('completenormative');
      $('#id_completeNormative').val(completeN);
      var homologatedR = $(this).data('homologatedreferences');
      $('#id_homologatedReferences').val(homologatedR);
      var comment = $(this).data('commenttext');
      $('#id_commentText').val(comment);
      var feedback = $(this).data('commentfeedback');
      $('#id_commentFeedback').val(feedback);

      //this section makes the True values shows as checked and the false value as unchecked
      $( '#evaluateAppraisal input' ).each(function( index ) {
        var v = $(this).val();
          if (v == "False"){
            $(this).removeAttr('checked');
          }
          else{
            $('#evaluateAppraisal input').attr('checked');
          }
        });
      });
    */
</script>

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>