<tr>
    <th scope="col" style="width:40px">ID</th>
    <th scope="col" style="width:100px">Cliente</th>
    <th scope="col" style="width:80px">Código</th>
    <th scope="col" style="width:40px;text-align:center;">T.</th>
    <th scope="col" style="width:500px;">Dirección</th>
    <th scope="col" style="width:160px;">Tasador</th>
    {% if state != 4 %}
    <th scope="col" style="width:160px;">Visador</th>
    {% endif %}
    {% if state != 4 %}
    <th scope="col" style="width:65px;">Creada</th>
    {% endif %}
    {% if state == 4 %}
    <th scope="col" style="width:140px;">Entregada</th>
    <th scope="col" style="width:260px;"></th>
    {% elif state == 5 %}
    <th scope="col" style="width:100px;">Entrega</th>
    <th scope="col" style="width:100px;"></th>
    {% else %}
    <th scope="col" style="width:100px;">Entrega</th>
    <th scope="col" style="width:70px;"></th>
    {% endif %}    
</tr>