<td>
  <small><span class="id">{{ appraisal.id }}</span></small>
</td>
<td>
  <span class="solicitante">{{ appraisal.solicitanteVerboseShort }}</span>
</td>
<td>
  <small><span class="solicitanteCodigo">{{ appraisal.solicitanteCodigo }}</span></small>
</td>
<td class="propertyType" style="text-align:center;">
  {% include 'list/td_property_type_icon.html' %}
</td>
<td class="address">
  <a href="{{appraisal.url}}">
    {{ appraisal.address_no_region }}
  </a>
</td>
<td>
  <span style="vertical-align: middle;" class="tasadorUser">
    {% if appraisal.tasadorUser %}
      {{ appraisal.tasadorUser.first_name.0 }}. {{ appraisal.tasadorUser.last_name }}
    {% else %}
    -
    {% endif %}
  </span>
</td>
<td>
  <div class="row">
    <div class="col-auto">
      <span style="vertical-align: middle;" class="visadorUser">
      {% if appraisal.visadorUser %}
        {{ appraisal.visadorUser.first_name.0 }}. {{ appraisal.visadorUser.last_name.strip }}
      {% else %}
        -
      {% endif %}
      </span>
    </div>
  </div>
</td>
{% include 'list/appraisals_table_td_date_created.html' %}
<td class="dateDue">
{% if appraisal.daysLeft > 3 %}
  <p style="margin-bottom:0em;" class="font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
{% elif appraisal.daysLeft > 1 %}
  <p style="margin-bottom:0em;" class="text-warning font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
{% else %}
  <p style="margin-bottom:0em;" class="text-danger font-weight-bold">{{appraisal.timeDue|date:"d/m G:i"}}</p>
{% endif %}
</td>
<td style="text-align:right;">
  {% with table="active" %}
    {% include 'list/btn_logbook.html' %}
  {% endwith %}
</td>