<button type="button" id="{{appraisal.tasadorUser.id}}" 
        value="{{appraisal.id}}"
        class="btn {{appraisal.appraisalevaluation|yesno:"btn-success,btn-dark"}} btn-sm btn-evaluate btn_evaluate_modal"
        data-toggle="modal"
        data-target="#evaluateAppraisal"
        data-generalquality="{{appraisal.appraisalevaluation.generalQuality}}"
        data-ontime="{{appraisal.appraisalevaluation.onTime}}"
        data-completeness="{{appraisal.appraisalevaluation.completeness}}"
        data-correctsurface = "{{appraisal.appraisalevaluation.correctSurface}}"
        data-completenormative = "{{appraisal.appraisalevaluation.completeNormative}}"
        data-homologatedreferences = "{{appraisal.appraisalevaluation.homologatedReferences}}"
        data-commenttext="{{appraisal.appraisalevaluation.commentText}}"
        data-commentfeedback="{{appraisal.appraisalevaluation.commentFeedback}}"
        style="border:0px;width:25px;height:25px;padding:0em;">
  <i class="icon material-icons" style="font-size:15px;vertical-align: text-top;">assessment</i>
  <div class="ld ld-ring ld-spin" style="display:none;"></div>
</button>