{% extends "base/index.html" %}

{% block title %}Tasador{% endblock %}
{% load static %}
{% block head %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'list/css/modals_expenses.css' %}">
  <link rel="stylesheet" href="{% static 'list/css/table.css' %}">
  <link rel="stylesheet" href="{% static 'logbook/css/logbook.css' %}">
  <link rel="stylesheet" href="{% static 'appraisal/css/modals.css' %}">
  <link rel="stylesheet" href="{% static 'list/css/main.css' %}">
  <link rel="stylesheet" href="{% static 'list/css/modals.css' %}">
{% endblock %}

{% block content %}

{% load include_tags %}

<div class="container" style="max-width:100%">

  {% show_header "Tasaciones" %}

  {% include "list/notifications.html" %}

  {% include "list/appraisals.html" %}

  {% include "list/modals.html" %}

</div>

<script>
  $(document).ready(function($) {
    $('#modal_logbook').on('hidden.bs.modal', logbookClose)
  });
</script>

{% endblock %}