<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Seleccione un visador</h5>
      <button type="button" class="close" data-dismiss="modal">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="" method="post" id="form_assign_visador">
        {% csrf_token %}
        <div class="alert alert-primary text-center" id="ld-alert">
          <div class="ld ld-ring ld-spin" style="font-size:1.0em;"></div>
          Cargando visadores
          <div class="ld ld-ring ld-spin" style="font-size:1.0em;"></div>
        </div>

        <!--
        <input class="form-control mb-2" placeholder="Buscar visador" id="input_visador_buscar" style="display:none;">
        -->

        <table class="table table-sm table-borderless" id="table" style="display:none;">
          <thead>
            <tr>
              <th style="width:1em;"></th>
              <th style="width:10em;">Nombre</th>
              <th style="width:10em;" class="text-center">Tasaciones</th>
              <th style="width:1em;"></th>
            </tr>
          </thead>
          <tbody>
            {% for visador in visadores %}
            <tr class="visador">
              <td></td>
              <td>
                <div class="form-check">
                  <input class="form-check-input visador_radio" type="radio" name="visador" id="visador_radio_{{visador.user.id}}" value="{{visador.user.id}}" {% if visador.user.id == appraisal.visadorUser.id %} checked {% endif %}>
                  <label class="form-check-label" for="visador_radio" id="nombre" {% if visador.user.id == appraisal.visadorUser.id %} style="color:#0069d9;" {% endif %}>
                    {{visador.user.last_name}}, {{visador.user.first_name}}
                  </label>
                </div>
              </td>
              <td class="text-center">
                {{visador.activeAppraisals}}
              </td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="alert alert-warning text-center" id="alert_already_chosen" style="display:none;">
          Visador seleccionado es el actual visador
        </div>

        <div class="modal-footer">
          <input id="modal_assign_visador_appraisal_id" name="appraisal_id" type="hidden" value="">
          <input id="modal_assign_visador_appraisal_visador_id" name="appraisal_visador_id" type="hidden" value="{{appraisal.visadorUser.id}}">
          <input id="modal_assign_visador_source_table" name="source_table" type="hidden" value="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          {% if appraisal.visadorUser %}
          <button type="button" id="btn_unassign_visador" name="btn_unassign_visador" class="btn btn-danger ld-ext-right">
            Desasignar
            <div class="ld ld-ring ld-spin"></div>
          </button>
          {% endif %}
          <button type="button" id="btn_assign_visador" name="btn_assign_visador" class="btn btn-primary ld-ext-right">
            Asignar
            <div class="ld ld-ring ld-spin"></div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  /*
  var search = function(val) {
    val = val.toLowerCase()
    $("tr.visador").each(function() {
      if (!val) {
        $(this).show()
        return
      }
      var nombre = $(this).find("#nombre").html().trim();
      nombre = nombre.toLowerCase()
      if (nombre.indexOf(val) < 0) {
        $(this).hide()
      } else {
        $(this).show()
      }
    });
  }
  $("#input_visador_buscar").on('keyup',function() {
    val = $(this).val()
    search(val)
  })
  $("#input_visador_buscar").on('change',function() {
    val = $(this).val()
    search(val)
  })
  */
</script>