<!-- We don't include it to save loading time -->

<div class="modal" id="modal_logbook" tabindex="-1">
</div>

<div class="modal" id="modal_assign_tasador" tabindex="-1">
</div>

<div class="modal" id="modal_assign_visador" tabindex="-1">
  {% include 'list/modals/modal_assign_visador.html' %}
</div>

<div class="modal" id="modal_edit_address" tabindex="-1">
</div>

<div class="modal" id="modal_archive" tabindex="-1">
  {% include 'list/modals/modal_archive.html' %}
</div>

<div class="modal" id="modal_evaluate" tabindex="-1">
  {% include 'list/modals/modal_evaluate.html' %}
</div>

<div class="modal" id="modal_expenses" tabindex="-1">
</div>

<div class="modal" id="modal_unassign_tasador" tabindex="-1">
  {% include 'list/modals/modal_unassign_tasador.html' %}
</div>