<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Seleccione un tasador</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form action="" method="post" id="form_assign_tasador" data-commune-url="{% url 'ajax_load_communes' %}">
        {% csrf_token %}
        <div class="alert alert-primary text-center" id="ld-alert">
          <div class="ld ld-ring ld-spin" style="font-size:1.0em;"></div>
          Cargando tasadores
          <div class="ld ld-ring ld-spin" style="font-size:1.0em;"></div>
        </div>
        <input class="form-control mb-2" placeholder="Buscar tasador" id="tasador_buscar" style="display:none;"></input>
        <div class="form-row">
            <div class="form-group col-6" id="region_select">
              <label for="">Región</label>
              {{form.addressRegion.label_tag}}
              {{form.addressRegion}}
            </div>
            <div class="form-group col-6" id="commune_select">
              <label for="">Comuna</label>
              {{form.addressCommune.label_tag}}
              {{form.addressCommune}}
            </div>
          </div>
        <div class="alert alert-secondary">
          Al momento de asignar un tasador, éste será notificado por correo electrónico. El tasador luego deberá aceptar la solicitud.
        </div>

        <table class="table table-sm table-borderless" id="table" style="display:none;">
          <thead>
            <tr>
              <th style="width:1em;"></th>
              <th style="width:10em;">Nombre</th>
              <th style="width:10em;" class="text-center">Tasaciones</th>
              <th style="width:1em;"></th>
            </tr>
          </thead>
          <tbody>
            {% for tasador in tasadores %}
            <tr id="tasador_id" class="tasador" id_region="{{tasador.user.user.addressRegion.id}}" id_commune="{{tasador.user.user.addressCommune.id}}">
              <td></td>
              <td id="tasador">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tasador" id="tasador_radio" value="{{tasador.user.id}}">
                  <label class="form-check-label" for="tasador_radio" id="nombre">
                    {{tasador.user.last_name}}, {{tasador.user.first_name}}
                  </label>
                </div>
              </td>
              <td class="text-center">
                {{tasador.activeAppraisals}}
              </td>
              <td></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="modal-footer">
          <input id="modal_assign_tasador_appraisal_id" name="appraisal_id" type="hidden" value="">
          {% if appraisal.tasadorUser %}
          <button name="btn_unassign_tasador" class="btn btn-danger mr-5">Desasignar</button>
          {% endif %}
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" id="btn_assign_tasador" name="btn_assign_tasador" class="btn btn-primary ld-ext-right">
            Asignar
            <div class="ld ld-ring ld-spin"></div>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  var search = function(val) {
    val = val.toLowerCase()
    $("tr.tasador").each(function() {
      if (!val) {
        $(this).show()
        return
      }
      var nombre = $(this).find("#nombre").html().trim();
      nombre = nombre.toLowerCase()
      if (nombre.indexOf(val) < 0) {
        $(this).hide()
      } else {
        $(this).show()
      }
    });
  }
  $("#tasador_buscar").on('keyup',function() {
    val = $(this).val()
    search(val)
  })
  $("#tasador_buscar").on('change',function() {
    val = $(this).val()
    search(val)
  })
</script>

<script>
  $("#id_addressRegion").change(function () {
    // get the url of the `load_cities` view
    var url = $("#form_assign_tasador").attr("data-commune-url");
    // get the selected country ID from the HTML input
    var regionId = $(this).val();

    // initialize an AJAX request
    $.ajax({
      // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
      url: url,
      // add the country id to the GET parameters
      data: {
        'region': regionId
      },
      success: function (data) {
        // `data` is the return of the `load_cities` view function
        // replace the contents of the city input with the data that came from the server
        $("#id_addressCommune").html($.trim(data));
      }
    });
  });
</script>

<script>
  $("#id_addressRegion").change(function() {
  var region = $(this).val();

  function validateRow(table) {
        table.find('tr[class="tasador"]').each(function(i, el) {
            if (el.getAttribute('id_region') != region){
                $(el).hide();
                }
            else {
                $(el).show();
                }
        });
    }
  jQuery('tbody').each(function(i, el) {
        validateRow(jQuery(this));
    }).find('tr[id_region="tasador"]').change(function() {
        validateRow(jQuery(this).closest('tr'));
    });

  })
</script>

<script>
  $("#id_addressCommune").change(function() {
  var commune = $(this).val();
  console.log(commune);

  function validateRow(table) {
        var valid = true;

        table.find('tr[class="tasador"]').each(function(i, el) {
            if (el.getAttribute('id_commune') != commune){
                $(el).hide();
                }
            else {
                $(el).show();
                }

        });
    }

  jQuery('tbody').each(function(i, el) {
        validateRow(jQuery(this));
    }).find('tr[id_region="tasador"]').change(function() {
        validateRow(jQuery(this).closest('tr'));
    });

  })
</script>