<div class="modal" id="modal_logbook" tabindex="-1">
  <!-- We don't include it to save loading time -->
</div>

<div class="modal" id="modal_assign_tasador" tabindex="-1">
  {% include 'list/modal_assign_tasador.html' %}
</div>

<div class="modal" id="modal_assign_visador" tabindex="-1">
  {% include 'list/modal_assign_visador.html' %}
</div>

<div class="modal" id="modal_archive" tabindex="-1">
  {% include 'list/modal_archive.html' %}
</div>

<div class="modal" id="modal_evaluate" tabindex="-1">
  {% include 'list/modal_evaluate.html' %}
</div>

<div class="modal" id="modal_unassign_tasador" tabindex="-1">
  {% include 'list/modal_unassign_tasador.html' %}
</div>

<div class="modal" id="modal_unassign_visador" tabindex="-1">
  {% include 'list/modal_unassign_visador.html' %}
</div>

<script>
  $('#modal_assign_visador').on('show.bs.modal', function (e) {
    console.log("show.bs.modal")
  })
  $('#modal_assign_visador').on('shown.bs.modal', function (e) {
    console.log("shown.bs.modal")
  })
  $('#modal_assign_visador').on('hide.bs.modal', function (e) {
    console.log("hide.bs.modal")
  })
  $('#modal_assign_visador').on('hidden.bs.modal', function (e) {
    console.log("hidden.bs.modal")
  })
</script>